@charset "utf-8";

html {
	font-size: 100px;
}
body, html {
	color: #6d6d6d;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
body{
  font-size: .16rem;
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a, nav{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
a {
	color: #9D9D9D;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
}
a:active, a:hover {
	color: #B39C6C;
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
input,button,textarea{
	font-family: 'Microsoft yahei';
  outline: 0;
}
em,h3{
	font:inherit;
  font-weight: normal;
}
.c01{
	color: #16438c;
}
.tc{
	text-align: center;
}
.hide-mb {
	display: block;
}
.hide-pc {
	display: none;
}
/*--------------头部*--------------*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	height: 130px;
	background-color: rgba(170, 132, 65, .3);
}
.header .logo{
  float: left;
  width: 260px;
  padding-top: .4rem;
  text-align: center;
}
.header .logo img{
  width: 1.8rem;
}
.header .container {
  margin: 0 auto;
}
/*导航*/
.nav{
  float: left;
  padding-left: 50px;
  padding-right: 8px;
}
.nav li{
  display: inline-block;
  padding: 0 40px;
  text-align: center;
  font-size: 18px;
  height:  130px;
  line-height: 130px;
}
.nav li.active,
.nav li:hover{
  background-color: #9A917F;
}
.nav li > a{
  display:block;
  color: #fff;
}
.hd-lang{
  float: right;
  padding-top: 42px;
}
.hd-lang button{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid  #fff;
  background: transparent;
  color:  #fff;
  margin: 0 3px;
  cursor: pointer;  
}
.hd-lang button.active{
  border: none;
  background-color: #A08347;
  font-size:  16px;
}
/*二级导航*/
.nav-sub-arrow{
  position: relative;
}
.nav-sub-wrap{
  position: absolute;
  display:  none;
  top: 130px;
  left: 0;
  right: 0;
  background-color: #9A917F;
}
.nav-sub{
  text-align: center;
}
.nav-sub dl{
  text-align: center;
}
.nav-sub dl dd{
  height: 70px;
  line-height: 70px;
}
.nav-sub dl dd a{
  color: #fff;
}
.nav-sub dl dd:hover {
  background-color: #fff;
}
.nav-sub dl dd:hover a{
  color: #AA8441;
}
/*适配全局宽度*/
.mainer{
  width: 13rem;
  margin: 0 auto;
  position: relative;
}
/*--------------banner--------------*/
.swiper01 {
	width: 100%;
}
.swiper01 .swiper-slide {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.swiper01 .swiper-button-next,
.swiper01 .swiper-button-prev{
  opacity: 1;
  width: .63rem;
  height: .63rem;
  left: .25rem;
  background-image: url(../images/swiper-button-prev.png);
  background-size: 100%;
  margin-top: .25rem;
  cursor: pointer
}
.swiper01 .swiper-button-next{
  right: .25rem;
  left: auto;
  background-image: url(../images/swiper-button-next.png);
}
.banner-text-wrap{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.banner-text{
  max-width: 4.5rem;
  color: #999;
}
.banner-text h2{
  font-weight: normal;
	color: #333;
  font-size: .38rem;
}
.banner-text h2 em{
  display: block;
	color: #828282;
  font-size: .2rem;
}
.banner-text p{
	padding: .25rem 0;
}

/*--------------搜索栏--------------*/
.search-bar{
  position: relative;
  z-index: 999;
  width: 9.8rem;
  padding: 0 .7rem;
  height: .85rem;
	background-color: rgba(170, 132, 65, .3);
  margin: -.4rem auto 0;
}
.search-bar input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  line-height: .85rem;
  border: none;
  font-size: .2rem !important;
  color: #fff;
}
.search-bar input::-webkit-input-placeholder {
  color:#fff;
}
.search-bar button{
  position: absolute;
  top: 0;
  right: .7rem;
  width: 0.28rem;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/search-bar.png);
}


/*--------------商品类别--------------*/
.goods-list{
	background-color: #f2f2f2;
	padding: 1rem 0;
}
.swiper03{
	padding: 10px;
}
.swiper03 .swiper-slide{
	background-color: #fff;
}
.swiper03 .swiper-slide:hover{
	box-shadow: 0 0 .2rem 0 #ccc;
}
.swiper03 .swiper-slide .goods-info{
	background-color: #FBFBFB;
	padding: 20px;
	color: #9d9d9d;
}
.swiper03 .swiper-slide .goods-info a{
	color: #9d9d9d;
	float: right;
	margin-top: -30px;
	border-bottom: 3px solid #B29B6B;
}
.swiper03 .swiper-slide .goods-info h3{
	color: #6d6d6d;
	font-size: .22rem;
	font-weight: normal;
}
.swiper03 .swiper-slide .goods-info span em{
	display: block;
}
.swiper05 .swiper-pagination-bullet-active,
.swiper05 .swiper-pagination-bullet,
.swiper02 .swiper-pagination-bullet-active,
.swiper02 .swiper-pagination-bullet,
.swiper03 .swiper-pagination-bullet-active,
.swiper03 .swiper-pagination-bullet {
	width: 6px !important;
	height: 6px !important;
	border-radius: 50% !important;
	background: rgba(160, 130, 70, .6) !important;
	margin: 0 5px !important;
	opacity: 1;
}
.swiper05 .swiper-pagination-bullet-active,
.swiper02 .swiper-pagination-bullet-active,
.swiper03 .swiper-pagination-bullet-active {
	background: rgba(160, 130, 70, 1) !important;
}
.swiper03.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0;
}
.swiper03-button-next-outside,
.swiper03-button-prev-outside{
  z-index: 999999;
  position: absolute;
  opacity: 1;
  width: .62rem;
  height: 1.18rem;
  top: 2rem;
  left: -0.8rem;
  background-image: url(../images/swiper-button-prev2.png);
  background-size: 100%;
  cursor: pointer;
}
.swiper03-button-next-outside{
  right: -.8rem;
  left: auto;
  background-image: url(../images/swiper-button-next2.png);
}
/*--------------footer--------------*/
.footer-wrap{
	padding-top: .4rem;
	height: 8rem;
	background-image: url(../images/footer.jpg);
	color: #fff;
}
.footer{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.footer .ft-col-02,
.footer .ft-col-01{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.footer .ft-col-03{
	width: 1.5rem;
}
.footer .ft-title{
	font-size: .24rem;
	height: 1rem;
}
.footer .ft-title:after{
	content: '';
	width: 1px;
	height: .5rem;
	background-color: #ffffff;
	display: block;
	margin-left: 5px;
	margin-top: 5px;
}
.footer .ft-link a{
	display: inline-block;
	width: 1.88rem;
	color: #fff;
	margin-top: .1rem;
}
.footer .ft-link a.divide{
	display: block;
}
.footer .ft-link a.line{
	display: block;
	width: 2.1rem;
}
.footer .ft-link a em{
	font-size: .12rem;
	display: block;
}


.footer .ft-contact li{
	margin-top: .1rem;
}
.footer .ft-contact li em{
	font-size: .12rem;
	display: block;
}
.footer .ft-contact li.add:before,
.footer .ft-contact li.tel:before{
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../images/icon-tel.png);
	vertical-align: middle;
}
.footer .ft-contact li.add:before{
	background-image: url(../images/icon-add.png);
}
.footer .ft-contact li.phone-num{
	margin-top: .3rem;
}
.footer .ft-qr li{
	display: block;
	margin-bottom: .3rem;
	text-align: center;
}
.footer .ft-qr li img{
	margin-bottom: 5px;
	display: block;
	overflow: hidden;
	padding: 0;
}
.footer .ft-logo{
	margin-top: 1.1rem;
}
.footer .ft-logo img{
	width: 260px;
}


/*--------------我们在等你--------------*/
.wait{
  padding: .5rem 0;
  background-image: url(../images/wood.png);
  background-position: right center;
  background-size: 30%;
}
.lookfor{
  background-image: url(../images/holly.png);
}
.wait h3{
  font-size: .3rem;
  color: #6d6d6d;
  position: relative;
}
.wait h3 em{
  font-size: .16rem;
  color: #9d9d9d;
  display:  block;
}
.wait h3:after{
  content: '';
  width: .36rem;
  height: .22rem;
  display: block;
  background-image: url(../images/arrow-title.png);
  background-size: 100%;
  position: absolute;
  top: 0.8rem;
  left: 0;
}


/*--------------今日头条--------------*/
.today-wrap{
  margin-top: .4rem;
  position: relative;
  height: 1.75rem;
}
.today-wrap:after{
  position: absolute;
  top: -0.2rem;
  left: 0;
  content: '';
  display: block;
  z-index: -1;
  background-color: #9A917F;
  height: 100%;
  width: 50%;
}
.today h3{
  font-size: .5rem;
  color: #fff;
}
.today h3 em{
  font-size: .38rem;
  color: #fff;
  opacity: .4;
  display:  block;
}
.today h3 em:after{
  content: '';
  margin-top: .1rem;
  display: block;
  width: 1.8rem;
  height: 4px;
  background-color: #fff;
}

/*--------------头条列表--------------*/
.news-wrap{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.news-wrap .news-left{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  padding-right: 1.6rem;
}
.news-wrap .news-right{
  width: 3.68rem;
}

.news-pic01 li{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  padding: .3rem 0;
  border-bottom: 1px solid  #E4E4E4;
}
.news-pic01 li label{
  width: 2.6rem;
}
.news-pic01 li span{
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  padding: .4rem .6rem;
}
.news-pic01 li span em{
  display: block;
  margin-top: .5rem;
}
.news-pic01 li span p{
  font-size: .28rem;
  color: #333;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
.news-pic02 li{
  margin-top: .5rem;
}
.news-pic02 span{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: .28rem;
}

/*--------------我们的团队--------------*/

.swiper02{
  padding-top: 1.5rem;
}
.swiper02 .swiper-slide{
  -webkit-transform:scale(0.8);
  -webkit-transition: all linear 0.6s;
}
.swiper02 .swiper-slide-active{
  -webkit-transform:scale(1.0);
  margin-top: -100px;
  -webkit-transition: all linear 0.6s;
  box-shadow: 10px 10px 0 0 rgba(155, 145, 127, .5);
}



.team-wrap{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.team-wrap .team-info{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.team-swiper{
  width: 8.2rem;
  padding-top: 1rem;
}
.team-wrap .team-info .team-text{
  padding-top: 2.3rem;
  padding-right: 1rem;
}
.team-wrap .team-info .team-text h3{
  font-size: .24rem;
}
.team-wrap .team-info .team-text h3 em{
  display: block;
  font-size: .2rem;
}
.team-wrap .team-info .team-text p{
  margin: .2rem 0;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}
.team-wrap .team-info .team-text a{
  display: block;
  float: right;
  width: auto;
  text-align: center;
  border-bottom: 3px solid  #B39C6C;
}
.team-wrap .team-info .team-title{
  padding-top: 1rem;
}
.team-wrap .team-info .team-title h3{
  font-size: .5rem;
  color: #A08347;
  position: relative;
}
.team-wrap .team-info .team-title h3:after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -.8rem;
  left: .8rem;
  width: 3.68rem;
  height: 3.1rem;
  background-image: url(../images/w.png);
  background-size: 100%;
}
.team-wrap .team-info .team-title h3 em{
  position: absolute;
  display: block;
  font-size: .38rem;
  width: auto;
  border-bottom: 4px solid  #A08347;
  color: rgba(160,131,71,.5);
}

.swiper02 .swiper-button-next,
.swiper02 .swiper-button-prev{
  opacity: 1;
  width: .5rem;
  height: .7rem;
  background-image: url(../images/arrow-team-prev.png);
  background-size: 100%;
  margin-top: -.95rem;
  cursor: pointer
}
.swiper02 .swiper-button-next{
  background-image: url(../images/arrow-team-next.png);
}

.blank{
  height: .5rem;
}
.blank2{
  height: 2rem;
}

/*--------------关于我们--------------*/
.aboutus-title{
  padding-top: 1rem;
  height: 3.1rem
}
.aboutus-title h3{
  font-size: .5rem;
  color: #A08347;
  position: relative;
}
.aboutus-title h3:after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -.8rem;
  left: .8rem;
  width: 3.68rem;
  height: 3.1rem;
  background-image: url(../images/g.png);
  background-size: 100%;
}
.aboutus-title h3 em{
  position: absolute;
  display: block;
  font-size: .38rem;
  width: auto;
  border-bottom: 4px solid  #A08347;
  color: rgba(160,131,71,.5);
}
.aboutus-wrap{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.aboutus-wrap .aboutus-text{
  flex: 0 0 60%;
  padding-left: 2rem;
  padding-top: 1.5rem;
  margin-bottom: .5rem;
}
.aboutus-wrap .aboutus-pic{
  flex: 0 0 35%;
}
.aboutus-wrap .aboutus-text h3{
  font-size: .24rem;
  position: relative;
}
.aboutus-wrap .aboutus-text h3:after,
.aboutus-wrap .aboutus-text h3:before{
  content: '';
  height: 2px;
  background-color: #B19968;
  width: 1.8rem;
  position: absolute;
  left: -2rem;
  top: .2rem;
}
.aboutus-wrap .aboutus-text h3:after{
  width: 0.8rem;
  left: -1.0rem;
  top: .5rem;
}
.aboutus-wrap .aboutus-text h3 em{
  position: absolute;
  top: 1.1rem;
  left: -2rem;
  font-size: .18rem;
}
.aboutus-wrap .aboutus-text h3 label{
  display: block;
  font-size: .16rem;
  color: #9D9D9D;
}
.aboutus-wrap .aboutus-text h3 em:after{
  content: '';
  height: .5rem;
  background-color: #B19968;
  width: 2px;
  position: absolute;
  left: 0;
  top: .6rem;
}
.aboutus-wrap .aboutus-text p{
  margin-top: .3rem;
  color: #9d9d9d;
  line-height: 1.6;
  text-align:justify;
}
.aboutus-wrap .aboutus-text a{
  display: block;
  float: right;
  width: auto;
  text-align: center;
  border-bottom: 3px solid  #B39C6C;
}

.aboutus-wrap .text-reverse{
  padding-right: 2rem;
  padding-left: 0;
}
.aboutus-wrap .text-reverse h3{
  text-align: right;
}

.aboutus-wrap .text-reverse h3:after,
.aboutus-wrap .text-reverse h3:before{
  right: -2rem;
  left: auto;
}
.aboutus-wrap .text-reverse h3:after{
  right: -1.0rem;
  left: auto;
}
.aboutus-wrap .text-reverse h3 em{
  right: -2rem;
  left: auto;
}
.aboutus-wrap .text-reverse h3 em:after{
  right: 0;
  left: auto;
}
.flex-reverse{
  flex-direction: row-reverse; 
}

/*--------------我们的项目--------------*/
.projects-title{
  padding-top: 1rem;
  width: 2.52rem;
  margin: 1.5rem auto;
}
.projects-title h3{
  font-size: .5rem;
  color: #A08347;
  position: relative;
}
.projects-title h3:after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -1.6rem;
  left: 1.0rem;
  width: 3.68rem;
  height: 3.1rem;
  background-image: url(../images/w.png);
  background-size: 100%;
}
.projects-title h3 em{
  position: absolute;
  display: block;
  font-size: .38rem;
  width: auto;
  border-bottom: 4px solid  #A08347;
  color: rgba(160,131,71,.5);
}

/*--------------swiper05--------------*/
.swiper05 .swiper-wrapper{
    padding-bottom: .25rem;
}
.swiper05.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0;
}
.swiper05 .swiper-slide span{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  padding-left: .15rem;
  background-color: rgba(160,131,71,.4);
}
.swiper05 .swiper-slide span a{
	float: right;
	color: #fff;
	display: block;
	padding-right: .5rem;
	position: relative;
}

.swiper05 .swiper-slide span a:after{
	position: absolute;
	top: .2rem;
	right: .2rem;
	content: '';
	display: block;
	width: .3rem;
	height: .54rem;
	background-image: url(../images/arrow-project.png);
	background-size: 100%;
}

/*--------------新闻详情--------------*/
.news-detail{
	color: #333;
}
.news-detail h3{
	padding-top: .5rem;
	padding-bottom: .3rem;
	text-align: center;
	font-size: .28rem;
	border-bottom: 1px solid  #E6E6E6;
	color: #333;
}
.news-detail h5{
	font-weight: normal;
	text-align: center;
	padding: .2rem 0;
}

/*--------------国际商城--------------*/
.goods-show-wrap{
	background-color: #F2F2F2;
	padding: 1.3rem 0;
}
.goods-show ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.goods-show li{
	flex: 0 0 -webkit-calc(33.333% - .6rem);
	background-color: #FBFBFB;
	margin-bottom: .9rem;
	text-align: center;
	margin-right: .9rem;
}
.goods-show li:nth-child(3n){
	margin-right: 0;
}
.goods-show li .goods-info{
	background-color: #FBFBFB;
	padding: 20px;
	color: #9d9d9d;
	text-align: left;
}
.goods-show li .goods-info a{
	color: #9d9d9d;
	float: right;
	margin-top: -30px;
	border-bottom: 3px solid #B29B6B;
}
.goods-show li .goods-info h3{
	color: #6d6d6d;
	font-size: .22rem;
	font-weight: normal;
	padding-bottom: .2rem;
}
.goods-show li .goods-info span em{
	display: block;
}
.goods-show li:hover{
	box-shadow: 0 0 .2rem 0 #ccc;
}
/*翻页*/
.news-page{
  margin: 0 0px;
  text-align: center;
}
.news-page span,
.news-page a{
  display: inline-block;
  width: .5rem;
  height: .5rem;
  line-height: .5rem;
  border-radius: 50%;
  margin: 0 .1rem;
  text-align: center;
	background-color: #CFCBC4;
	font-size: .24rem;
  color: #fff;
}
.news-page a:hover,
.news-page .current{
	background-color: #ACA496;
  border:none;
}

/*goods-tabs*/
.goods-tabs{
	margin: .7rem 0;
}
.goods-tabs a{
	display: inline-block;
	width: 1.6rem;
	border-bottom: .06rem #C8C8C8 solid;
	text-align: center;
	padding: .2rem 0;
	margin-left: -.05rem;
	font-size: .27rem;
}
.goods-tabs a.active{
	color: #9A917F;
	border-bottom-color: #A08347;
}

/*--------------商会--------------*/
.business{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
  justify-content: space-between;
	padding: 1rem 0;
}
.business .business-text,
.business .business-pic{
	flex: 0 0 50%;
}
.business .business-pic{
	text-align: right;
}
.business .business-text{
	padding: .5rem .9rem 0;
}
.business .business-text h3{
	font-size: .36rem;
	position: relative;
}
.business .business-text h3:after{
	content: '';
	display: block;
	height: 6px;
	background-color: #A08347;
	position: absolute;
	top: .5rem;
	left: 0;
	width: 1.45rem;
}
.business .business-text h3 em{
	display: block;
	margin-top: 0.15rem;
	font-size: .18rem;
	color: #A08347;
}

.business .business-text .biz-intro{
	padding-top: .5rem;
	color: #9D9D9D;
	line-height: 1.8;
}

.brand-bg{
	background-color: #F5F5F5;
}
.brand-bg .business{
	flex-direction: row-reverse; 
}

/*arrows*/
.arrows{
	margin-top: -.7rem;
	padding-left: .9rem;
	padding-bottom: .7rem;
}
.arrows:before,
.arrows:after,
.arrows em{
	content: '';
	display: block;
	width: .36rem;
	height: .22rem;
	background-image: url(../images/arrow-title.png);
}
.arrows:after{
	margin-top: .2rem;
}

/*--------------加入我们--------------*/
.join-us-title{
	padding-top: .7rem;
	padding-bottom: .5rem;
	text-align: center;
	font-size: .38rem;
}

.join-us-title em{
	display: block;
	font-size: .18rem;
	color: #A08347;
}

.joinus-wrap{
	padding: 1rem 0;
	background-image: url(../images/joinus-bg.png);
	background-size: cover
}

.join-us{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	justify-content: space-between;
}
.join-us .join-us-left{
	flex: 0 0 62%
}
.join-us .join-us-right{
	flex: 0 0 35%;
	background-color: rgba(76,76,76,.6);
}
.join-us .message{
	padding: .4rem .6rem .2rem;
	color: #fff;
}
.join-us .message h3{
	font-size: .24rem;
	padding-bottom: .4rem;
}
.join-us .message li{
	padding-bottom: .2rem;
}
.join-us .message li label{
	display: block;
	padding-bottom: .1rem;
}
.join-us .message li textarea,
.join-us .message li input{
	background-color: rgba(63,63,63,.9);
	width: 100%;
	height: .6rem;
	line-height: .6rem;
	padding: .1rem .2rem;
	border: none;
	color: #fff;
}
.join-us .message li textarea{
	height: 1.26rem;
	line-height: normal;
}
.join-us .message .btn-tj{
	margin: 0 auto;
	width: 2.3rem;
	height: .6rem;
	display: block;
	border: none;
	background-color: #AA8441;
	text-align: center;
	color: #fff;
	font-size: .18rem;
}
.join-us .jbox{
	background-color: rgba(76,76,76,.6);
	padding: .6rem;
	color: #fff;
}
.join-us .jbox h3{
	font-size: .24rem;
	padding-bottom: .2rem;
}
.join-us .jbox li{
	margin-bottom: .1rem;
	padding-left: .4rem;
}
.join-us .j-mt{
	margin-top: .15rem;
}
.join-us .j-contact li i{
	display: inline-block;
	margin-right: .1rem;
	width: .2rem;
	height: .2rem;
	vertical-align: middle;
	background-size: 100%;
}
.join-us .j-contact .icon-join01{
	background-image: url(../images/icon-join01.png);
}
.join-us .j-contact .icon-join02{
	background-image: url(../images/icon-join02.png);
}
.join-us .j-contact .icon-join03{
	background-image: url(../images/icon-join03.png);
}
.join-us .j-contact .icon-join04{
	background-image: url(../images/icon-join04.png);
}
.join-us .j-contact dl{
	position: absolute;
	top: 0.8rem;
	left: 3.8rem;
}
.join-us .j-contact dl dd{
	display: inline-block;
	text-align: center;
	width: 1rem;
	margin: 0 10px;
}
.join-us .j-bus{
	padding-left: .4rem;
	line-height: 1.8;
	position: relative;
}
.join-us .j-bus:after{
	content: '';
	display: block;
	width: .22rem;
	height: .22rem;
	background-image: url(../images/icon-bus.png);
	background-size: 100%;
	position: absolute;
	top: .5rem;
	left: .1rem;
}

/*--------------商品开发--------------*/
.development-wrap{
	padding: .8rem 0 0;
	background-color: #FFFCF7;
}
.development ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.development li{
	flex: 0 0 -webkit-calc(33.333% - .6rem);
	margin-bottom: .5rem;
	text-align: center;
	margin-right: .9rem;
}
.development li:nth-child(3n){
	margin-right: 0;
}
.development li span{
	display: block;
	padding-top: .1rem;
}

.development-title{
	padding-top: .5rem;
	color: #9A917F;
	font-size: .39rem;
	text-align: center;
}
.development-title em{
	display: block;
	padding-top: .1rem;
	font-size: .22rem;
	color: #9d9d9d;
}
.development-pic{
	padding: .5rem 0;
}
.arrows-center{
	padding: .3rem 0;
	text-align: center;
}
.arrows-center:before,
.arrows-center:after{
	content: '';
	display: block;
	width: .36rem;
	height: .22rem;
	background-image: url(../images/arrow-title.png);
	margin: 0 auto;
}
.arrows-center:after{
	margin-top: -.1rem;
}

/*--------------授权中心--------------*/
.brand-bg .auth .business-text{
    padding: .5rem 1.8rem 0 0;
}
.auth .business-text{
    padding: .5rem 0 0 1.8rem;
}
.auth .business-text h3{
    padding-top: .3rem;
    padding-bottom: .5rem;
}
.auth .business-text h3 em{
    margin-top: -0.9rem;
}
.auth .business-text h3:after{
    margin-top: -0.8rem;
}
.btn2{
	display: block;
	width: 1.7rem;
	height: .6rem;
	line-height: .6rem;
	background-color: #A08347;
	border: none;
	text-align: center;
	color: #fff;
	font-size: .2rem;
	margin-top: .2rem;
	cursor: pointer;
}

/*--------------我们授权的宗旨--------------*/
.purpose{
	padding: .8rem 0;
}
.purpose ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.purpose ul li{
	flex: 0 0 2.3rem;
	text-align: center;
	font-size: .2rem;
}
.purpose ul li i{
	width: 2.3rem;
	height: 2.3rem;
	background-color: #E6F3FF;
	border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	margin-bottom: .28rem;
}
.purpose ul li i.icon-auth01{
	background-image: url(../images/icon-auth01.png);
}
.purpose ul li i.icon-auth02{
	background-image: url(../images/icon-auth02.png);
}
.purpose ul li i.icon-auth03{
	background-image: url(../images/icon-auth03.png);
}

.development .dev-info{
	padding: .2rem .1rem;
	background-color: #fff;
}
.development .dev-info h3{
	font-size: .26rem;
	text-align: left;
	margin-bottom: .2rem;
}
.development .dev-info p{
	color: #9d9d9d;
	font-size: .16rem;
	line-height: 1.6;
}
.development .btn-wrap{
	display: block;
	text-align: center;
	padding-top: .3rem;
}

.development .btn-wrap .btn2{
	margin: 0 auto;
}
.ent li .dev-box{
	box-shadow: 0 0 30px 0 rgba(160,131,71,.2);
}

/*--------------我们的规范--------------*/
.plan{
	padding: .5rem 0;
}
.plan ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.plan li{
	max-width: 3.6rem;
	margin: 0 .3rem;
	margin-bottom: .5rem;
	text-align: center;
	background-color: #F2F2F2;
}
.plan li h3{
	font-size: .28rem;
	color: #9D9D9D;
	text-align: left;
	position: relative;
}
.plan li h3 em{
	display: block;
	font-size: .2rem;
	color: #A08347;
	padding-top: .2rem;
}
.plan li h3:after{
	content: '';
	display: block;
	height: 6px;
	background-color: #A08347;
	position: absolute;
	top: .4rem;
	left: 0;
	width: 1.45rem;
}
.plan .plan-info{
	padding: .4rem;
}

/*--------------文旅板块--------------*/

.plan-tabs{
	margin-top: 1rem;
}
.plan-tabs ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.plan-tabs li{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	background-color: #fff;
	padding: .2rem 0 .38rem 1rem;
	cursor: pointer;
}
.plan-tabs li.curr{
	color: #fff;
	background-color: #E5DAC6;
}
.plan-tabs li h3{
	font-size: .45rem;
	position: relative;
}
.plan-tabs li h3 i{
	font-size: .70rem;
	font-style: normal;
}
.plan-tabs li h3:after{
	content: '';
	display: block;
	height: 3px;
	background-color: #9D9D9D;
	position: absolute;
	top: 1.28rem;
	left: 0;
	width: 2.9rem;
}
.plan-tabs li.curr h3:after{
	background-color: #fff;
}
.plan-tabs li h3 em{
	font-size: .2rem;
	display: block;
	padding-top: .12rem;
}

/*-----------------授权中心-3级----------------*/
.sub-auth-info{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.sub-auth-info .sub-right,
.sub-auth-info .sub-left{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.sub-auth-info .sub-left{
	padding-right: .4rem;
	color: #9D9D9D;
	font-size: .14rem;
}

.sub-auth-info h3{
	margin-top: .5rem;
	margin-left: .2rem;
	background-color: #E5DAC6;
	width: 6rem;
	height: 2.45rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; 
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column;
	font-size: .38rem;
	color: #AA8441;
	position: relative;
}
.sub-auth-info h3:after{
	content: '';
	display: block;
	position: absolute;
	border: 2px solid #B29053;
	top: .2rem;
	left: -.2rem;
	width: 6rem;
	height: 2.45rem;
}

.sub-auth-info h3 em{ 
	display: block;
	font-size: .14rem;
}

.auth-apply{
	text-align: center;
}

/*-----------------团队详情-3级----------------*/
.team-info{
	background-color: #EFEFEF;
	height: 3.68rem;
	padding: .6rem 1.1rem;
	width: 88%;
	margin: 0 auto 2.2rem;
	font-size: .2rem;
	position: relative;
}
.more-info{
	width: 78%;
}
.team-detail-info h5{
	color: #A08347;
	font-size: 0.2rem;
	margin-bottom: .1rem;
}
.team-detail-info h3{
	margin-top: 1.2rem;
	background-color: rgba(170,132,65,.3);
	width: 4.9rem;
	height: 2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column;
	font-size: .38rem;
	color: #AA8441;
	position: relative;
	z-index: 99;
}
.team-detail-info h3:after{
	content: '';
	display: block;
	position: absolute;
	border: 2px solid #B29053;
	top: -0.3rem;
	left: 0.2rem;
	width: 4.9rem;
	height: 2rem;
}
.team-detail-info p{
	padding-right: 48%;
	font-size: .16rem;
}
.team-detail-info img{
	position: absolute;
	top: 0.6rem;
	right: 1rem;
	z-index: 0;
}











