/*hide and show*/
.hide-mb {
	display: block;
}
.hide-pc {
	/* display: none; */
}


/*-----------------------pc 大于1400px-----------------------*/
@media (min-width: 1360px){
	.header .container {
		width: 1400px;
	}
  .banner-text{
    margin-top: .5rem;
    margin-left: 0.5rem;
  }
}

/*-----------------------pc 大于820px 小于1320px----------------------*/
@media (max-width: 1360px) and (min-width: 820px) {
	.nav li{
    padding: 0 20px 0;
  }
  .nav-sub dl dd{
    padding-right: 10px;
    font-size: 14px;
  }
  html{
    font-size: 80px;
  }
  .banner-text{
    margin-top: 1rem;
    margin-left: 2rem;
  }
}

/*-----------------------iphone 小于820px----------------------*/
@media (max-width: 820px){
  html{
    font-size: 50px;
  }
	.team-detail-info p{
		padding: 0;
	}
	.team-detail-info{
		padding: .3rem;
		min-height: 3.3rem;
	}
	.more-info{
		min-height: 2.3rem;
		margin-bottom: 1rem;
		width: 82%;
	}
	.more-info h3{
		position: static;
		width: auto;
		height: 1.5rem;
	}
	.more-info h3:after{
		display: none;
	}
	.blank2{
		height: .8rem;
	}
	.sub-auth-info .sub-left {
		padding: 0;
	}
	.sub-auth-info h3:after{
		display: none;
	}
	.sub-auth-info h3{
		margin: .3rem 0;
		width: auto;
		height: 2rem;
	}
	.plan-tabs li {
    padding: .2rem 0 .38rem .1rem;
	}
	.plan-tabs li h3:after {
    width: 95%;
	}
	.ent li {
		flex: 0 0 100% !important;
	}
	.brand-bg .auth .business-text {
		padding: .5rem 0 0 0;
	}
	.development-pic {
		padding: .2rem 0;
	}
	.development li{
		flex: 0 0 -webkit-calc(33.333% - .2rem);
		margin-right: .3rem;
	}
	.development-wrap {
		padding-top: .1rem;
	}
	.join-us .join-us-right{
		margin-top: .15rem;
	}
	.joinus-wrap {
		padding: .5rem 0;
	}
	.arrows {
		margin-top: -.2rem;
		padding-bottom: .2rem !important;
	}
	.business {
	  padding: .5rem 0;
	}
	.business .business-text {
			padding: .2rem 0 0;
	}
	.swiper05 .swiper-slide span a:after{
		top: .15rem;
		right: .2rem;
		width: .2rem;
		height: .3rem;
	}
	.swiper05 .swiper-slide span{
		height: .6rem;
		line-height: .6rem;
	}
  .projects-title{
    padding-top: .5rem;
    width: 2.52rem;
    margin: 0.5rem auto 1rem;
  }
  .team-title h3:after,
  .aboutus-title h3:after,
  .projects-title h3:after{
    top: -0.7rem;
    left: .8rem;
    width: 2.6rem;
    height: 2.0rem;
  }

  .aboutus-wrap .aboutus-text{
    padding-top: .5rem;
  }
  .team-wrap .team-info .team-text{
    padding-top: 1rem;
  }
  .team-swiper{
    padding-top: 0;
    width: 100% !important;
  }
  .team-wrap .team-info .team-title h3:after{
    width: 3rem;
  }
  .team-wrap .team-info .team-text{
    padding-right: 0;
  }
  .news-wrap .news-left{
    padding-right: 0;
  }
  .news-pic01 li label{
    width: 2rem;
  }
  .news-pic01 li span{
    padding: .1rem .15rem;
  }
  .swiper03 .swiper-slide .goods-info a{
    float: none
  }
  .flex100{
    flex: 0 0 100% !important;
  }
	.footer-wrap{
		background-color: #9A917F;
		background-image: none;
		height: auto;
	}
	.footer .ft-title{
		margin-top: 0.4rem;
	}
	.footer .ft-col-02,
	.footer .ft-col-01{
		-webkit-box-flex:0 0 100%;
		-webkit-flex:0 0 100%;
		flex:0 0 100%;
	}
	.footer .ft-col-03{
		width: 100%;
	}
	.footer .ft-col-03 img{
		margin: 0 auto;
	}
  .mainer{
    width: 100%;
    padding: 0 .15rem;
  }
  .banner-text{
    font-size: .15rem;
    max-width: 3.5rem;
    margin-left: 1rem;
  }
  .banner-text h2{
    font-size: .28rem;
  }
  .banner-text p{
    padding: 0 0;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
  }
  .search-bar{
    width: 92%;
  }
  .swiper01 .swiper-button-next,
  .swiper01 .swiper-button-prev{
    width: .4rem;
    height: .4rem;
    margin-top: -.25rem;
  }
  /*hide and show*/
	.hide-mb {
		display: none !important;
	}
	.hide-pc {
		display: block;
	}
  .header{
		position: static;
    padding-top: 5px;
    padding-left: 7px;
		height: 40px;
		background-color: #ccc;
	}
	.header .logo{
		width: 170px;
    padding-top: 0;
	}
	.header .logo img{
		height: 30px;
	}
  .header-tip{
    float: right;
  }
	.nav-toggle {
		display: block;
		width: 39px;
		height: 29px;
		vertical-align: middle;
		margin: 0 6px 0 0;
		background-image: url(../images/nav-toggle.png);
		background-size: 100%;
		background-size: 35px auto;
	}
  .nav{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999999;
    display: none;
    padding-left: 0;
    padding-right: 0;
  }
  .nav li{
    display: block;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid  #ddd;
    padding:0;
    height: auto
  }
  .nav li.active,
  .nav li:active{
    background-color: #A08347;
  }
  .nav li.active a,
  .nav li:active a{
    color: #fff;
  }
  /*二级导航*/
  .nav-sub,
  .nav-sub-wrap{
    position: static;
     opacity: 1 !important;
     display: block!important;
    padding: 0;
    margin: 0;
    height: auto;
    line-height: auto;
    background-color: #fff;
  }
  .nav li.nav-sub-arrow > a:after{
    display: none !important;
  }
  
  .nav-sub dl dd{
    display: inline-block;
    background-color: #fff;
    width: 1rem;
    height: .4rem;
    line-height: .4rem;
    padding: 0;
    margin: 0;
    border: 1px solid  #9A917F;
  }
  .nav-sub dl dd a{
    color: #9A917F;
  }
}
/*-----------------------ipad 小于1280px 且设备像素比大于2 ------------------------*/

@media (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2){
  html{
    font-size: 50px;
  }
  /*hide and show*/
	.hide-mb {
		display: none !important;
	}
	.hide-pc {
		/* display: block; */
	}
	.header{
		position: static;
    padding-top: 5px;
    padding-left: 7px;
		height: 40px;
		background-color: #fff;
	}
	.header .logo{
		width: 170px;
	}
  .header-tip{
    float: right;
  }
	.nav-toggle {
		display: block;
		width: 39px;
		height: 29px;
		vertical-align: middle;
		margin: 0 6px 0 0;
		background-image: url(../images/nav-toggle.png);
		background-size: 35px auto;
	}
  .nav{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999999;
    display: none;
    padding-left: 0;
    padding-right: 0;
  }
  .nav li{
    display: block;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid  #ddd;
    padding:0;
  }
  .nav li > a {
    line-height: 40px;
    color: #9A917F;
  }
  .nav li.active,
  .nav li:active{
    background-color: #9A917F;
  }
  .nav li.active a,
  .nav li:active a{
    color: #fff;
  }
  /*二级导航*/
  .nav-sub,
  .nav-sub-wrap{
     opacity: 1 !important;
     display: block!important;
  }
}

/*-----------------------pc端小屏预览 且设备像素比0------------------------*/
@media  (max-width: 800px) and (-webkit-min-device-pixel-ratio:0){
  html{
    font-size: 70px;
  }
}













