@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
  background-color: #E9EAF5;
  font-size: .28rem;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input{
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:active {
  color: #333;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
em, h3 {
  font: inherit;
}
h3{
  font-size: .28rem;
}
.tc {
  text-align: center;
}
/* 内容 */
/* 头部 */
.header{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  height: .88rem;
  color: #fff;
  background-color: #2E6CF5;
  padding: 0 .2rem;
  font-size: .32rem;
}
.header span{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.header a{
  position: relative;
  z-index: 1;
  display: block;
  width: .44rem;
  height: .44rem;
}
.header .icon-back{
  background-image: url(../images/icon-back.png);
}
.header .icon-share{
  background-image: url(../images/icon-share.png);
  background-position: center;
  background-size: 90%;
}
.header .share{
  word-break: keep-all;
  white-space: nowrap;
  color: #fff;
  font-size: .3rem;
  width: .6rem;
  margin-left: .2rem;
}
/* 表单 */
.m-form{
	padding: 0;
	background-color: #fff;
}
.m-form li{
	padding: .2rem .3rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	border-bottom: 1px solid  #CBCBCB;
}
.m-form li > label{
	padding-right: .1rem;
	width: 2.2rem;
}
.m-form li > label em{
	color: #09ABFF;
}
.m-form li > div{
	-webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.m-form li input[type=date],
.m-form li input[type=text]{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	width: 100%;
	border: none;
	color:  #666;
  height: .6rem;
  line-height: .6rem;
}
.m-form li button{
  width:1.5rem;
  height:0.52rem;
  background-color: #2E6CF5;
  border-radius:0.26rem;
  color: #fff;
  font-size: .24rem;
  text-align: center;
  margin-right: .1rem;
}
.btn-wrap{
  text-align: center;
}
.btn03{
  display: block;
  width:5.6rem;
  height:0.8rem;
  line-height: .8rem;
  background-color: #2E6CF5;
  box-shadow: 0 .1rem .1rem 0 rgba(47, 108, 245, 0.2);
  border-radius:0.39rem;
  color: #fff;
  text-align: center;
  margin: .5rem auto .1rem;
}
.tips{
  padding: .2rem .3rem;
  color: #2e6cf5;
}
.avatar{
  display: inline-block;
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
}
