@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #363636;
  font-size: 14px;
  font-family: "Microsoft yahei", -apple-system-font, "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input {
  background-repeat: no-repeat !important;
  background-position: 0 0;
  background-size: 100%;
}
a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border: 0;
}
input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
em, h3 {
  font: inherit;
}

/*header*/
.header{
  height: 44px;
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content:flex-start;
  background-color: #D20F19;
  padding-left: 10px;
  position: relative;
}
.header .logo{
  display: block;
  width: 94px;
  height: 24px;
  background-image: url(../images/logo.png);
}
.icon-share{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-share.png);
  display: block;
}
/*swiper*/
.swiper01 {
	width: 100%;
  background-color: #eee;
}
.swiper01 .swiper-slide {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.swiper01 .swiper-pagination-bullet {
	width: 8px !important;
	height: 8px !important;
	background: #eee !important;
	border: 1 solid #fff !important;
	margin: 3px !important;
	opacity: 1;
}
.swiper01 .swiper-pagination-bullet-active {
	background: #e60012 !important;
}
.swiper01 .sp1{
	bottom: 0 !important;
}

/*快捷入口*/
.enter{
  margin-top: 10px;
}
.enter ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}
.enter li{
	flex:0 0 33.333%;
	height:121px;
	text-align:center;
  border-bottom: 1px solid  #e9e9e9;
  border-right: 1px solid  #e9e9e9;
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; /*纵向*/
}
.enter li:nth-child(3n){
  border-right: none;
}
.enter li i{
	width: 44px;
	height: 44px;
  display: block;
  margin: 0 auto 5px;
}
.enter li .enter01{
	background-image: url(../images/enter01.png);
}
.enter li .enter02{
	background-image: url(../images/enter02.png);
}
.enter li .enter03{
	background-image: url(../images/enter03.png);
}
.enter li .enter04{
	background-image: url(../images/enter04.png);
}
.enter li .enter05{
	background-image: url(../images/enter05.png);
}
.enter li .enter06{
	background-image: url(../images/enter06.png);
}

/*navbar*/
/*导航栏*/
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	height: 50px;
	background-color: #fff;
}
nav a{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;  
	-webkit-align-items: center; 
	-webkit-box-align: center;
	justify-content: center; 
	font-size: 11px;
	color: #ffcec3;
}
nav a.active{
	color: #e31717;
}
nav a i{
	width: 26px;
	height: 26px;
	margin-bottom: 3px; /*切换纵横时修改*/
}
nav a i.nav01{	
	background-image: url(../images/nav01.png);
}
nav i.nav02{	
	background-image: url(../images/nav02.png);
}
nav a i.nav03{	
	background-image: url(../images/nav03.png);
}
nav a.active i.nav01{	
	background-image: url(../images/nav01-active.png);
}
nav a.active i.nav02{	
	background-image: url(../images/nav02-active.png);
}
nav a.active i.nav03{	
	background-image: url(../images/nav03-active.png);
}
.nav-blank{
  height: 50px;
}
/*新闻详情*/

.news-detail{
 padding: 20px 15px;
}
.news-detail h1.news-title{
  font-size: 17px;
  color: #111;
}
.news-detail h2.sub-title{
  font-size: 12px;
  padding: 15px 0;
  color: #999;
  font-weight: normal;
}
.news-detail h2.sub-title span{
  margin: 0 6px;
}
.news-detail .summary{
  font-size: 13px;
  padding: 8px;
  background-color: #F7F7F7;
  line-height: 1.6;
}
.news-detail img{
  display: block;
  text-align: center;
  margin: 10px auto;
}
.news-detail p{
  text-indent: 2em;
  margin: 15px 0;
  text-align: justify;
  line-height: 1.6;
}

/*分享 对话框*/
.mask {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}
.share-pop {
	position: fixed;
	z-index: 9999;
	width: 100%;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, 0%);
	background-color: #fff;
	text-align: center;
	/* border-radius: 5px; */
	overflow: hidden;
}
.share-pop .pop-title{
	font-size: 16px;
  text-align: center;
  padding: 10px 0;
	color: #000;
  font-weight: bold;
}	
.share-pop .pop-body{
	padding: 10px;
	text-align: center;
}	
.share-pop .share-list{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}	
.share-pop .share-list{
	text-align: center;
}	
.share-pop .share-list i{
  display: inline-block;
  width: 47px;
  height: 47px;
  margin: 0 auto 10px;
}	
.share01{
  background-image: url(../images/share01.png);
}	
.share02{
  background-image: url(../images/share02.png);
}	
.share03{
  background-image: url(../images/share03.png);
}	
.share04{
  background-image: url(../images/share04.png);
}	
.share05{
  background-image: url(../images/share05.png);
}

/*快捷入口*/
.score-item{
  margin-top: 0;
  background-color: #fff;
}
.score-item ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.score-item li{
	flex:0 0 25%;
	height:100px;
	text-align:center;
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; 
}
.score-item li i{
	width: 45px;
	height: 45px;
  display: block;
  margin: 0 auto 5px;
}
.score-item li .icon-score01{
	background-image: url(../images/icon-score01.png);
}
.score-item li .icon-score02{
	background-image: url(../images/icon-score02.png);
}
.score-item li .icon-score03{
	background-image: url(../images/icon-score03.png);
}
.score-item li .icon-score04{
	background-image: url(../images/icon-score04.png);
}

/*积分tabs*/
.score-tabs{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
  height: 48px;
  background-color: #fff;
}
.score-tabs a{
  height: 48px;
	flex:0 0 33.333%;
}
.score-tabs a{
  height: 48px;
  line-height: 48px;
	flex:0 0 33.333%;
  text-align: center;
}
.score-tabs a.curr{
  border-bottom: 3px solid  #E60012;
  color: #e60012;
  font-weight: bold;
}
.score-tabs.t2 a{
	flex:0 0 50%;
}
.blank{
  height: 10px;
  overflow: hidden;
}

.bg{
  background-color: #F8F8F8;
}

.raffle{
  padding: 10px;
  text-align: center;
  background-color: #F7EEE8;
}

/*精彩好物*/
.goods-list{
  padding: 10px 5px;
}
.goods-list ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}
.goods-list li{
	flex:0 0 -webkit-calc(50% - 20px);
	background-color: #fff;
	margin: 0 10px 10px;
	text-align: center;
}
.goods-list li a{
  text-decoration: none;
}
.goods-list li p{
  font-size: 12px;
  margin-bottom: 10px;
}
.goods-list li span{
  font-size: 10px;
  color: #cc252d;
}
.goods-list li span{
  font-size: 14px;
  color: #cc252d;
}
.goods-list li .dh02,
.goods-list li .dh01{
  width: 50px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 8px;
  margin: 0 5px;
  border-radius: 10px;
}
.goods-list li .dh01{
  background-color: #F7525A;
}
.goods-list li .dh02{
  background-color: #4D91E3;
}

.goods-list li button{
  display: block;
  width: 66px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 3px;
  background-color: #CC252D;
  text-align: center;
  margin: 10px auto 0;
}

/*园区消费*/
.area-buy{
  padding: 20px 5px;
}
.area-buy ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}
.area-buy li{
	flex:0 0 -webkit-calc(50% - 20px);
	background-color: #fff;
	margin: 0 10px 10px;
	text-align: left;
}
.area-buy li p{
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
  display: block;
}
.area-buy li span{
  display: block;
  padding-left: 15px;
  padding-bottom: 10px;
  color: #cd272b;
}

/*我是服务商*/
.demand-category{
  background-color: #fff;
  padding: 10px 0;
}
.demand-category .dc-item{
  border-bottom: 1px solid #EBEBEB;
  overflow: hidden;
}
.demand-category .dc-item dl{
  line-height: 1.6;
  color: #111;
  padding: 15px;
}
.demand-category .dc-item dl dt{
  padding-bottom: 5px;
  color: #2c3a4b;
  font-weight: bold;
  font-size: 16px;
}
.demand-category .dc-item dl dd{
  overflow: hidden;
}
.demand-category .dc-item dl dd span{
  float: left;
}
.demand-category .dc-item dl dd span label{
  color: #e61718;
}
.demand-category .dc-item dl dd p{
  float: right;
}
.demand-category .dc-item dl dd p em{
  color: #999;
}

/*我有需求*/
.service-item-wrap{
  padding: 10px;
}
.service-item{
  margin-bottom: 10px;
  background-color: #fff;
}
.service-item h3{
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid  #F0F0F0;
  font-size: 16px;
}
.service-item h3 a{
  float: right;
}
.service-item .si-content{
  padding: 15px;
  border-bottom: 1px solid  #f4f4f4;
}
.service-item .si-content .si-pic{
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
}
.service-item .si-content .si-info{
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 20px;
  width: 260px;
  line-height: 1.8;
}
.service-item .si-content .si-info h5{
  font-weight: normal;
  color: #111;
  font-size: 16px;
}
.service-item .si-content .si-info p{
  color: #e61718;
  font-size: 14px;
}
.service-item .si-content .si-info a{
  font-size: 14px;
  display: block;
  border-radius: 3px;
  width: 68px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  background-color: #F4F4F4;
}
.service-item .si-list{
  padding: 15px;
  overflow: hidden;
}
.service-item .si-list li{
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
.share-wrap{
  padding: 15px;
}

/*share-detail*/
.share-detail h3{
	font-size: 16px;
	padding: 10px 0;
}
.share-detail .sd-money{
	font-size: 16px;
	color: #e41b1b;
	border-bottom: 1px solid  #e8e8e8;
	padding-bottom: 10px;
}
.share-detail .sd-money em{
	font-size: 12px;
}
.share-detail .sd-info{
	padding: 10px 0;
	font-size: 16px;
	color: #666;
	border-bottom: 1px solid  #e8e8e8;
}

.share-plaza{
	border: 1px solid  #e8e8e8;
	border-radius: 5px;
	padding: 15px 5px;
}
.share-plaza h3{
	font-size: 16px;
	padding-left: 15px;
	color: #000;
	background-image: url(../images/share-title.png);
  background-repeat: no-repeat;
	background-position: 40% center;
  background-size: 3px auto;
	text-align: center;
	font-weight: bold;
}
.share-plaza div{
	color: #666;
	padding-top: 10px;
	padding-left: 16px;
	line-height: 1.6;
}
.share-notice{
	padding: 30px 20px;
	background-color: #FEFFED;
	border: 1px solid  #e8e8e8;
	overflow: hidden;
}
.share-notice h3{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.share-notice dl{
	line-height: 1.6;
}

/*立即预定*/
.reserve{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #fff;
  height: 62px;
	border-top: 1px solid #D4D4D3;
}
.reserve button{
  -webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;	
	height: 35px;
  line-height: 35px;
  border: none;
	margin: 0px 10px;	
	border-radius: 3px;
	color: #fff;
  background-color: #E60012;
}
.reserve span{
  display: block;
  width: 60px;
  height: 35px;
  text-align: center;
}
.reserve span i{
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.reserve .icon-zhan{
  background-image: url(../images/icon-zhan.png);
}
.reserve .icon-fav{
  background-image: url(../images/icon-fav.png);
}

/*预定--弹出层*/
.share-reserve{
	background-color: #d9e7fb;
	padding: 10px;
}
.share-reserve .box-in{
	border: 1px solid  #aacbff;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 10px;
	background-image: url(../images/reserve-tr.png);
	background-repeat: repeat-y;
	background-position: left top;
}
.share-reserve li{
	width: 156px;
	height: 42px;
	line-height: 43px;
	font-size: 14px;
	padding: 0 5px;
	display: inline-block;
}
.share-reserve input[type="text"]{
	border: none;
	height: 42px;
	line-height: 42px;
	padding: 0;
	width: 134px;
	font-size: 14px;
	background-color: transparent;
}
.share-reserve .ipt-calendar{
	background-image: url(../images/icon-calender.png);
}
.share-reserve .ipt-time{
	background-image: url(../images/icon-time.png);
}
.share-reserve .ipt-select{
	background-image: url(../images/icon-select.png);
}
.share-reserve .ipt-calendar,
.share-reserve .ipt-time,
.share-reserve .ipt-select{
	background-position: 105px center;
	background-size: 24px 24px;
}
.share-reserve li.even{
	border-right: 1px solid  #aacbff;
}
.share-reserve li.long{
	width: 100%;
	text-align: left;
}
.share-reserve input[type="text"].ipt-sm{
	display: inline-block;
	width: 111px !important;
	background:none;
	padding-left: 15px;
}

/*login*/
.login-wrap{
	padding: 0 20px;
}
.login-bg{
	background-color: #F7F5F9;
}
.logo-mb-wrap{
  padding: 35px 0;
	text-align: center;
}
.logo-mb{
	display: block;
	width: 73px;
	height: 73px;
	background-image: url(../images/logo-mb.png);
	margin: 0 auto;
}
.login-form{
	border: 1px solid  #ccc;
}
.login-form li{
	height: 32px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background-color: #fff;
}
.login-form li:first-child{
	border-bottom: 1px solid  #ccc;
}
.login-form li input{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.login-form li i{
	width: 28px;
	height: 32px;
	line-height: 32px;
	display:block;
	font-size: 18px;
	color: #979797;
}
.login-form li .icon-user:before{
	content: "\e603";
}
.login-form li .icon-psw:before{
	content: "\e61d";
}
.btn-login{
	margin-top: 10px;
	border: none;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #D7161E;
	color: #fff;
	text-align: center;
}
.reg-wrap{
	padding-top: 20px;
	text-align: center;
}
.reg-wrap a{
	margin: 0 10px;
	color: #D7161E;
}

/*mobile user center*/
.avatar-wrap2{
	position: relative;
	padding: 10px;
	background-color: #DF181A;
}
.avatar-wrap2 .avatar{
	display: inline-block;
  width: 60px;
  height: 60px;
	border-radius: 50%;
	background-color: #eee;
	border: 1px solid  #fff;
	vertical-align:middle;
}
.avatar-wrap2 span{
	display: inline-block;
	padding-top: 3px;
	padding-left: 3px;
	margin-top: -2px;
	vertical-align:middle;
	font-size: 18px;
	color: #fff;
}
.avatar-wrap2 span em{
	display: block;
	color: #fff;
	font-style: normal;
	background-color: #AF0A0C;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	padding: 2px 6px;
	margin-top: 5px;
}
.btn-sign{
	position: absolute;
	top: 30px;
	right: 10px;
	border-radius: 3px;
	background-color: #FDB006;
	color: #fff;
	border: none;
	font-size: 12px;
	min-width: 60px;
}


/*党建活动*/
.rank-total{
  height: 50px;
  background-color: #AF0A0C;
}
/*排行榜统计*/
.rank-total ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.rank-total li{
	position: relative;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	color: #fff;
  text-align: center;
  padding-top: 5px;
}
.rank-total li span{
	display: block;
  font-size: 14px;
}
.rank-total li{
	font-size: 18px;
}
.rank-total li em{
	font-size: 12px;
}

/*list*/
.list{
  margin-top: 20px;
  background-color: #fff;
  border-top: 1px solid #ECECEC;
}
.list a{
  display: block;
  border-bottom: 1px solid #ECECEC;
  height: 40px;
  line-height: 40px;
  padding-left: 9px;
  font-size: 18px;
}
.list a:active{
  background-color: #fefefe;
}
.list i{
  display: inline-block;  
  font-size: 16px;
  margin-right: 5px;
}
.list .icon01{
  color: #FE745F;
}
.list .icon02{
  color: #89D33E;
}
.list .icon03{
  color: #FCB103;
}
.list .icon00{
  color: #FE7454;
}
.list .icon04{
  color: #409FF3;
}
.list .icon01:before{
  content: "\e601";
}
.list .icon02:before{
  content: "\e602";
}
.list .icon03:before{
  content: "\e603";
}
.list .icon00:before{
  content: "\e600";
}
.list .icon04:before{
  content: "\e62a";
}

.btn-quit{
	display: block;
	height: 40px;
	line-height: 40px;
  margin:10px;
  text-align: center;
  border-radius: 0;
  color: #fff;
  background-color: #D7161E;

}

/*------------------找需求---------------------*/
.dm-wrap{
  padding: 16px;
}
.dm-info{
  line-height: 1.8;
  padding: 15px;
  background: #fff;
}
.dm-info h1{
  font-weight: normal;
  font-size: 15px;
}
.dm-info h2{
  font-weight: normal;
  font-size: 10px;
  color: #999;
}
.dm-info h2 em{
  color: #333;
}
.dm-info h3 em{
  color: #e41b1b;
}

/*需求浏览统计*/
.dm-view{
  padding: 15px;
  border-top: 1px solid  #D9DAD9;
  background-color: #fff;
}
.dm-view ul li{
  display: inline-block;
  color: #333;
  margin-right: 35px;
}
.dm-view ul li p{
  display: inline-block;
  color: #999;
  padding-right: 10px;
}

.done-bd{
	padding: 16px;
	border-top: 1px solid  #E8E8E8;
	background: #fff;
}
/*任务金额*/
.dm-money{
  background-color: #fff;
}
.dm-money h3{
  float: left;
  height: 27px;
  border: 1px solid  #E60012;
}
.dm-money h3 label,
.dm-money h3 span{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
	padding: 0 10px;
}
.dm-money h3 span{
  color: #fff;
  background-color: #E60012;
}
.dm-money h3 label{
  color: #E60012;
  background-color: #fff;
  font-weight: bold;
}
.dm-money > div{
  float: right;
}
.dm-money > div a{
  display: inline-block;
  padding-left: 15px;
  color: #E60012;
  height: 16px;
  line-height: 16px;
  background-image: url(../images/icon-warn.png);
	background-size: 16px 16px
}
/*任务名称*/
.dm-name{
  background-color: #fff;
}
.dm-name span{
  display: block;
  padding: 10px 0;
  font-size: 12px;
}
.dm-name h1{
  display: block;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}
.dm-name p{
  font-size: 12px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

/*第三方要求*/
.vender-require{
  font-size: 10px !important;
  background-color: #fff;
}
.vender-require .vr-logo{
  float: left;
  width: 62px;
}
.vender-require .vr-logo p{
  display: block;
  color: #999;
  text-align: center;
}
.vender-require .vr-info{
  margin-left: 75px;
}
.vender-require .vr-info h1{
  font-size: 12px;
  padding-left: 10px;
  background-image: url(../images/share-title.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 2px auto;
  margin-bottom: 10px;
}
.vender-require .vr-info ul{
  margin-bottom: 10px;
  overflow: hidden;
}
.vender-require .vr-info li{
  display: inline-block;
  min-width: 86px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid  #e8e8e8;
  text-align: center;
  margin-right: 10px;
  font-size: 10px;
  padding: 0 5px;
  color: #999;
}
.vender-require .vr-remark{
  margin-top: 10px;
  padding: 5px;
  background-color: #FFEA7F;
  font-size: 10px;
  border-left: 2px solid  #E60012;
}

/*第三方列表*/
.vender-company{
  padding: 10px 0 10px 0;
  font-size: 12px;
  overflow: hidden;
}
.vender-company .vc-pic{
  width: 70px;
  float: left;
}
.vender-company .vc-info{
  margin-left: 80px;
}
.vender-company .vc-info h1{
  font-size: 15px;
  font-weight: normal;
}
.vender-company .vc-info h3{
  color: #999;
  padding: 5px 0;
  font-weight: normal;
}
.vender-company .vc-info dl{
  overflow: hidden;
}
.vender-company .vc-info dl dd,
.vender-company .vc-info dl dt{
  display: inline-block;
}
.vender-company .vc-info dl dd{
  color: #fff;
  margin-right: 5px;
  background-color: #C6743C;
  padding: 0 5px;
}
.vender-company .vc-info p{
  margin: 5px 0;
}
.vender-company .vc-info p em{
  color: #f00;
  font-weight: bold;
}
.vender-company .vc-info .btn-vc{
  padding-top: 0;
}
.vender-company .vc-info .btn-vc a{
  float: left;
  display: inline-block;
  min-width: 45px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  border: 1px solid  #DBDCDB;
  text-align: center;
  background-color: #F8F8F8;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 3px;
}
.vender-project{
  border-top: 1px solid  #DBDCDB;
  padding: 30px 0 0 0;
}
.vender-project ul{
  overflow: hidden;
}
.vender-project li{
  float: left;
  width: 33.333%;
  height: 60px;
  display: inline-block;
  color: #4EC0A9;
  font-size: 16px;
  text-align: center;
}
.vender-project li p{
  display: block;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
}
.vender-project li span{
  display: block;
  background-color: #4EC0A9;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  margin-top: 10px;
  font-size: 10px;
}
.vender-project li.project-day{
  olor: #999;
}
.vender-project li.project-day span{
  background-color: #999;
}
.vender-project li.project-addr{
  font-size: 16px;
  color: #666;
}

.btn-project{
  display: block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  border: 1px solid  #DBDCDB;
  text-align: center;
  background-color: #F8F8F8;
  margin: 5px auto 10px;
  text-decoration: none;
  font-size: 14px;
}

/*发布类似需求*/
.publish-tool{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #fff;
  height: 62px;
	border-top: 1px solid #D4D4D3;
}
.publish-tool button{
  -webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;	
	height: 35px;
  line-height: 35px;
  border: none;
	margin: 0px 5px;	
	border-radius: 3px;
	color: #333;
  background-color: #E6E6E6;
  text-align: center;
}
.publish-tool a{
  display: block;
  width: 81px;
  height: 35px;
  line-height: 35px;
  border: none;
  margin: 0px 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #E60012;
  text-align: center;
}
.publish-tool span{
  display: block;
  width: 80px;
  height: 35px; 
  text-align: center;
  font-size: 10px;
}
.publish-tool span i{
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.icon-contact{
  background-image: url(../images/icon-contact.png);
}

.dm-padd{
  padding: 15px;
  background-color: #fff;
}
/*providers-info*/
.providers-info{
  
}
.providers-info h1{
  font-size: 16px;
  font-weight: normal;
}
.providers-info h5{
  font-weight: normal;
  padding: 5px 0;
  color: #999;
}
.providers-info .prov-price{
  font-size: 13px;
  padding: 7px 0;
  color: #999;
}
.providers-info .prov-price span{
  display: inline-block;
  margin-right: 10px;
}
.providers-info .prov-price p{
  display: inline-block;
  color: #E41B1B;
  font-size: 13px;
}
.providers-info ul{
  overflow: hidden;
}
.providers-info li{
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding-right: 20px;
}
.providers-info li.odd{
  border-right: none
}

.providers-info p{
  font-size: 14px;
}
/*联系*/
.contact-prov img{
  float: left;
  width: 80px;
}
.contact-prov .contact-btn{
  margin-left: 90px;
}
.btn-def,
.btn-pri{
  width: 56px;
  border: none;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}
.btn-def:hover{
  color: #333;
  text-decoration: none
}
.btn-pri:hover{
  color: #fff;
  text-decoration: none
}
.btn-pri{
  background-color: #E60012;
  color: #fff;
}
.btn-def{
  background-color: #E6E6E6;
}
.contact-btn{
  padding-top: 10px;
}
.contact-btn a{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.contact-btn p{
  font-size: 16px;
  display: block;
  padding: 5px 0 10px;
}
/*服务详情&评价*/
.comment-tab{
  min-height: 35px;
}  
.comment-tab li{
  float: left;
  width: 100px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 13px;
  border-top: 2px solid  #F8F8F8; 
  cursor: pointer;
} 
.comment-tab li.curr{
  background-color: #fff;
  border-top: 2px solid  #E60012; 
}
.comment-box{
  background-color: #fff;
  padding: 13px;
}


/*服务流程*/
.service-flow{
  background-color: #fff;
}
.service-flow h3{
  height: 35px;
  line-height: 35px;
  padding: 0 12px 0 38px;
  border-bottom: 1px solid  #E8E8E8;
  background-image: url(../images/icon-flow.png);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
  font-size: 16px;
}
.service-flow span{
  display: block;
  float: right;
  height: 25px;
  line-height: 25px;
  padding-left: 35px;
  margin-top: 5px;
  background-image: url(../images/icon-pay.png);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
  font-size: 14px;
}
.service-flow > div{
  text-align: center;
  padding: 15px 10px;
}
.service-flow > div img{
  margin: 0 auto;
}

/*公司介绍*/
.company-intro{
  background-color: #fff;
  overflow: hidden;
}
.company-intro h3{
  height: 35px;
  line-height: 35px;
  padding: 0 12px 0 38px;
  border-bottom: 1px solid  #E8E8E8;
  background-image: url(../images/icon-company.png);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
  font-size: 16px;
  margin-bottom: 15px;
}
.company-intro .ci-pic{
  float: left;
  vertical-align: middle;
  padding-right: 10px;
}
.company-intro .ci-info{
  padding-right: 10px;
}
.company-intro .ci-info h1{
  font-size: 16px;
  margin-bottom: 20px;
}
.company-intro .ci-info h2{
  font-size: 14px;
}
.company-intro .ci-info p{
  margin-bottom: 18px;
  text-align: justify;
  line-height: 1.6;
}


