@charset "utf-8";
body, html {
	color: #000;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
html {
	font-size: 15px;
}
body{
	background-color: #f2f2f2
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a, nav{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: 100% !important;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background-color: transparent;;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
	border:none;
  outline:0;
}
input[type=text], textarea {
	background-color: #fff;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}

/*内容**/
h3{
	font-size: 15px;
	font-style: normal;
	font-weight:normal;
}
em{
	font-style: normal;
}

a.cf{
  color: #fff;
}
/*******************个人中心*******************/
/*标题栏*/
.header{
	height: 44px;
	line-height: 44px;
	background-color: #008ff8;
	color: #fff;
	font-size: 18px;
	text-align: center;
	position: relative;
}

/*flex布局*/
.flex-wrap ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	background-color: #fff;
}
.flex-wrap li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	min-height:150px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.user-tip{
	color: #008ff8;
	text-align: center;
}
.user-tip label{
	display: block;
	min-width: 63px;
	height: 19px;
	line-height: 19px;
	border-radius: 10px;
	margin-bottom: 8px;
	font-size: 12px;
	border: 1px solid  #008ff8;
}
/*头像居中*/
.avatar-wrap{
	height: 150px;
	padding-top: 15px;
	text-align: center;
	color: #000;
	background-color: #fff;
}
.avatar-wrap .avatar{
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border: 2px solid  #008ff8;
	background-color: #eee;
	border-radius: 50%;
}
.avatar-wrap span{
	display: block;
	margin-top: 5px;
}

/*用户信息*/
.user-item{
	margin-top: 6px;
	overflow: hidden;
}
.user-item a{
	float: left;
	width:50%;
	min-height: 90px;
	text-align: center;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid  #f2f2f2;
}
.user-item a:nth-child(even){
	border-left: 1px solid  #f2f2f2;
}
.user-item a i{
	display: block;
	width: 44px;
	height: 44px;	
	vertical-align: middle;
	margin: 10px auto 5px;
}
.icon-user01{
	background-image: url(../images/icon-user01.png);
}
.icon-user02{
	background-image: url(../images/icon-user02.png);
}
.icon-user03{
	background-image: url(../images/icon-user03.png);
}
.icon-user04{
	background-image: url(../images/icon-user04.png);
}
.icon-user05{
	background-image: url(../images/icon-user05.png);
}
.icon-user06{
	background-image: url(../images/icon-user06.png);
}
/*******************列表********************/
.list{
	margin-top: 6px;
	background-color: #fff;
}
.list ul li{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;	
	padding: 0 0 0 15px;
	border-bottom: 1px solid  #f2f2f2;
}
.list ul li .cell{
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: block;
	padding: 10px 10px 10px 0;
	overflow: hidden;
	color: inherit;	
}
.list ul li:nth-last-child(1) .cell{
	border-bottom: none;
}
.list ul li .cell .tip{
	position: absolute;
	top: 10px;
	right: 0;
	padding-right: 30px;
	color: #aaa;
}
.list ul li div.cell{
	background-image: none;
}
.list ul li:active{
	background-color: #eee;
}
.list ul li.no-link:active{
	background-color: transparent;
}
/*图标*/
.list ul li i.icon-list{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0px 12px 0 0;
}
.list ul li i.icon-list.icon07{
	background-image: url(../images/icon-user07.png)
}
.list ul li i.icon-list.icon08{
	background-image: url(../images/icon-user08.png)
}


/*******************兑换商品********************/
/*标题栏*/
.header2{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	height: 44px;
	padding: 0 10px 0 5px;
	margin-bottom: 1px;
	color: #000;
	background-color: #fff;
}
.header2 span{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	text-align: center;
}
.header2 .icon-back{
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-back.png);
}
.header2 .icon-share{
	word-break: keep-all;
  white-space: nowrap;
	color: #000;
}

.goods-pic{
	background-color: #fff;
	padding: 10px 0;
	text-align: center;
}
.goods-info{
	padding: 0 10px;
	background-color: #fff;
	border-top: 1px solid  #f2f2f2;
	border-bottom: 1px solid  #f2f2f2;
}

.goods-info dt{
	padding: 15px 0 0;
	font-size: 16px;
	text-indent: -6px;
	color: #008ff8;
}
.goods-info dd{
	font-size: 12px;
	padding: 15px 0 15px 0;
	color: #008ff8;
}
.goods-info dd label{
	padding-left: 20px;
	color: #000;
}

/*地址未填写*/
.address{
	display: block;
	padding: 10px;
	font-size: 12px;
	color: #b2b2b2;
	background-color: #fff;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat !important;
	background-position: right center !important;
	-webkit-background-size: 16px !important;
	-webkit-background-origin: content-box;
	background-origin: content-box;
}

.goods-detail{
	background-color: #fff;
	margin-top: 10px;
}
.goods-detail .goods-detail-btn{
	padding: 20px 20px 10px;
	text-align: center;	
}
.goods-detail h3{
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 12px;
	color: #fff;
	background-color: #008FF8;
	
}
.goods-detail .goods-detail-content{
	padding:10px;
	line-height: 1.8;
	font-size: 12px;
}
.btn-wrap{
	padding: 20px 0;
	text-align: center;
}
.btn{
	display: inline-block;
	width: 100px;
	height: 28px;
	line-height: 28px;
	padding:0 15px;
	margin:0 auto;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;	
	overflow: hidden;
	color: #fff;
	background-color: #008FF8;
}

/*******************分销--分销订单********************/
/*标题栏*/
.header-sale{
	position: relative;
	height: 44px;
	line-height: 44px;
	padding-left: 26px;
	margin-bottom: 1px;
	text-align: left;
	background-color: #fff;
}
.header-sale a{
	display: block;
	width: 22px;
	height: 22px;
}
.header-sale a:first-child{
	position: absolute;
	top: 11px;
	left: 3px;
}
.header-sale .icon-back{
	background-image: url(../images/icon-back2.png);
}

/*分销订单*/
.pic-list-wrap{
	overflow: hidden;
	background-color: #fff;
}
.pic-list-wrap h3{
	padding: 10px 10px 0;
	font-size: 13px;
	color: #b2b2b2;
}
/*图文列表*/
.pic-list{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	padding: 10px;
	border-bottom: 1px solid  #f2f2f2;
}
.pic-list .pic{
	width: 90px;
	height: 60px;
	
}
.pic-list .info{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	padding: 0 15px;
}
.pic-list .info p:last-child{
	color: #808080;
	font-size: 12px;
	padding-top: 5px;
}
.pic-list .info p:last-child span{
	float: right;
	font-size: 15px;
}

/*******************分销--佣金明细*******************/
/*选项卡tabs*/
.tabs ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.tabs li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	width:0%;/*必须有*/
	height:35px;
	line-height: 35px;
	text-align:center;
	color: #fff;
	background-color: #848683;
}
.tabs li.curr{
	background-color: #008FF8;
}
div[class*="tab-box"] > div:not(:first-child){
	display:none
}

/*money-list*/
.money-list{
	padding: 10px;
	color: #808080;
	background-color: #fff;
	border-bottom: 1px solid  #f2f2f2;
}
.money-list .money-code span{
	float: right;
	color: #000;
}
.money-list .money-num{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	padding-top: 10px;
}
.money-list .money-num p{
	-webkit-box-flex:2;
	-webkit-flex:2;
	flex:2;
	text-align: center;
}
.money-list .money-num p:first-child{
	text-align: left;
	color: #000;
}
.money-list .money-num p:last-child{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	color: #008ff8;
	text-align: right;
}


/*******************分销--我的团队*******************/
.sale-team{
	margin-top: 10px;
	background-color: #fff;
}
.sale-team h3{
	font-size: 15px;
	padding: 10px;
	border-bottom: 1px solid  #f2f2f2;	
}

/*头像居左*/
.avatar-wrap2{
	padding: 10px;
}
.avatar-wrap2 .avatar{
	display: inline-block;
  width: 55px;
  height: 55px;
	border-radius: 50%;
	border: 1px solid  #008ff8;
	vertical-align:middle;
}
.avatar-wrap2 span{
	display: inline-block;
	padding-top: 0;
	padding-left: 10px;
	vertical-align:middle;
	line-height: 1.5;
}
.avatar-wrap2 span em{
	display: block;
	color: #808080;
	font-size: 12px;
}

/*******************分销--申请*******************/
/*表单左右#3a*/

.apply-form-wrap{
	background-color: #fff;
	padding: 15px 0;
	text-align: center;
}
.apply-form-wrap .apply-form-title{
	text-align: center;
	padding-bottom: 10px;
}
.apply-form{
	width: 290px;
	margin: 0 auto 10px;
}
.apply-form li {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	/*子元素垂直居中*/
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 5px 10px;
}
.apply-form li span{
	text-align: right;
	padding-right: 10px;
}
.apply-form li input[type=number],
.apply-form li input[type=text]{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border-radius: 14px;
	border: 1px solid  #b2b2b2;
}
.apply-title{
	margin-top: 10px;
	margin-bottom: -5px;
	padding: 10px;
	color: #008ff8;
	background-color: #fff;
}
.apply-detail{
	padding: 10px 10px 20px;
	line-height: 1.6;
	background-color: #fff;
	border-top: 1px solid  #f2f2f2;
}

.list ul li div.cell p{
	color: #808080;
}
.list ul li i.icon-list.icon-apply01{
	background-image: url(../images/icon-apply01.png)
}
.list ul li i.icon-list.icon-apply02{
	background-image: url(../images/icon-apply02.png)
}
.list ul li i.icon-list.icon-apply03{
	background-image: url(../images/icon-apply03.png)
}

/*******************分销--佣金*******************/
.money{
	background-color: #008FF8;
	padding: 10px;
}
.money-title{
	padding: 10px 10px 30px 0;
	color: #fff;
}
.money-total{
	color: #fff;
	border-bottom: 1px solid  #fff;
	overflow: hidden;
	padding: 0 0 10px;
}
.money-total span{
	font-size: 36px;
}
.money-total a.money-view{
	display: block;
	float: right;
	color: #fff;
	padding-right: 21px;
	margin-top: 19px;
	background-image: url(../images/arrow-white.png);
	background-size: 16px !important;
	background-position: right center;
}
.money-success{
	padding: 10px 0 5px;
	color: #fff;
}

.money-statistics{
	background-color: #fff;
	overflow: hidden;
}
.money-statistics li{
	float: left;
	width: 50%;
	min-height: 90px;
	border: 1px solid  #f2f2f2;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column;
}
.money-statistics li:nth-child(even){
	border-left: 1px solid  #f2f2f2;	
}
.money-statistics li p{
	display: block;	
}
.money-statistics li span{
	display: block;
	font-size: 12px;
	padding-top: 5px;
}

.money-remark{
	padding: 20px 10px;
	color: #808080;
	background-color: #fff;
}
.money-remark p{
	padding-top: 20px;
}
.c01{
	color: #008ff8;
}
.money-btn-wrap{
	text-align: center;
	padding: 30px 0 0;
}


/*******************分销中心*******************/
.avatar-sale{
	background-color: #fff;
}

.avatar-sale .avatar {
  width: 45px;
  height: 45px;
}
.avatar-sale span {
  display: inline-block;
  padding-left: 7px;
  vertical-align: middle;
  line-height: 1.6;
  text-indent: -7px;
  color: #008ff8;
}
.avatar-sale span em {
	color: #000;
	text-indent: 0
}
.avatar-sale span a{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-bottom: 3px;
	background-image: url(../images/icon-help.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.money2{
	background-image: url(../images/arrow-white.png);
	background-repeat: no-repeat !important;
	background-position: right 35px !important;
	-webkit-background-size: 16px !important;
	-webkit-background-origin: content-box;
	background-origin: content-box;
}
.money-title2{
	padding: 0 10px 30px 0;
	color: #fff;
}
.money-total2{
	font-size: 36px;
	padding: 0px 0 10px;
	color: #fff;
}
.money-total2 a.btn2{
	float: right;
	font-size:15px;
	margin-top: 8px;
}

.btn2{
	display: inline-block;
	min-width: 50px;
	height: 28px;
	line-height: 28px;
	padding:0 2px;
	margin:0 auto;
	text-align: center;
	text-decoration: none;
	border-radius: 14px;	
	overflow: hidden;
	color: #fff;
	border: 1px solid  #fff;
}

/*分销中心功能*/
.money-item{
	background-color: #fff;
	overflow: hidden;
}
.money-item a{
	float: left;
	width: 50%;
	min-height: 100px;
	border: 1px solid  #f2f2f2;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column;
	color: #000;
}
.money-item a:nth-child(even){
	border-left: 1px solid  #f2f2f2;	
}
.money-item a p{
	display: block;	
}
.money-item a span{
	display: block;
	font-size: 12px;
}
.money-item a i{
	display: inline-block;
	width: 44px;
	height: 44px;	
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.icon-money01{
	background-image: url(../images/icon-money01.png);
}

.icon-money02{
	background-image: url(../images/icon-money02.png);
}

.icon-money03{
	background-image: url(../images/icon-money03.png);
}

.icon-money04{
	background-image: url(../images/icon-money04.png);
}

/*******************商城--首页*******************/
body.bg-white{
	background-color: #fff !important;
}
/*搜索栏*/
.mall-searchbar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	padding: 10px 15px;
	z-index: 99999;
}
.mall-searchbar input[type=text]{
	width: 100%;
  height: 30px;
	line-height: 30px;
	padding-left: 35px;
  border-radius: 14px;
  text-align: left;
	font-size: 14px;
  color: #000;
	background-color: rgba(249,249,249,.5);
  background-image: url(../images/icon-mall-search.png);
  background-position: 10px center;
  background-size: 16px 16px !important;	
}
.mall-searchbar input::-webkit-input-placeholder {
	color:#808080;
}
/*幻灯片*/
.swiper02{
	max-height: 225px;
	background-color: #ccc;
}
.swiper02 .swiper-pagination-bullet{
	width:7px !important;
	height:7px !important;
	background:#fff !important;
	margin:0 5px !important;
}
.swiper02 .swiper-pagination-bullet-active {
	background:rgba(255,255,255,0.6) !important;
}


.ad03,
.ad02,
.ad01{
	position: relative;
	margin-top: 5px;
}
.ad03:after,
.ad02:after,
.ad01:after{
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 10px;
	margin-left: -10px;
	background-image: url(../images/ad-arrow.png);	
}
/*眼镜*/
.product-wrap01{
	padding: 15px;
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.product-wrap01 > div{
	min-height: 100px;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
}
.product-wrap01 .product-item-info{
	padding-left: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; /*纵向*/
}
.product-wrap01 .product-item-info h3{
	font-size: 13px;	
}
.product-wrap01 .product-item-info p{
	text-align: left;
	padding: 10px 0;
	color: #808080;
}
.product-wrap01 .product-item-info a{
	margin-left: 10px;
}

.btn-buy{
	display: inline-block;
	width: 38px;
	height: 19px;
	line-height: 19px;
	padding:0 3px;
	margin: 0px 0 0 7px;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	overflow: hidden;
	color: #008ff8;
	border: 1px solid  #008ff8;
}

/*书包*/
.product-wrap03{
	padding: 15px;
}
.product-wrap03 ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.product-wrap03 li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	font-size: 13px;
	text-align:center;
}
.product-wrap03 li p{
	padding: 5px 0 0;
	margin-bottom: 5px;
}
.product-wrap03 li span a{
	margin-left: 5px;
	margin-bottom: -5px;
}
/*导航栏*/
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 60px;
	background-color: #008FF8;
}
nav a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column; /*纵向*/
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	text-align:center;
	font-size: 13px;
	color: #fff;
}
nav a i{
	width: 34px;
	height: 34px;
}
nav a i.icon-nav01{	
	background-image: url(../images/icon-nav01.png);
}
nav a i.icon-nav02{	
	background-image: url(../images/icon-nav02.png);
}
nav a i.icon-nav03{	
	background-image: url(../images/icon-nav03.png);
}
nav a i.icon-nav04{	
	background-image: url(../images/icon-nav04.png);
}
.nav-blank{
	height: 80px;
}

/*******************商城--订单管理*******************/
.mall-list-wrap{
	margin-bottom: 5px;
}
/*订单*/
.mall-list{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	padding: 10px;
	background-color: #fff;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat !important;
	background-position: right center !important;
	-webkit-background-size: 16px !important;
	-webkit-background-origin: content-box;
	background-origin: content-box;
	border-bottom: 1px solid  #f2f2f2;
}
.mall-list .pic{
	width: 120px;
	height: 80px;
}
.mall-list .info{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	padding:10px 15px;
}
.mall-list .info .info-detail{
	padding-top: 10px;
}
.mall-list .info .info-detail span{
	display: inline-block;
	margin-left: 20px;
	font-size: 18px;
	color: #008ff8;
}
.mall-list .info .info-detail span em{
	font-size: 13px;
}

.mall-list-op{
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
	color: #808080;
}
.mall-list-op dt{
	float: left;
	padding-top: 3px;
}
.mall-list-op dd{
	float: right;
	text-align: right
}
.mall-list-op dt span{
	margin-left: 10px;
}

.btn-list{
	display: inline-block;
	min-width: 80px;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	overflow: hidden;
	color: #fff;
	background-color: #008FF8;
}


/*******************商城--订单详情*******************/
.buy-detail{
	background-color: #fff;
}
.buy-detail .detail-title{
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	color: #808080;
}
.buy-detail .detail-title span{
	float: right;
}
.buy-detail .detail-content {
	padding: 10px;
	line-height: 1.6;
	border-top: 1px solid  #f2f2f2;
	border-bottom: 1px solid  #f2f2f2;
	r;
}
.buy-detail .detail-footer {
	padding: 15px 10px;
	color: #808080;
	overflow: hidden;
}
.buy-detail .detail-footer span{
	float: right;
}

/*******************商城--商品详情*******************/
/*头像居左*/
.avatar-wrap3{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	height: 44px;
	padding: 0 10px;
	color: #fff;
	background-color: #008ff8;
}
.avatar-wrap3 .avatar{
  width: 35px;
  height: 35px;
	border-radius: 50%;
	border: 1px solid  #fff;
}
.avatar-wrap3 span{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	padding: 0 5px;
}

.icon-search-list{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 0px 0 3px;
	background-image: url(../images/icon-search-list.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.product-title{
	padding: 10px;
	background-color: #fff;
}
.product-title h3{
	display: block;
	padding: 0 0 5px;
}
.product-title span{
	display: inline-block;
	font-weight: bold;
}
.product-title label{
	display: inline-block;
	margin-left: 19px;
	font-size: 12px;
	color: #808080;
}

.product-info{
	padding: 10px;
	margin-top: 5px;
	line-height: 1.6;
	font-size: 12px;
	color: #808080;
	background-color: #fff;
}
.product-info h3{
	color: #008ff8;
}

/*购物导航栏*/
.mall-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 44px;
	background-color: #b3b3b3;
}
.mall-bar a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	font-size: 12px;
	color: #fff;
}
.mall-bar a i{
	width: 22px;
	height: 22px;
	margin: 0 5px 0 0;
}
.mall-bar a i.icon-mall01{	
	background-image: url(../images/icon-mall01.png);
}
.mall-bar a i.icon-mall02{	
	background-image: url(../images/icon-mall02.png);
}
.mall-bar a:nth-child(3){
	background-color: #7FC7FB;	
}
.mall-bar a:nth-child(4){
	background-color: #008FF8;	
}

/*遮罩层*/
.mask {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, .85);
}

.shop-car {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: fixed;
	bottom: 44px;
	left: 0;
	right: 0;
	padding: 5px 12px;
	background-color: #fff;
	z-index: 9999;
}
.shop-car .product-pic{
	max-width: 90px;
	height: 60px;
}
.shop-car .product-name{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	padding: 5px 15px 0;
}
.shop-car .product-name span{
	display: block;
	color: #808080;
	padding-top: 10px;
	font-size: 12px;
}
.shop-car .product-num{
	padding-top: 5px;
}
.shop-car .product-num span{
	display: block;
	margin-bottom: 7px;
	text-align: right;
}
/*spinner数量加减*/
.spinner{
	overflow: hidden;
}
.spinner a{
	display: inline-block;
	width: 19px;
	height: 19px;
	text-indent: 999px;
	vertical-align: middle;
	margin: 0 0 0.3rem;
}
.spinner a.DisDe,
.spinner a.Decrease{
	background-image: url(../images/icon-decrease.png)
}
.spinner a.Increase{
	background-image: url(../images/icon-increase.png)
}
.spinner input{
	display: inline-block;
	width: 38px;
	height: 19px;
	margin: 0 5px;
	text-align: center;
	color: #808080;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid  #b3b3b3;
}

/*******************商城--商品订单*******************/
.order-show {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: 5px 12px;
	background-color: #fff;
	border-bottom: 1px solid  #f2f2f2;
}
.order-show .product-pic{
	max-width: 90px;
	height: 60px;
}
.order-show .product-name{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; /*纵向*/
	padding: 0 10px ;
}
.order-show .product-num{
	color: #808080;
	margin-top: 35px;
}
.order-show .product-check{
	padding:20px 15px 0 0;
}

/*配送方式*/
.order-express{
	padding: 10px;
	margin-top: 5px;
	overflow: hidden;
	background-color: #fff;
}
.order-express div{
	float: left;
	color: #008ff8;
}
.order-express span{
	display: block;
	text-align: right;
	float: right;
}
.order-express span em{
	display: block;
	padding-top: 3px;
	font-size: 12px;
	color: #808080;
}

/*选择收货地址*/
.select-addr{
	padding: 10px;
	margin-top: 5px;
	color: #008ff8;
	background-color: #fff;
	border-bottom: 1px solid  #f2f2f2;
}
.select-addr i{
	float: right;
	margin-top: 2px;
}
.retract,
.unfold{
	display: block;
	width: 16px;
	height: 16px;	
}
.unfold{	
	background-image: url(../images/unfold.png);
}
.retract{	
	background-image: url(../images/retract.png);
}

/*地址选择*/
.address-detail {
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	padding: 10px;
	background-color: #fff;
}
.address-detail > label{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.address-detail > label > span{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding: 0 10px;
	line-height: 1.5;
}
.radio{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-image: url(../images/radio.png);
	background-position: 0 0;
}
.radio:checked{
	background-position: 0 -20px;
}
.icon-edit{
	display: block;
	width: 22px;
	height: 22px;	
	background-image: url(../images/icon-edit.png);
}

.address-add{
	display: block;
	padding: 10px;
	color: #000;
	background-color: #fff;
	border-top: 1px solid  #f2f2f2;
}
.icon-add{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0px 6px 1px 3px;
	vertical-align: middle;
	background-image: url(../images/icon-add.png);
}

.message{
	padding: 10px 10px 40px;
	margin-top: 5px;
	background-color: #fff;
}
.message h3{
	color: #008ff8;
	padding-bottom: 9px;
}
.message .texta{
	width: 100%;
	height: 125px;
	padding: 10px;
	border: 1px solid  #b2b2b2;
	border-radius: 11px;
}
.message .remark{
	padding-top: 5px;
	font-size: 12px;
	color: #b3b3b3;
}

/*提交订单*/
.order-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 44px;
	background-color: #B3B3B3;
}
.order-bar div{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;	
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
}
.order-bar a{
	width: 95px;
	line-height: 44px;
	text-align: center;
	background-color: #008FF8;
}
.order-blank{
	height: 80px;
}

/*******************填写地址********************/
.address-submit{
	background-color: #fff;
}
.address-submit ul li{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 45px;
	padding: 0 8px;
	border-bottom: 1px solid  #f2f2f2;
}
.address-submit ul li input{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	height: 100%;
	margin: 0 10px;
	padding: 0 5px;
	border: none;
}
.address-submit ul li input::-webkit-input-placeholder{
	color: #000;
}

.icon-address04,
.icon-address03,
.icon-address02,
.icon-address01{
	width: 22px;
	height: 22px;	
}
.icon-address01{
	background-image: url(../images/icon-address01.png)
}
.icon-address02{
	background-image: url(../images/icon-address02.png)
}
.icon-address03{
	background-image: url(../images/icon-address03.png)
}
.icon-address04{
	background-image: url(../images/icon-address04.png)
}


/*******************购物车列表********************/
/*购物车标题*/
.order-title{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	padding: 5px 10px 5px 13px;
	margin-bottom: 5px;
	background-color: #fff;
}
.order-title span{
	webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding-left: 13px;
}
.order-title a{
	color: #008ff8;
}

/*购物车-列表*/
.order-bar.choose dl{
	webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding: 0 15px 0 10px;
}
.order-bar.choose dl dt {
	float: left;
	padding-top: 10px;
	font-size: 12px;
}
.order-bar.choose dl dt input[type=checkbox]{
	vertical-align: middle;
	margin: 3px 6px 7px 0;
}
.order-bar.choose dl dd {
	float: right;
	padding-top: 5px;
	text-align: right;
}
.order-bar.choose dl dd em{
	display: block;
	font-size: 12px;
}


/*******************购物车编辑********************/
.order-bar.choose a.del-car{
	background-color: #FF4443;
}
.order-show .product-del{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	width: 50px;
	margin:-5px -12px -5px 0;
	color: #fff;
	background-color: #FF4443	;
}


/*******************20170217 商城首页产品滑动********************/
.swiper-container-horizontal>.swiper-pagination{
	bottom: 2px !important;
}
/*幻灯片*/
.swiper06 .swiper-pagination-bullet,
.swiper05 .swiper-pagination-bullet,
.swiper03 .swiper-pagination-bullet{
	width:7px !important;
	height:7px !important;
	background:#b2b2b2 !important;
	margin:0 5px 0 !important;
}
.swiper06 .swiper-pagination-bullet-active,
.swiper05 .swiper-pagination-bullet-active,
.swiper03 .swiper-pagination-bullet-active {
	background:rgba(0,0,0,0.36) !important;
}
nav{
	z-index: 99999999;
}
