@charset "utf-8";
body, html {
	color: #000;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
body{
  font-size: 14px;
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a, nav{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
}
a:active, a:hover {
	color: #e60012;
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
input,button,textarea{
	font-family: 'Microsoft yahei'
}
em,h3{
	font:inherit
}
.c01{
	color: #16438c;
}
.tc{
	text-align: center;
}
.hide-mb {
	display: block;
}
.hide-pc {
	display: none;
}
/*--------------头部*--------------*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
  padding-top: 13px;
  height: 80px;
  background-color:rgba(255,255,255,0.3);
  box-shadow: 0px 0 0 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .1s linear;
}
.header .logo{
  float: left;
  width: 316px;
}
.header .container {
  margin: 0 auto;
}
.hd-slide{
  position: fixed;
  background-color:rgba(255,255,255,1);
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.2);
}
.banner-dt{
  padding-top: 80px;
}
/*导航*/
.nav{
  float: left;
  padding-left: 150px;
  padding-right: 28px;
}
.nav li{
  display: inline-block;
  padding: 0 40px;
  text-align: center;
  font-size: 22px;
}
.nav li > a{
  display:block;
  line-height: 52px;
}
.nav li.active > a{
  color: #e60012;
  text-decoration: underline
}
.hd-so{
  float: right;
  /* padding-top: 8px; */
}
.hd-so input{
  width: 190px;
  height: 30px;
  border: 1px solid  #000;
  border-radius: 15px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: width .5s linear;
  outline: 0;
}
.hd-so button{
  display: inline-block;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(../images/hd-so.png);
  background-color: transparent;
  /* margin-left: 10px; */
  vertical-align: middle;
}
.hd-so.long input{
  width: 350px;
}
.hd-so span{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -28px;
  background-image: url(../images/so-close.png);
  background-size: 12px;
  background-position: 0 bottom;
  opacity: 0;
  cursor: pointer;
}
.hd-so.long span{
  opacity: 1;
}
/*二级导航*/
.nav-sub-wrap{
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 0;
  display: none;
  width: 100%;
  height: 210px;
  background-color: rgba(0,0,0,0.7);
}
.nav-sub{
  padding-top: 40px;
  text-align: center;
}
.nav-sub dl{
  text-align: center;
}
.nav-sub dl dd{
  display: inline-block;
  text-align: left;
  padding-right: 40px;
}
.nav-sub dl dd a{
  color: #fff;
}
.nav-sub dl dd img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.nav-sub dl dd p{
  display: inline-block;
}
.nav li.nav-sub-arrow a{
  position: relative; 
}
.nav li:nth-child(2).nav-sub-arrow > a:after{
  content: '';
  display: block;
  width: 45px;
  height: 21px;
  position: absolute;
  top: 47px;
  left: 21px;
  background-image: url(../images/nav-sub-arrow.png);
}

/*--------------banner--------------*/
.banner {
	width: 100%;
}
.swiper01 {
	width: 100%;
}
.swiper01 .swiper-slide {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.swiper01 .swiper-pagination-bullet {
	width: 0.08rem !important;
	height: 0.08rem !important;
	background: none !important;
	border: 0.03rem solid #fff !important;
	margin: 0 0.08rem !important;
	opacity: 1;
}
.swiper01 .swiper-pagination-bullet-active {
	background: rgba(255, 255, 255, 0.9) !important;
}
/*--------------公司简介--------------*/
.comp-intro{
	margin-top: -80px;
	text-align: center;
	font-size: 14px;
	line-height: 2.0;
	height: 280px;
	position: relative;
	z-index: 9999;
}
.comp-intro h3{
  font-size: 30px;
  color: #e60012;
  opacity:0.0;	
	-webkit-animation:textIn 1.2s linear forwards;
	margin-bottom: 20px;
}
.comp-intro p{
  opacity:0.0;	
	-webkit-animation:textIn 1.2s linear forwards 1.5s;
}

@-webkit-keyframes textIn {
		0% {-webkit-transform:translateY(0); opacity: 0;}
		100% { -webkit-transform:translateY(-20px); opacity: 1;}
}
@-webkit-keyframes imgIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
}
/*--------------视频介绍--------------*/
.video-wrap{
  height: 540px;
}
.video-show{
  width: 50%;
  float: left;
  position: relative;
  cursor: pointer;
}
.video-show .v-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  -webkit-transition: opacity .6s linear ;
}
.video-show .v-title{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background-color: rgba(230,0,18,.7);
  -webkit-transition: height .6s linear;
  overflow: hidden;
}
.v-title p{
  margin-top: 35px;
}
.v-title span{
  display: block;
  font-size: 20px;
  padding-top: 30px;
}

.video-show:hover .v-mask{
  opacity: 0
}
.video-show:hover .v-title{
  height: 200px
}

/*--------------留言--------------*/
.feedback{
	width: 900px;
	margin: -60px auto 0;
	border: 3px solid  #fecd21;
	background-color: #fff;
	display: none;
	position: relative;
	z-index: 1;
}
.feedback .fb-wrap{
	overflow: hidden;
	padding: 70px 70px 0 70px;
}
.feedback .fb-left{
	float: left;
	width: 240px;
}
.feedback .fb-right{
	float: left;
}
.feedback li{
	padding: 8px 0;
}
.feedback .rtext{
	padding: 8px 0 8px 8px;
}
.feedback .fb-ft{
	padding: 20px 0;
	text-align: center;
}
.feedback-out{
	padding: 25px 20px;
	background-color: #FECD21;
}
.feedback-out ul{
	overflow: hidden;
}
.feedback-out li{
	float: left;
	padding: 0 15px;
}
.fb-blank{
	height: 80px;
}
.ipt{
	display: inline-block;
	width: 225px;
	line-height: 34px;
	border: 1px solid  #999;
	padding: 0 5px;
}
.texta{
	display: inline-block;
	border: 1px solid  #999;
	padding: 5px;
	width: 458px;
	height: 133px;
	vertical-align: text-top;
	margin: 0;
}
.star{
	display: inline-block;
	color: #e60012;
	padding-right: 2px;
}
.btn{
	display: block;
	width: 134px;
	height: 44px;
	border-radius: 5px;
	background-color: #E60012;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}
.c-white{
	color: #fff;
}

.backtop{
	position: fixed;
	bottom: 100px;
	right: 0;
	display: block;
	width: 124px;
	line-height: 44px;
	background-color: #666;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.backtop:hover{
	background-color: #FECD21;
  color: #fff;
}
.backtop:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 30px;
	height: 20px;
	background-image: url(../images/backtop.png);
}

/*footer*/
.footer-wrap{
	background-color: #FECD21;
	font-size: 14px;
}
.footer{
	width: 1008px;
	padding: 30px 10px 10px;
	margin: 0 auto;
	overflow: hidden;
}
.footer .ft-left{
	float: left;
}
.footer .ft-left h3{
	font-size: 18px;
	font-weight: bold;
}
.footer .ft-left a{
	display: block;
	padding-top: 7px;
}
.footer .ft-left li{
	float: left;
	padding-right: 50px;
}
.footer .ft-right{
	float: right;
}
.qq-wx{
	float: left;
	width: 40px;
}
.qq-wx a{
	display: block;
	height: 40px;
	width: 40px;
	margin-bottom: 10px;
}
.qq-wx .icon-qq1{
	background-image: url(../images/icon-qq1.png);
}
.qq-wx .icon-qq2{
	background-image: url(../images/icon-qq1.png);
}
.qq-wx .icon-wx{
	position: relative;
	background-image: url(../images/icon-wx.png);
}
.qq-wx .icon-wx:hover:after{
	position: absolute;
	top: -96px;
	left: -158px;
	content: '';
	display: block;
	width: 158px;
	height: 136px;
	background-image: url(../images/qr-code.png);
}
.phone-list{
	float: left;
	padding-left: 10px;
}
.phone-list li{
	padding-bottom: 6px;
}
.phone-list li:nth-child(1){
	font-size: 18px;
}
.phone-list li:nth-child(2){
	font-size: 26px;
}
.copyright{
	clear: both;
	text-align: left;
	color: #A47510;
}
.btn-fb{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url(../images/feedback.png);
  background-size: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/*course*/
.course{
  width: 1000px;
  margin: 0 auto;
  height: 380px;
  position: relative;
}
.course:before,
.course:after{
  position: absolute;
  top: 16px;
  left: -128px;
  content: '';
  display: block;
  width: 128px;
  height: 32px;
  background-image: url(../images/course-tip01.png);
}
.course:after{
  left: auto;
  right: -128px;
  background-image: url(../images/course-tip02.png);
}
.swiper02{
  position: relative;
  z-index: -1;
}
.swiper02:after,
.swiper02:before{
  position: absolute;
  top: 16px;
  left: 286px;
  display: block;
  content: '';
  width: 32px;
  height: 32px;
  background-image: url(../images/course-dot.png);
  background-size: 100%;
}
.swiper02:after{
  left: auto;
  right: 286px;
}
.swiper02 .swiper-slide{
  text-align: center;
  cursor: pointer;
  height: 380px;
}
.swiper02 .swiper-slide span{
  display: block;
  font-size: 54px;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all .3s linear
}
.swiper02 .swiper-slide-active span{
  -webkit-transform: scale3d(1.3, 1.3, 1);
  transform: scale3d(1.3, 1.3, 1);
  color: #e60012;
}
.swiper02 .swiper-button-next,
.swiper02 .swiper-button-prev{
  width: 62px;
  height: 118px;
  background-image: url(../images/swiper-button-prev.png);
  background-size: 100%;
}
.swiper02 .swiper-button-next{
  background-image: url(../images/swiper-button-next.png);
}
.swiper02 .swiper-slide p{
  display: none;
  text-align: center;
}
.swiper02 .swiper-slide-active p{
  display: block;
}
.swiper02 .swiper-slide p label{
  display: block;
  padding: 40px 0 20px;
}
.video-play{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.9);
  display: none;
  z-index: 999999;
}
.video-play .video-close{
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 99999;
  font-style: normal;
  cursor: pointer;
}

/*product-list*/
.product-list{
  padding: 40px 0;
}
.product-list ul{
  width: 1258px;
  margin: 0 auto;
  overflow: hidden;
}
.product-list ul li{
  float: left;
  width: 240px;
  padding-right: 5px;
}
.product-list ul li:hover a,
.product-list ul li.active a{
  color: #e60012;
  cursor: pointer;
}
.product-list ul li span{
  font-size: 32px;
}
.product-list ul li p{
  padding-top: 5px;
  font-size: 18px;
}

/*product-item*/
.product-item{
  height: 480px;
  background-color: #dedede;
}
.product-item li{
  position: relative;
  float: left;
  padding-top: 115px;
  width: 33.3333%;
  height: 480px;
  overflow: hidden;
  border-right: 1px solid  #fff;
  text-align: center;
  cursor: pointer;
}
.product-item li a{
  color: #fff;
}
.product-item li span{
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 25px;
  text-align: left;
  -webkit-transition: all .6s linear;
  opacity: 1;
}
.product-item li:hover span{
  opacity: 0;
}
.product-item li label{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  opacity: 0;
  text-align: left;
  -webkit-transition: all .6s linear;
  z-index: 999;
}
.product-item li:hover label{
  top: 25px;
  left: 35px;
  font-size: 28px;
  opacity: 1;
}
.product-item li p{
  position: absolute;
  top: -1200px;
  left: -600px;
  opacity: 0;
  display: block;
  width: 600px;
  height: 1200px;
  background-color: rgba(230,0,18,.75);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  -webkit-transition: all .6s linear;
}
.product-item li:hover p{
  top: -600px;
  left: -300px;
  opacity: 1;
}
.product-txt{
  text-align: center;
  background-color: #4FAAF7;
  color: #fff;
  min-height: 150px;
  padding: 60px 0 0;
  line-height: 1.6;
}
.product-txt p{
  opacity:0;	
	-webkit-animation:textIn .6s linear forwards;
}

/*feature*/
.product-feature{
  overflow: hidden;
  width: 1258px;
  margin: 0 auto;
  padding-top: 50px;
}
.product-feature li{
  float: left;
  text-align: center;
  width: 33.333%;
  color: #666;
  line-height: 1.6;
  margin-bottom: 50px;
}
.product-feature li span{
  display: block;
  color: #0C89F3;
  padding-bottom: 25px;
}
.product-feature p{
  opacity:0;	
	-webkit-animation:textIn .6s linear forwards;
}

/*性能参数*/
.product-specs{
  width: 1258px;
  padding: 40px 0 20px;
  margin: 0 auto;
}
.product-specs h3{
  font-size: 30px;
  color: #4FAAF7;
  text-align: center;
  padding-bottom: 20px;
}
.spces-tab{
  border: 1px solid  #999;
  height: 42px;
}
.spces-tab li{
  width: 50%;
  padding-top: 12px;
  height: 40px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.spces-tab li.curr{
  color: #4FAAF7;
  border-bottom: 2px solid  #4FAAF7;
}
.spces-detail{
  margin-top: 30px;
}
.spces-detail dl{
  border-top: 1px solid  #D4D4D4;
  padding: 30px 0;
}
.spces-detail dl dt{
  float: left;
  width: 200px;
  font-size: 18px;
}
.spces-detail dl dd{
  margin-left: 200px;
  color: #333;
}
.specs-info{
  padding-top: 20px;
  color: #999;
  font-size: 12px;
  text-align: center;
}
.spces-h{
	min-height: 400px;
}
/*download*/
.download{
  padding: 60px 0;
  text-align: center;
}
.download h3{
  font-size: 30px;
  color: #4FAAF7;
	margin-bottom: 10px;
}
.download img{
  color: #4FAAF7;
}
.download p{
  font-size: 20px;
	padding: 5px 0;
}
.bg-wrap{
	background-color: #F2F2F2;
}

/*collection*/
.collection{
	overflow: hidden;
}
.collection .clet-right,
.collection .clet-left{
	float: left;
	width: 50%;
	padding-right: 2px;
}
.collection .clet-right{
	float: right;
	padding-left: 2px;
}

/*smart-item*/
.smart-item{
	overflow: hidden;
}
.smart-item a{
	float: left;
	width: 33.333%;
	display: block;
}
.smart-item a:nth-child(2n){
	background-color: #5A5A5A;
	position: relative;
	z-index: 99999;
}
.smart-item a:nth-child(2n):hover{
	background-color: #E60012;
}
.smart-item a:nth-child(2n) span{
	position: absolute;
	top: 40%;
	left: 0;
	color: #fff;
	font-size: 30px;
	display: block;
	width: 100%;
	text-align: center;
}
.smart-item a:nth-child(even):after{
	position: absolute;
	left: 50%;
	content: '';
	margin-left: -30px;
	display: block;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid #5A5A5A;
  vertical-align: middle;
  height: 0;
  width: 0;
	z-index: 99999;
}
.smart-item a:nth-child(2):after{
	bottom: -50px;
  transform: rotate3d(0, 0, 1, 90deg);
}
.smart-item a:nth-child(6):after,
.smart-item a:nth-child(4):after{
	top: -50px;
  transform: rotate3d(0, 0, 1, 270deg);
}
.smart-item a:nth-child(even):hover:after{
  border-left-color: #E60012;
}

.smart-item a:nth-child(odd){
	overflow: hidden;
	-webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all .3s linear;
	position: relative;
	z-index: 9;
}
.smart-item a:nth-child(odd):before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
  -webkit-transition: all .3s linear;
}
.smart-item a:nth-child(odd):hover{
	-webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.smart-item a:nth-child(odd):hover:before{
	background-color: rgba(0,0,0,.0);
}
.smart-item a:nth-child(5):hover{
	z-index: 1;
}
.bg-white{
	background-color: #fff !important;
	color: #000;
}
/*solution*/
.solution{
	overflow: hidden;
}
.solution dl{
	float: left;
	width: 50%;
	padding: 15px;
	margin-top: 12px;
	background-color: #FECD21;
	overflow: hidden;
}
.solution dl:nth-child(odd){
	border-right: 6px solid #fff;
}
.solution dl:nth-child(even){
	border-left: 6px solid #fff;
}
.solution dl dt{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}
.solution dl dd{
	width: 45%;
	padding-left: 40px;
	display: inline-block;
	word-break: break-all;
	vertical-align: middle;
}
.solution dl dd h3{
	font-size: 24px;
	color: #fff;
}
.solution dl dd span{
	padding-top: 10px;
	display: block;
	color: #000;
}

.smart-txt{
	padding-top:100px;
	padding-bottom: 60px;
}

/*system*/
.sys-tab{
  overflow: hidden;
	width: 1258px;
	margin: 0 auto;
}
.sys-tab li{
  width: 268px;
  height: 56px;
	line-height: 56px;
	font-size: 24px;
  text-align: center;
  float: left;
  cursor: pointer;
	border: 1px solid  #959595;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 60px;
	margin-bottom: 10px;
}
.sys-tab li:nth-child(4n){
	margin-right: 0;
}
.sys-tab li:hover,
.sys-tab li.curr{
  color: #fff;
	background-color: #E60012;
	border: none;
}
.sysinfo-wrap{
	height: 400px;
	border-top: 5px solid  #E60012;
	padding: 20px 0;
	background-color: #525252;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}
.contmain{
	width: 1258px;
	margin: 0 auto;
}
.contmain:after{
	content: '';
	display: block;
	clear: both;
}
.sysswiper{
	display: inline-block;
	vertical-align: middle;
	width: 700px;
	height: 360px;
	overflow: hidden;
}
.sysinfo{
	display: inline-block;
	vertical-align: middle;
	width: 550px;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
}
.sysinfo p{
	margin-bottom: 30px;
}
.swiper06{
	width: 100%;
	height: 100%;
}

.swiper06 .swiper-pagination-bullet {
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color:#fff;
	opacity: 1;
	background: rgba(0,0,0,0.4);
	margin-bottom: 15px !important;
}
.swiper06 .swiper-pagination-bullet-active {
		color:#000;
		background: #FECD21;
}

.sp6:before{
	content: '演示';
	width: 20px;
	text-align: center;
	display: block;
	position: absolute;
	top: -100px;
	left: 8px;
	color: #9A9A9A;
}
.icon-play{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	margin-left: -75px;
	margin-top: -75px;
	background-image: url(../images/play.png);
	background-size: 100%;
}
/*sys feature*/
.sys-feature{
  overflow: hidden;
  margin: 0 auto;
  padding-top: 50px;
}
.sys-feature li{
  float: left;
  text-align: center;
  width: 33.333%;
  color: #666;
  line-height: 1.6;
  margin-bottom: 50px;
  min-height: 310px;
}
.sys-feature li img{
  opacity:0;	
}
.sys-feature li span{
  display: block;
  color: #0C89F3;
  padding-bottom: 25px;
  padding-top: 20px;
  opacity:0;
  font-size: 16px;
}
.sys-feature p{
	display: block;
	font-size: 12px;
  opacity:0;	
	margin-top: -20px;
}
.anni{
	-webkit-animation:textIn 1s linear .8s forwards;
}
.imgIn{
	-webkit-animation:imgIn 1s linear .5s  forwards;
}
.myvideo{
	width: 640px;
	height: 360px;
}
.backlist{
	bottom: 160px;
}
/*aboutus list*/
.aboutus-list{
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
}
.aboutus-list a{
	display: block;
	width: 100px;
	float: left;
	margin-right: 130px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
	cursor: pointer
}
.aboutus-list a:last-child{
	margin-right: 0;
}
.aboutus-list a:hover{
	color: #e60012;
}
.aboutus-list a i{
	width: 100px;
	height: 86px;
	display: block;
	background-size: 100%;
	margin: 0 auto 5px;
}
.icon-aboutus01{
	background-image: url(../images/icon-aboutus01.png);
}
.icon-aboutus02{
	background-image: url(../images/icon-aboutus02.png);
}
.icon-aboutus03{
	background-image: url(../images/icon-aboutus03.png);
}
.icon-aboutus04{
	background-image: url(../images/icon-aboutus04.png);
}
.icon-aboutus05{
	background-image: url(../images/icon-aboutus05.png);
}
.icon-aboutus06{
	background-image: url(../images/icon-aboutus06.png);
}
.aboutus-list a.active .icon-aboutus01,
.aboutus-list a:hover .icon-aboutus01{
	background-image: url(../images/icon-aboutus01-active.png);
}
.aboutus-list a.active .icon-aboutus02,
.aboutus-list a:hover .icon-aboutus02{
	background-image: url(../images/icon-aboutus02-active.png);
}
.aboutus-list a.active .icon-aboutus03,
.aboutus-list a:hover .icon-aboutus03{
	background-image: url(../images/icon-aboutus03-active.png);
}
.aboutus-list a.active .icon-aboutus04,
.aboutus-list a:hover .icon-aboutus04{
	background-image: url(../images/icon-aboutus04-active.png);
}
.aboutus-list a.active .icon-aboutus05,
.aboutus-list a:hover .icon-aboutus05{
	background-image: url(../images/icon-aboutus05-active.png);
}
.aboutus-list a.active .icon-aboutus06,
.aboutus-list a:hover .icon-aboutus06{
	background-image: url(../images/icon-aboutus06-active.png);
}

/*news type*/
.news-type{
	overflow: hidden;
	padding-top: 15px;
	border-top: 1px solid  #000;
}
.news-type li{
	float: left;
	width: 25%;
	padding-right: 10px;
}
.news-type li a{
	display: block;
	line-height: 60px;
	font-size: 28px;
	text-align: center;
	background-color: #fecd21;
}
.news-type li.active a,
.news-type li:hover a{
	color: #fff;
	background-color: #e60012;
}
.news-type li:last-child{
	padding-right: 0;
}
/*news list*/
.news-list{
	margin: 50px auto 10px;
}
.news-list:after{
	content: '';
	display: block;
	clear: both;
}
.news-list a{
	display: block;
	width: 340px;
	height: 400px;
	float: left;
	padding: 20px;
	margin-right: 119px;
	margin-bottom: 40px;
	position: relative;
}
.news-list a h3{
	font-size: 22px;
	padding: 10px 0;
}
.news-list a p{
	line-height: 1.6;
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}
.news-list a label{
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #666;
}
.news-list a:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
  box-shadow: 0px 0px 20px 0px rgba(0, 0,0, 0.1);
}
.news-list a:hover:after{
  box-shadow: 0px 0px 20px 0px rgba(254, 205,33, 0.5);
}
.news-list a:nth-child(3n){
	margin-right: 0;
}
/*翻页*/
.news-page{
	border-top: 1px solid  #fecd21;
  text-align: right;
}
.news-page span,
.news-page a{
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  margin: 0 5px;
  text-align: center;
	overflow: hidden;
}
.news-page span,
.news-page a{
  color: #999;
}
.news-page .current{
  color: #e60012;
}
.news-page .current,
.news-page a:hover{
	background-color: #fecd21;
}
.news-page .next,
.news-page .prev{
	text-indent: 9999px;
	background-image: url(../images/page-prev.png);
	background-size: 18px;
}
.news-page .next{
	background-image: url(../images/page-next.png);
}
.news-page .first{
	text-indent: 9999px;
	background-image: url(../images/page01.png);
}
.news-page .last{
	text-indent: 9999px;
	background-image: url(../images/page02.png);
}
/*新闻详情*/
.news-detail{
	position: relative;
	float: left;
	width: 850px;
	padding: 0 90px;
}
.news-detail .news-title{
	font-size: 28px;
	font-weight: bold;
}
.news-detail .news-title span{
	display: block;
	padding-top: 10px;
	font-size:14px;
	font-weight: normal;
	color: #666;
}
.news-detail .news-content{
	padding:10px 0;
	line-height:2;
	text-align: left;
	color: #333;
}
.news-detail .news-content p{
	text-align: left;
	margin-bottom: 10px;
}
.news-detail .news-content img{
	clear: both;
	margin: 10px auto;
}
.blank40{
	height: 40px;
}
.back-news{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	display: block;
	background-image: url(../images/back-news.png);
}
.news-comment{
	float: right;
	width: 400px;
	border: 1px solid  #fecd21;
	padding: 20px 45px 100px;
	min-height: 500px;
}
.news-comment h3{
	font-size: 26px;
	padding: 10px 0;
	border-bottom: 1px solid  #fecd21;
}
.news-comment li{
	color: #999;
	padding: 20px 0;
	border-bottom: 1px solid  #fecd21;
	text-align: justify
}
/*news-search*/
.news-search{
	height: 44px;
	position: relative;
	padding-right: 100px;
}
.news-search button,
.news-search input{
	display: inline-block;
	height: 44px;
	line-height: 44px;
	background-color: #fecd21;
	outline: 0;
}
.news-search input{
	border: 1px solid  #999;
	width: 100%;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
	font-size: 22px;
	padding: 0 20px;
}
.news-search input::-webkit-input-placeholder {
	color:#000;
}
.news-search button{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	border: 1px solid  #999;
	border-left: 0;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	background-image: url(../images/hd-so.png);
	background-position: center center;
	background-size: 30px;
	cursor: pointer;
}
.news-search button:hover{
	background-image: url(../images/hd-so-active.png);
}
/*news-result*/
.news-result{
	width: 1000px;
	margin: 0 auto;
}
.news-result h3{
	font-size: 20px;
	border-bottom: 1px solid  #ccc;
	padding-bottom: 20px;
}
.news-result ul{
	border-bottom: 1px solid  #ccc;
	overflow: hidden;
}
.news-result ul li{
	padding: 20px 0 10px;
	float: left;
	width: 10%;
}
.news-result ul li:nth-child(1){
	width: 60%;
	font-size: 18px;
}
.news-result ul li:nth-child(4){
	width: 20%;
	text-align: right;
	padding-top: 10px;
}
.btn-download{
	display: block;
	border: none;
	width: 134px;
	line-height: 44px;
	border-radius: 5px;
	color: #000;
	text-align: center;
	font-size: 20px;
	background-color: #FECD21;
	float: right;
	cursor: pointer;
	font-family: 'Microsoft yahei';
}
.btn-download:hover{
	background-color: #E60012;
	color: #fff;
}



















