@charset "utf-8";
body, html {
	color: #000;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
html {
	font-size: 16px;
}

body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: 100% !important;
}
body{
	background-color: #f2f2f2;
	padding-bottom: 50px;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
 
}
a {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
 
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background-color: transparent;;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
	border:none;
  outline:0;
}
input[type=text], textarea {
	background-color: #fff;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right {
	text-align: right;
}
.inline {
	display: inline-block !important;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}

/*内容*/
.bgWhite{
	background-color: #fff;
}
/*导航*/
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	height: 44px;
	background-color: #fff;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -2px 10px 0px rgba(10, 2, 4, 0.2);
}
nav a{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	width:0%;/*必须有*/
	display: block;
	height:44px;
	line-height: 44px;
	text-align:center;
	font-size: 13px;
	color: #808080;
}
nav a.active{
	color: #dd313c;
}
nav a i{
	display: inline-block;
	width: 20px;
	height: 35px;	
	vertical-align: middle;
	margin: 0 5px 5px;
}
nav a i.icon-home{	
	background-image: url(../images/icon-home.png);
}
nav a.active i.icon-home{	
	background-image: url(../images/icon-home-active.png);
}
nav a i.icon-push{	
	background-image: url(../images/icon-push.png);
}
nav a.active i.icon-push{	
	background-image: url(../images/icon-push-active.png);
}
nav a i.icon-user{	
	background-image: url(../images/icon-user.png);
}
nav a.active i.icon-user{	
	background-image: url(../images/icon-user-active.png);
}

/**************个人中心**************/
/*头像 */
.avatar-wrap{
	height: 180px;
	padding-top: 16px;
	color: #fff;
	background-image: url(../images/avatar-bg.png);
	background-size: cover !important;
	text-align: center;
}
.avatar-wrap .avatar{
	display: block;
  width: 90px;
  height: 90px;
	border-radius: 50%;
	border: 1px solid  #fff;
	background-color: #fff;
	margin: 0 auto;
}
.avatar-wrap span{
	display: block;
	margin-top: 5px;
}
.avatar-wrap label{
	display: inline-block;
	min-width: 40px;
	margin: 5px auto 0;
	padding: 1px 3px;
	border-radius: 8px;
	border: 1px solid  #fff;
	text-align: center;
	font-size: 14px;
}



/*用户信息 list*/
.list{
	margin-top: 10px;
	background-color: #fff;
}
.list ul li{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 30px 0 30px;
	color: #808080;
	border-bottom: 1px solid #F2F2F2;
}
.list ul li .cell{
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: block;
	padding: 10px 10px 10px 0;
	overflow: hidden;
	color: inherit;	
	background-image: url(../images/item-arrow.png);
	background-repeat: no-repeat !important;
	background-position: right center !important;
	-webkit-background-size: 16px !important;
	-webkit-background-origin: content-box;
	background-origin: content-box;
}
.list ul li:nth-last-child(1) .cell{
	border-bottom: none;
}
.list ul li .cell .tip{
	position: absolute;
	top: 10px;
	right: 0;
	padding-right: 30px;
	color: #aaa;
}
.list ul li div.cell{
	background-image: none;
}
.list ul li:active{
	background-color: #f8f8f8;
}
.list ul li.no-link:active{
	background-color: transparent;
}
/*图标*/
.list ul li i.icon-list{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin:0 10px 0 0;
}
.list ul li i.icon-list.icon-list-fav{
	background-image: url(../images/icon-list-fav.png)
}
.list ul li i.icon-list.icon-list-sale{
	background-image: url(../images/icon-list-sale.png)
}
.list ul li i.icon-list.icon-list-buy{
	background-image: url(../images/icon-list-buy.png)
}

/*************出售求购***************/
.flex-tab ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.flex-tab li{
	-webkit-box-flex:1;
	-webkit-flex:1;
 	flex:1;
	width:0%;/*必须有*/	
	height: 44px;
	line-height: 44px;
	background-color: #B3B3B3;
	text-align:center;
	color: #fff;
}
.flex-tab li.curr{
	background-color: #DD313C;
}
.tab-centent{
	padding: 10px;
}

/*列表项*/
.list-item{
	padding: 15px 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	color: #808080;
	background-color: #fff;
}
.list-item .title{
	color: #dd313c;
}
.list-item .title span{
	float: right;
}
.list-item .box{
	padding: 10px 0;
	overflow: hidden;
}
.list-item .box .pic{
	float: left;
	width: 140px;
}
.list-item .box .pic img{
	width: 140px;
	height: 90px;
}
.list-item .box .info{
	margin-left: 165px;
	line-height: 1.8;
}
.list-item .item-ft{
	overflow: hidden;
}
.list-item .item-ft dt{
	float: right;
	font-size: 13px;
}
.list-item .item-ft dd{
	float: left;
}

.icon-fav{
	display: block;
	margin: 0 auto;
	width: 22px;
	height: 22px;	
	vertical-align: middle;
	background-image: url(../images/icon-fav.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.icon-fav.active{
	background-image: url(../images/icon-fav-active.png);
}

/*************注册***************/
.bg-reg{
	background-image: url(../images/bg-reg.png);
	background-size: cover !important;
	background-position: top left !important;
}
.reg-title{
	display: block;
	width: 119px;
	height: 28px;
	margin: 140px auto 80px;
}
.reg-title.gr{
	background-image: url(../images/reg-gr.png);
}
.btn-reg{
	display: block;
	width: 260px;
	height: 40px;
	line-height: 40px;
	padding:0 15px;
	margin:0 auto 25px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;	
	overflow: hidden;
	color: #fff;
	background-color: rgba(255,255,255,0.20);
	border: 1px solid  #fff;
}

/*************发布***************/
.publish-wrap{
	padding: 10px 30px;
}
.publish li label{
	display: block;
	padding: 15px 0 3px;
	color: #dd313c;
}
.publish li .ipt{
	width: 100%;
	line-height: 2.0;
	border-bottom: 1px solid  #b2b2b2;	
}
.publish li .selector{
	position: relative;
}
.publish li .selector:after{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 25px;
	height: 25px;
	background-image: url(../images/icon-selector.png);
	background-size: 15px !important;
}
.publish li.separate{
	width:46.5%;
	display: inline-block;	
}
.publish li.separate.mr{
	float: right;
	margin-left: 15px;
}
/*类型选择-弹出*/
.pop{
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 9;
	border: 1px solid  #b2b2b2;
	background-color: #fff;
	display: none;
}
.pop li{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.pop li:nth-last-child(1){
	border: none;
}
.pop li:active{
	background-color: #eee;
}

/*图片上传*/
.upload-wrap{
	position: relative;
	min-height: 118px;
}
.btn-file{
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 10px;
	margin-left: 12px;
	vertical-align: middle;
	-webkit-appearance: none;
	border: none;
/*	opacity: 0;*/
}
.btn-file:after{
	content: "";
	position: absolute;
	top: 0;
	left: -12px;
	width: 200px;
	height: 100px;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	background-color: #fff;
	 background-image: url(../images/icon-plus.png); 
	background-size: 30px !important;
}
.btn-file:before{
	content: "点击加号添加图片";
	position: absolute;
	top: 69px;
	left: 40px;
	z-index: 999;
	width: 120px;
	font-size: 14px;
	color: #b2b2b2;
}
.photo{ 
	position: absolute;
	top: 0;
	left: 0;	
	z-index: -1;
	width: 200px;
	height: 100px;
	vertical-align: middle;
	margin-right: 15px;
	display: none;
}
.photo img{ 
	width: 200px;
	height: 100px;
	border-radius: 10px;
	border: 1px solid  #b2b2b2;
}
.btn-warp{
	text-align: center;
}
.btn-publish{
	display: inline-block;
	width: 110px;
	height: 40px;
	line-height: 40px;
	margin:0 auto;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
	background-color: #DD313C;
}

/*************个人注册***************/
.reg-title-sub{
	height: 100px;
	background-image: url(../images/bg-reg-title.png);
	background-size: cover !important;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.reg-title-sub span{
	display: block;
	width: 119px;
	height: 28px;
}
.reg-title-sub span.gr{
	background-image: url(../images/reg-gr.png)	
}
.reg-title-sub span.qy{
	background-image: url(../images/reg-qy.png)	
}

/*************翻页***************/
.pagination{
	text-align: center;
	padding:0 0 10px;
}
.pagination a{
	display: inline-block;
	margin: 0 2px;
	width: 20px;
	height: 20px;
	line-height: 22px;
	vertical-align: middle;
	text-align: center;
	color: #b2b2b2;
}
.pagination a:first-child{
	background-image: url(../images/page-prev.png);
	background-size: 14px !important;
}
.pagination a:last-child{
	background-image: url(../images/page-next.png);
	background-size: 14px !important;
}

/*************我的出售***************/
.my-title{
	height: 44px;
	line-height: 44px;
	background-color: #DD323B;
	color: #fff;
	text-align: center;
}
.list-wrap{
	padding: 10px;
}

/*************20170217***************/
/*点击样图弹出层*/
.mask {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}
.dialog {
	position: fixed;
	z-index: 9999;
	width: 80%;
	max-width: 300px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;		
}
.dialog .dialog-body{
	padding: 10px;
	text-align: left;
	font-size: 15px;
	line-height: 1.3;
	color: #888;
}	
.dialog .dialog-body h3{
	padding: 0 0 10px;
	color: #000;
	font-size: 15px;
	font-weight: normal;
}	
.dialog .dialog-footer{
	text-align: center;
	min-height: 48px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
/*弹出框-幻灯片*/
.swiper01{
	min-height: 150px;
}
.swiper01 .swiper-pagination-bullet{
	width:5px !important;
	height:5px !important;
	background:#fff !important;
	margin:0 3px !important;
}
.swiper01 .swiper-pagination-bullet-active {
	background:rgba(255,255,255,0.6) !important;
}

/*图片上传*/
.upload-h{
	min-height: 130px;
}
.upload-item{
	float: left;
}
.upload-wrap2{
	position: relative;
	width: 75px;
	height: 75px;
}
.btn-file2{
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 10px;
	margin-left: 12px;
	vertical-align: middle;
	-webkit-appearance: none;
	border: none;
   /*	opacity: 0;*/
}
.btn-file2:after{
	content: "";
	position: absolute;
	top: 0;
	left: -12px;
	width: 70px;
	height: 70px;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	background-color: #fff;
	background-image: url(../images/icon-plus.png); 
	background-size: 30px !important;
}
.btn-file2:before{
	position: absolute;
	top: 69px;
	left: 40px;
	z-index: 999;
	width: 60px;
	color: #b2b2b2;
}
.photo2{ 
	position: absolute;
	top: 0;
	left: 0;	
	z-index: -1;
	width: 70px;
	height: 70px;
	vertical-align: middle;
	margin-right: 15px;
	display: none;
}
.photo2 img{ 
	width: 70px;
	height: 70px;
	border-radius: 10px;
	border: 1px solid  #b2b2b2;
}
/*商品详情文字*/

.texta{
	width: 100%;
	min-height: 105px;
	padding: 10px;
	border: 1px solid  #b2b2b2;
	border-radius: 10px;
}
