@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
  background-color: #F5F5F5;
  font-size: .28rem;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input{
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:active {
  color: #333;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
em, h3 {
  font: inherit;
}
.bg{
  background-image: url(../images/bg.png);
  background-repeat: repeat;
}
.logo{
  padding-left: .6rem;
  padding-top: .6rem;
}
.logo img{
  width: 3.57rem;
  height: .73rem;
}
.blank02{
  height: 1.8rem;
}
.blank01{
  height: 1rem;
}
.pop01{
  background-color: #7DC6B3;
  border-radius: .5rem;
  width: 5.83rem;
  height: 2.65rem;
  margin: 0 auto;
  padding: .2rem .5rem;
  position: relative;
}
.pop01::after{
  content: '';
  display: block;
  width: .8rem;
  height: 1rem;
  background-image: url(../images/arrow.png);
  position: absolute;
  bottom: -0.9rem;
  right: 0.4rem;
}
.ready{
  margin-top: 1rem;
  text-align: center;
  padding-right: 0.7rem;
}
.ready img{
  display: inline-block;
  margin: 0 .2rem;
}
.ready img:nth-child(1){
  width: 2.58rem;
}
.ready img:nth-child(2){
  width: 1.82rem;
}
.btn{
  display: block;
  margin: .5rem auto 0;
  width: 3.6rem;
  line-height: 1rem;
  border-radius: .5rem;
  background:linear-gradient(0deg, #36AB8C, #7DC6B3);
  font-size: .4rem;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.btn.c02{
  background:linear-gradient(0deg, #DD8685, #EF9896);
}
.btn.mt{
  margin-top: 1rem;
}
/* 头像图片 */
.pop-picture{
  background-color: #7DC6B3;
  border-radius: .5rem;
  width: 5.80rem;
  height: 5.60rem;
  margin: 0 auto;
  padding: .5rem;
  position: relative;
  background-origin: content-box;
}
.pop-picture > i{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: .3rem;
}
.pop-picture::after{
  content: '';
  display: block;
  width: .76rem;
  height: .58rem;
  position: absolute;
  bottom: -0.55rem;
  right: 0.4rem;
  background-image: url(../images/arrow2.png);
}
.pop-picture.c02::after{
  background-image: url(../images/arrow-c02.png);
}
.pop-picture.c02{
  background-color: #F19A98;
}
.pop-picture::before{
  content: '';
  display: block;
  width: 1.22rem;
  height: 1.68rem;
  background-image: url(../images/bear.png);
  position: absolute;
  bottom: -2.3rem;
  right: 0.4rem;
  z-index: 99;
}
.question{
  color: #50A58F;
  width: 5.38rem;
  font-size: .48rem;
  padding-right: 1.4rem;
  padding-top: 0.7rem;
  text-align: left;
  margin: 0 auto;
  line-height: 1.4;
}
/* 屏幕小于360 */
@media (max-width: 360px){
  html{
    font-size: 40px;
  }
}
/* 答对了 */
.result-title{
  font-size: .7rem;
  text-align: center;
}
.result{
  border-radius: .5rem;
  width: 5.80rem;
  margin: 1.5rem auto 0;
  padding: .3rem .5rem;
  position: relative;
  color: #fff;
  font-size: .36rem;
  text-align: justify;
  line-height: 1.8;
}
.result.error{
  background-color: #F19A98;
}
.result.correct{
  background-color: #7DC6B3;
}
.result.error::before,
.result.correct::before{
  content: '';
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  top: -1.4rem;
  left: 50%;
  margin-left: -1rem;
}
.result.correct::before{
  background-image: url(../images/bear-correct.png);
}
.result.error::before{
  margin-left: -.8rem;
  width: 1.53rem;
  height: 1.4rem;
  background-image: url(../images/bear-error.png);
}

.result-title span{
  display: none;
}
.result-title.correct span:nth-child(1){
  display: block;
  color: #7DC6B3;
}
.result-title.error span:nth-child(2){
  display: block;
  color: #F19A98;
}
/* 水平 */
.level{
  background-color: #7DC6B3;
  border-radius: .5rem;
  width: 5.8rem;
  margin: 1.5rem auto 0;
  position: relative;
  color: #fff;
  font-size: .36rem;
  text-align: justify;
  line-height: 1.8;
  padding-bottom: .3rem;
}
.level h3{
  padding: .5rem .5rem 0;
}
.level .level-bg{
  position: relative;
  width: 5.8rem;
  height: 5rem;
  margin: .2rem auto .3rem;
}
.level .l01{
  background-image: url(../images/level01.png);
}
.level .l02{
  background-image: url(../images/level02.png);
}
.level .l03{
  background-image: url(../images/level03.png);
}
.level .l04{
  background-image: url(../images/level04.png);
}
.level .l05{
  background-image: url(../images/level05.png);
}
.level .l06{
  background-image: url(../images/level06.png);
}
.level .level-bg span{
  font-size: .36rem;
  color: rgb(98, 60, 45);
  display: block;
  padding: .6rem 0 0 2.6rem;
  font-weight: bold;
}
.level .qr{
  padding: 0 .36rem 0 .2rem;
}
.level .qr ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.level .qr ul li:nth-child(1) img{
  height: 0.66rem;
  margin-top: .3rem;
}
.level .qr ul li:nth-child(2) img{
  height: 1.5rem;
}
.save-get{
  padding: 0 .6rem 0;
}
.save-get ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.save-get ul li{
  position: relative;
}
.save-get li:nth-child(1) img{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  height: .9rem;
  margin-top: 0.7rem;
}
.save-get li img,
.save-get li a{
  position: relative;
  z-index: 9999999999;
}
.btn.more{
  font-size: .28rem;
  line-height: 1.5;
  padding: .2rem 0;
}
.btn.error{
  background:linear-gradient(0deg, #DD8684, #EF9896);
}
.share{
  display: block;
  width: 3rem;
  height: .88rem;
  background-image: url(../images/share.png);
  position: fixed;
  top: 0.3rem;
  right: 0.4rem;
}
.icon-music{
  width: .58rem;
  height: .58rem;
  display: block;
  position: fixed;
  top: 0.3rem;
  left: 0.3rem;
  background-image: url(../images/icon-music.png);
}
.play{
  -webkit-animation:rotate 2s linear infinite;
}
.mute{
  background-image: url(../images/icon-music02.png);
}
@-webkit-keyframes rotate{
	0% {-webkit-transform:rotate(0deg)}
	50% {-webkit-transform:rotate(180deg)}
	100%{-webkit-transform:rotate(360deg)}
}
.captures{
  opacity: 0.51;
  border: 1px solid  #000;
  position: absolute;
  top: 1.5rem;
  left: 0;
  z-index: 999;
}
