@charset "utf-8";

html {
  font-size: 100px;
}
body, html {
  color: #595959;
  font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body{
  font-size: .16rem;
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a, nav{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
  background-repeat: no-repeat !important;
  background-position: center center;
}
li {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
a {
  color: #82318E;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
a:active, a:hover {
  color: #B39C6C;
  outline: 0;
  text-decoration: none;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border: 0;
}
button {
  overflow: visible;
  border: none;
  outline: 0;
}
input,button,textarea{
  font-family: 'Microsoft yahei';
  outline: 0;
}

em,h3{
  font: inherit;
  font-weight: normal;
}
.c01{
  color: #16438c;
}
.tc{
  text-align: center;
}
.hide-mb {
  display: block;
}
.hide-pc {
  display: none;
}
/* 头部 */
.header{
  position: relative;
  height: 100px;
  border-top: 4px solid #82318E;
  border-bottom: 1px solid #EAEAEA;
  background-color: rgba(255, 255, 255, 1);
}
.header .logo{
  float: left;
  width: 6rem;
  padding-top: .25rem;
}
.header .logo img{

}
.header .container {
  margin: 0 auto;
}
/* 导航 */
.nav{
  float: left;
  padding-right: 8px;
}
.nav li{
  display: inline-block;
  padding: 0 20px;
  min-width:  90px;
  text-align: center;
  font-size: 16px;
  height: 95px;
  line-height:  95px;
  margin-right: 0;
}
.nav li.active,
.nav li:hover{
  background-color: #82318E;
}
.nav li > a{
  display: block;
  color: #000;
}
.nav li.active > a,
.nav li:hover > a{
  color: #fff;
}
.hd-lang{
  float: right;
  padding-top: 42px;
}
.hd-lang button{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid  #fff;
  background: transparent;
  color: #fff;
  margin: 0 3px;
  cursor: pointer;
}
.hd-lang button.active{
  border: none;
  background-color: #A08347;
  font-size: 16px;
}

/* 适配全局宽度 */
.mainer{
  width: 12rem;
  margin: 0 auto;
  position: relative;
}
/* banner */
.swiper01 {
  width: 100%;
}
.swiper01 .swiper-slide {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.swiper01 .swiper-button-next,
.swiper01 .swiper-button-prev{
  opacity: 1;
  width: .63rem;
  height: .63rem;
  left: .25rem;
  background-image: url(../images/swiper-button-prev.png);
  background-size: 100%;
  margin-top: .25rem;
}

/* banner */
.banner{
  padding: .2rem .7rem;
}

/* 主标题 */
.mtitle{
  text-align: center;
  font-size: 24px;
  color: #666;
  letter-spacing: 3px;
}
.mtitle em{
  display: block;
  color: #333;
  padding-top: .1rem;
}
.mcontent{
  line-height: 2.6;
  text-align: center;
  margin-top: .2rem;
  padding: 0 .4rem;
}
.mcontent h3{
  font-size: 14px;
  color: #666;
  font-weight:  bold;
}
.blank{
  height: .6rem;
}
/* 乡村振兴行啊吗 */
.village-item ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.village-item ul li{
  flex: 0 0 -webkit-calc(20% - 10px);
  background-color: #ccc;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: .1rem;
  color: #82318e;
  background-image: url(../images/vig-item-bg.png);
  margin-bottom: .15rem;
}
.village-item ul li i{
  display: block;
  background-color: #fff;
  border-radius: 50%;
  width: .68rem;
  height: .68rem;
  border: .04rem solid  rgba(130, 49, 142, 0.4);
}
.village-item ul li .icon-vig01{
  background-image: url(../images/icon-vig01.png);
}
.village-item ul li .icon-vig02{
  background-image: url(../images/icon-vig02.png);
}
.village-item ul li .icon-vig03{
  background-image: url(../images/icon-vig03.png);
}
.village-item ul li .icon-vig04{
  background-image: url(../images/icon-vig04.png);
}
.village-item ul li .icon-vig05{
  background-image: url(../images/icon-vig05.png);
}
.village-item ul li .icon-vig06{
  background-image: url(../images/icon-vig06.png);
}
.village-item ul li .icon-vig07{
  background-image: url(../images/icon-vig07.png);
}
.village-item ul li .icon-vig08{
  background-image: url(../images/icon-vig08.png);
}
.village-item ul li .icon-vig09{
  background-image: url(../images/icon-vig09.png);
}
.village-item ul li .icon-vig10{
  background-image: url(../images/icon-vig10.png);
}
.village-item ul li span{
  -webkit-flex: 1px;
  -ms-flex: 1px;
  flex: 1px;
  padding-left: .05rem;
  line-height: 1.6;
  padding-top: .05rem;
}
.village-item ul li span em{
  font-weight: bold;
}
.village-item ul li span p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.village-item ul li:hover{
  background-image: url(../images/vig-item-bg-active.png);
  color: #fff;
}

/* 案例资讯 */
.case-news-wrap{
  padding: .5rem 0;
  background-image: url(../images/c-bg02.jpg);
}
.case{
  position: relative;
}
.case .swiper-slide{
  text-align: center;
}
.case .swiper-slide h3{
  padding-top: .1rem;
}
.case .swiper-slide h3 em{
  font-weight: bold;
}
.case .case-swiper-prev01,
.case .case-swiper-next01{
  position: absolute;
  top: 50px;
  left: -145px;
  width: 125px;
  height: 115px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  cursor: pointer;
}
.case .case-swiper-prev01:hover,
.case .case-swiper-next01:hover{
  background-color: rgba(130, 49, 142, .8);
}
.case .case-swiper-next01{
  left: auto;
  right: -145px;
}
.case .case-arrow-small{
  text-align: center;
  margin-top: 40px;
}
.case .case-arrow-small .case-swiper-next02,
.case .case-arrow-small .case-swiper-prev02{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: rgba(130, 49, 142, .8);
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
}
/* 资讯 */
.news-title{
  font-size: 24px;
}
.news-title a{
  font-size: 14px;
  color: #333;
}
.news{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.news .news-info{
  -webkit-flex: 1px;
  -ms-flex: 1px;
  flex: 1px;
  padding-right: 20px;
}
.news .news-info a{
  display: block;
  margin: 20px 0;
  line-height: 2;
}
.news .news-info a h3{
  color: #333;
  font-size: 16px;
}
.news .news-info a p,
.news .news-info a h3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.news .news-info a p{
  color: #666;
  font-size: 14px;
}
.news .news-pic{
  width: 415px;
}
.news-more {
  padding: .2rem;
  color: #82318E;
  font-size: .28rem;
  text-align: center;
}
/* 公司简介 */
.company{
  padding: 0 1rem;
}
.company h3{
  color: #82318E;
  font-weight: bold;
  text-align: center;
  padding-bottom: .2rem;
  font-size: 18px;
}
.company p{
  color: #666;
  font-weight: bold;
  line-height: 1.6;
}
.company-pic{
  width: 550px;
  margin: 0 auto;
  padding: .6rem 0;
  text-align: center;
}
/* footer */
.footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  background-color: #363636;
  border-top: 20px solid  #82318E;
  padding: 40px 0;
}
.footer .ft-info{
  width: 710px;
  color: #999;
}
.footer .ft-info h3 {
  margin-bottom: 10px;
}
.footer .ft-info h3 em{
  display: block;
  font-size: 13px;
}
.footer .ft-info p{
  display: block;
  font-size: 14px;
}
.footer .ft-qr{
  width: 260px;
  text-align: center;
  color: #fff;
}
.footer .ft-qr p{
  padding-top: 5px;
}
.footer-mb{
  text-align: center;
  font-size: .24rem;
  color: #A4A4A4;
  padding: .3rem 0;
  background-color: #363636;
}
/* 个人介绍 */
.sub-bg{
  background-image: url(../images/sub-bg.jpg);
  min-height: 1080px;
}
.location{
  padding: 20px 0;
  font-size: 14px;
}
.location em{
  font-weight: bold;
  color: #82318E;
}
.member{
  width: 680px;
  margin: 150px auto 0;
}
.member h3{
  text-align: center;
  font-size: 14px;
  line-height: 2.5;
}
.member h3 i{
  display: block;
  width: 126px;
  height: 126px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px solid  #C3A2C8;
  background-color: #fff;
}
.member h3 span{
  display: block;
  font-weight: bold;
  color: #82318E;
  font-size: 16px;
}
.member h3 em{
  font-size: 14px;
}
.member p{
  margin-top: 20px;
  line-height: 1.6;
  font-size: 14px;
}
