/* hide and show */
.hide-mb {
  display: block;
}
.hide-pc {
  /* display: none  */
}


/* -----------------------pc 大于1400px----------------------- */
@media (min-width: 1360px){
  .header .container {
    width: 1400px;
  }
}

/* -----------------------pc 大于820px 小于1320px---------------------- */
@media (max-width: 1360px) and (min-width: 820px) {
  .header .container {
    width: 1200px;
  }
  html{
    font-size: 80px;
  }
}

@media (max-width: 1440px){
  .case .case-swiper-prev01,
  .case .case-swiper-next01{
    display: none;
  }
}

/* -----------------------iphone 小于820px---------------------- */
@media (max-width: 820px){
  .contact-info li .icon-contact03{
    margin-bottom: -4px;
  }
  .sub-brand{
    height: 2.5rem !important;
    margin-bottom: -1.8rem;
  }
  .swiper05{
    padding-bottom: .2rem;
  }
  .swiper05.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: .3rem;
  }
  .banner{
    padding: 0;
  }
  .contact img{
    height: auto;
  }
  .b-mt{
    margin-top: -1.8rem;
    height: 4.5rem !important;
  }
  .brand li{
    height: 1.8rem;
    font-size: .36rem;
  }
  .category .category-info i{
    font-size: 12px;
    font-style: normal;
    color: #666;
  }
  .category .category-info i::before{
    content: '';
    display: inline-block;
    margin-right: .05rem;
    width: .16rem;
    height: .16rem;
    background-image: url(../images/icon-clock.png);
    background-size: 100%;
  }
  .category .category-info h3{
    margin: 0 0 .08rem;
  }
  .category .category-info p{
    margin-bottom: .05rem;
    line-height: 1.4;
    font-size: 10px;
  }
  .category-wrap {
    border-bottom: 1px solid  #ABA7A8;
    padding: .2rem 0;
  }
  .c-line{
    background-color: #fff;
  }
  .category .category-pic{
    width: 2.8rem;
  }

  .news-detail{
    width: auto;
    padding: 0 .4rem;
  }
  .events-case li > div{
    padding: 10px 0 0;
  }
  .events-case li{
    flex: 0 0 100%;
    padding: .2rem;
  }
  .contact-info{
    margin-top: 0;
  }
  .contact-info ul{
    flex-flow: row wrap;
  }
  .contact-info li{
    flex: 0 0 50%;
  }
  .contact-info li:last-child{
    flex: 0 0 100%;
  }
  .sub-bg04{
    padding: 0 .3rem;
  }
  .company-intro{
    width: auto;
    flex-flow: row wrap;
    box-shadow: 0 0 0 0 #fff;
  }
  .company-intro > div h3{
    text-align: center;
    color: #82318E;
    font-size: 16px;
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  .company-intro > div{
    padding: .1rem 0;
    background-color: #fff;
  }
  .sub-banner{
    position: relative;
    height: auto;
    overflow: inherit;
  }
  .sub-text{
    position: absolute;
    font-size: .34rem;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .about-team{
    flex-flow: row wrap;
  }
  .about-team a{
    flex: 0 0 33%;
    margin-bottom: 0.3rem;
  }
  .about-team a i{
    width: 2rem;
    height: 2rem;
    margin-bottom: 0;
  }
  .produce-wrap .produce p{
    line-height: 1.2;
    font-size: 12px;
  }
  .produce-wrap .produce h3{
    font-size: .34rem;
    margin-bottom: .3rem;
  }
  .produce-wrap{
    flex-flow: row wrap;
  }
  .produce-wrap .produce {
    flex: 0 0 100%;
    box-shadow: 0 1px 3px 0 #f1f1f1;
    padding: .1rem;
    border-radius: .1rem;
    margin-bottom: .6rem;
  }
  .produce-wrap .produce ul{
    flex-flow: row nowrap !important;
  }
  .produce-wrap .produce .pro-pic li {
    border-radius: 50%;
    margin: 3px;
    height: auto;
  }
  .produce-wrap .produce .pro-pic li span{
    font-size: .32rem;
  }
  .produce-wrap .produce .pro-pic{
    padding: 10px 0;
  }
  .produce-wrap .produce .pro-pic li span::after{
    top: 25px;
  }
  .member{
    width: auto;
    padding: 0 .6rem;
  }
  .sub-bg{
    min-height: 18rem;
  }
  .company-pic{
    width: auto;
  }
  .news .news-info{
    padding-right: 0;
  }
  .news .news-info i{
    display: block;
    font-size: .2rem;
    color: #666;
    font-style: normal;
    margin-top: .05rem;
  }
  .news .news-info i::before{
    content: '';
    display: inline-block;
    margin-right: .05rem;
    width: .16rem;
    height: .16rem;
    background-image: url(../images/icon-clock.png);
    background-size: 100%;
  }
  .news .news-info a{
    -webkit-flex: 1px;
    -ms-flex: 1px;
    flex: 1px;
    margin: 0;
    padding-right: .1rem;
    line-height: 1.6;
  }
  .news .news-info a h3{
    font-size: .28rem;
  }
  .news .news-info a p{
    font-size: .24rem;
    -webkit-line-clamp: 2;
  }
  .news .news-info li{
    padding-bottom: .2rem;
    padding-top: .4rem;
    border-bottom: 1px solid  #B3B1B1;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .news .news-info li span{
    display: block;
    width: 2rem;
    padding-top: .25rem;
  }
  .news-title {
    font-size: .37rem;
    color: #000;
  }
  .news-title a {
    font-size: .24rem;
  }
  .village-item ul li{
    flex: 0 0 -webkit-calc(50% - 5px);
    padding: .2rem .1rem;
  }
  .village-item ul li i {
    background-size: 50%;
    width: .8rem;
    height: .8rem;
  }
  .village-item ul li span {
    padding-top: 0;
    font-size: 14px;
    line-height: 1.2;
  }
  .village-item ul li span p {
    font-size: 12px;
  }
  .mtitle {
    font-size: .34rem;
  }
  .mcontent {
    line-height: 2;
  }
  .mcontent h3 {
    font-size: .24rem;
  }
  html{
    font-size: 50px;
  }
  .mainer{
    width: auto;
    padding: 0 .4rem;
  }
  .hide-mb {
    display: none !important;
  }
  .hide-pc {
    display: block;
  }
  .header{
    position: relative;
    height: 1.6rem;
    z-index: 999999999999;
  }
  .header .logo{
    width: 4.2rem;
    padding-top: .35rem;
    padding-left: .2rem;
  }
  .header .logo img{
  }
  .header-tip{
    float: right;
  }
  .nav-toggle {
    display: block;
    width: .6rem;
    height: .6rem;
    vertical-align: middle;
    margin: .35rem .3rem 0 0;
    background-image: url(../images/nav-toggle.png);
    background-size: .5rem;
  }
  .nav{
    position: absolute;
    top: 1.52rem;
    left: 0;
    right: 0;
    z-index: 999999;
    display: none;
    padding-left: 0;
    padding-right: 0;
    background-color: #82318E;
    text-align: center;
  }
  .nav li{
    display: inline-block;
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 31%;
    position: relative;
  }
  .nav li:nth-child(3)::after,
  .nav li:nth-child(2)::after{
    content: '';
    display: block;
    width: 1px;
    height: .6rem;
    position: absolute;
    top: 0.3rem;
    right: 0;
    background-color: #fff;
  }
  .nav li.active,
  .nav li:active{
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nav li.active a,
  .nav li:active a{
    color: #fff;
  }
  .nav li > a {
    color: #fff;
  }
  .nav-mask {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
  }
}

/* -----------------------pc端小屏预览 且设备像素比0------------------------ */
@media (max-width: 800px) and (-webkit-min-device-pixel-ratio: 0){

}
