@charset "utf-8";
body, html {
	color: #000;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
html {
	font-size: 16px;
}

body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: 100% !important;
}
body{
	background-color: #f2f2f2;
	padding-bottom: 55px;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
 
}
a {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
 
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background-color: transparent;;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
	border:none;
  outline:0;
}
input[type=text], textarea {
	background-color: #fff;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right {
	text-align: right;
}
.inline {
	display: inline-block !important;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
/*内容*/
.bg{
	background-image: url(../images/bg.png);
	background-size: cover !important;
	background-position: top left;
}
.fu-box{
	position: relative;
	width: 15rem;
	height: 29rem;
	margin: 1rem auto;
	background-color: #EAA21A;
	background-size: 10rem !important;
	background-position: 70% center;
	border-radius: 1.5rem;
}
.fu-name{
	position: absolute;
	top: 1.2rem;
	left: 1.2rem;
	width: 2.5rem;
	height: 6.875rem;
	text-align: center;
	font-size: 1.5rem;
	background-color: rgba(255,255,255,0.5);
	display:-webkit-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.btn-wrap{
	text-align: center;
}
.btn-save{
	width: 7.1875rem;
	height: 2.1875rem;
	background-image: url(../images/btn-save.png);
}

/*订单列表*/
.item-list{
	
}
.item-list dl{
	border-bottom: 1px solid #F2F2F2;
	background-color: #fff;
	padding: 0.625rem;
	overflow: hidden;
}
.item-list dt{
	float: left;
	width: 7.5rem;
	height: 4.6875rem;
}
.item-list dd{
	position: relative;
	margin-left: 7.5rem;	
	padding-left: 1rem;
}
.item-list dd .info-title{
	padding-top: 0.2rem;
}	
.item-list dd .info-txt{
	padding-top: 0.3rem;
	color: #808080;
	font-size: 13px;
}
.btn-share{
	position: absolute;
	top: 0.5rem;
	right: 0;
	width: 4.5rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	background-color: #C71523;
}

/*底部导航*/
.footer-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 0.625rem;
	height: 3.375rem;
	background-color: #fff;
	text-align: center;
}
.btn-index,
.btn-mine,
.btn-platform{
	width: 6.5625rem;
	height: 2.1875rem;
	margin: 0 0rem;
}
.btn-index{
	background-image: url(../images/btn-index.png)
}
.btn-mine{
	background-image: url(../images/btn-mine.png)
}
.btn-platform{
	background-image: url(../images/btn-platform.png)
}

@media screen and (max-width: 320px) {
	html {
		font-size:14px;
	}
}

/*购买*/
.header{
	height: 2.125rem;
	padding: 0.2rem 1rem 0;
	color: #fff;
	background-color: #C71523;
}
.icon-tip{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.3rem 0 0;
	vertical-align: middle;
	background-image: url(../images/icon-tip.png);
}
.intro{
	padding: 1rem;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	color: #808080;
	background-color: #fff;
}
.buy-clear{
	padding: .5rem;
	overflow: hidden;
}
.buy-wrap{
	padding: 1rem;
	clear: both;
	background-color: #fff;
}
.buy-wrap .price{
	float: left;
	padding: 0.35rem 0 0;
}
.buy-wrap .price span{
	color: #c71523;
}
.buy-wrap .spinner{
	float: right;
}
.buy-wrap .spinner a{
	display: inline-block;
	width: 1.875rem;
	height: 1.875rem;
	text-indent: 999px;
	vertical-align: middle;
	margin: 0 0 0.3rem;
}
.buy-wrap .spinner a.DisDe,
.buy-wrap .spinner a.Decrease{
	background-image: url(../images/icon-decrease.png)
}
.buy-wrap .spinner a.Increase{
	background-image: url(../images/icon-increase.png)
}
.buy-wrap .spinner input{
	display: inline-block;
	width: 4.375rem;
	height: 1.875rem;
	padding: 0 0.2rem;
	margin: 0 0.3rem;
	color: #000;
	background-color: #fff;
	border: 1px solid  #c71523;
}

.btn-buy{
	display: block;
	width: 5.6875rem;
	/* height: 1.875rem; */
	line-height: 1.875rem;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	background-color: #C71523;
	margin: 1rem auto;
}

/*详情页*/
.btn-buy2{
	display: block;
	width: 5.6875rem;
	height: 1.875rem;
	line-height: 1.875rem;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	background-color: #EAA21A;
	margin: 0 auto;
}

/*首页*/
#slide01{
	background-color: #eee;
}
#slide01 .swiper-pagination-bullet{
	width:5px !important;
	height:5px !important;
	background:#fff !important;
	margin:0 3px !important;
}
#slide01 .swiper-pagination-bullet-active {
	background:rgba(255,255,255,0.6) !important;
}

/*列表*/
.fu-list {
	width: 22.5rem;
	margin: .5rem auto 0;
}
.fu-list ul li {
	position: relative;
	display: inline-block;
	width: 6.875rem;
	height: 9.375rem;
	margin: 0 0 0.6rem 0.3rem;
}
.fu-list ul li span{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.5625rem;
	line-height: 1.5625rem;
	padding: 0 0.5rem;
	/*截断*/
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;   
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,.5);
}
.fu-list ul li img{
	width: 6.875rem;
	height: 9.375rem;
}

/**************生成符**************/
/*头像居中*/
.avatar-wrap2{
	padding-top: 2rem;
	text-align: center;
	color: #ffe382;
}
.avatar-wrap2 .avatar{
	display: block;
  width: 6.875rem;
  height: 6.875rem;
	margin: 0 auto;
	border: 2px solid  #ffe382;
	background-color: #eee;
	border-radius: 50%;
}
.avatar-wrap2 span{
	display: block;
	margin-top: .5rem;
}
/*sologan*/
.sologan{
	margin: 2rem 0 0;
	height: 3rem;
	background-image: url(../images/sologan.png);
	background-size: auto 3rem !important;
}
.yourName{
	width: 17.5rem;
	height: 7.1875rem;
	padding-top: 1.1rem;
	margin: 1rem auto;
	text-align: center;
	background-image: url(../images/input-bg.png);
	background-size: auto 7.1875rem !important;
}
.yourName input{
	width: 12.2rem;
	height: 4.6875rem;
	padding: 0 .5rem;
	border: none;
	text-align: center;
	font-size: 1.5rem;
}
.btn-create{
	display: block;
	width: 7.1875rem;
	height: 2.1875rem;
	line-height: 2.1875rem;
	text-align: center;
	border-radius: 5px;
	margin: 0 auto;
	background-image: url(../images/btn-create.png);
}

/**************分享页**************/
.bgWhite{
	background-color: #fff;
}
.pack{
	height: 14rem;
	padding-top: 1rem;
	background-image: url(../images/pack.png);
	background-position: left top;
	
}
.pack .pic-num{
	height: 1.5625rem;
	background-image: url(../images/pic-num.png);
	background-size: auto 1.5625rem !important;
}
.pack .num{
	color: #fff600;
	text-align: center;
	font-size: 1.5rem;
}
/*表单*/
.share-form{
	padding: .5rem 3rem;
	background-color: #fff;
	clear: both;
}
.share-form li {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	/*子元素垂直居中*/
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	/*子元素沿主轴对齐方式均分*/
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	
	padding: .3rem 0px;
	color: #c71523;
	background: #fff;
}
.share-form input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	height: 1.875rem;
	padding: 0 .3rem;
	border-radius: .2rem;
	border:1px solid #c71523;
}
.share-form .upload-wrap {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
}
.share-form .upload-wrap img{
	width: 6rem;
	height: 4rem;
}
.share-form span {
	flex: none;
	display: block;
	margin:0 1rem 0 0;
}
.btn-upload{
	width: 6.625rem;
	height: 4.6875rem;
	border: 1px solid  #c71523;
	border-radius: .3rem;
	background-color: #fff;
	background-image: url(../images/icon-plus.png);
	background-size: 2.1875rem !important;
}





