

/*.w2为临时宽度,套入页面时不用把宽度删除*/
.w2{
  width: 1010px; 
}
/*--------------index.html---------------*/
/*新闻*/
.news2{
  overflow: hidden;
  border-top: 1px solid  #fff;
  padding: 36px 0;
  color: #fff;
}
.news2 a{
  color: #fff;
  text-decoration: none;
}
.news2 .n2-left{
  float: left;
  width: 317px;
}
.news2 .n2-mid{
  float: left;
  width: 317px;
  margin-left: 36px;
}
.news2 .n2-right{
  float: right;
  width: 317px;
}
.news2 .n-title{
  font-weight: normal;
  font-size: 16px;
  overflow: hidden;
  padding-bottom: 18px;
}
.news2 .n-title a{
  display: block;
  float: left;
  overflow: hidden;
  width: 252px;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.news2 .n-title span{
  float: right;
  width: 60px;
  color: #888;
  font-size: 12px;
  margin-top: 2px;
	text-align: right;
}
.news2 .n-box{
  border: 1px solid #fff;
  height: 196px;
}
.news2 .n-more{
  text-align: right;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 22px;
}
.news2 .n-more a{
  color: #888;
}
.news2 .n-list{
  line-height: 2.0;
}
.news2 .n-list li a{
  display: block;
  float: left;
  overflow: hidden;
  width: 252px;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.news2 .n-list li span{
  float: right;
  margin-top: 2px;
  color: #888;
  font-size: 12px;
}

/*联系2*/
.contact2-wrap{
  background-color: #90C320;
  padding: 40px 0;
  font-size: 16px;
}
.contact2{
  width: 1010px;
  margin: 0 auto;
}
.contact2 h3{
  text-align: center;
  font-size: 24px;
  color: #333;
  padding-bottom: 40px;
  font-weight: normal;
}
.contact2 li.ipt-wrap{
  width: 428px;
  height: 40px;
  padding: 0 0 0 20px;
  background-color: #fff;
  margin:  0 0 16px;
  position: relative;
}
.contact2 li.ipt-pleft{
  float: left;
}
.contact2 li.ipt-pright{
  float: right;
}
.contact2 li .ipt{
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  border: none;
  width: 325px;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact2 li .texta{
  background-color: #fff;
  border: none;
  width: 100%;
  height: 90px;
  outline: 0;
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact2 li label{
  height: 40px;
  line-height: 40px;
  display: inline-block;
  color: #666;
}
.btn-c-tc{
  padding-top: 50px;
  text-align: center;
}
.btn-contact2{
  border: 1px solid #fff;
  width: 228px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
.contact2 li .select2{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #828587;
  background-image: url(select2.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer
}
.fletr em{
	color: #fff;
}
.dropdown2{
  position: absolute;
  top: 45px;
  right: 0;
  width: 370px;
  min-height: 100px;
  background-color: #eee;
  z-index: 999;
  color: #666;
}
.dropdown2 li{
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
}
.dropdown2 li.active,
.dropdown2 li:hover{
  background-color: #D2D2D2;
  background-image: url(check2.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  cursor: pointer;
}
.mask2{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, .0);
	display: none;
}

/*--------------search2.html---------------*/
.search2-wrap{
  height: 350px;
  padding-top: 119px;
  text-align: center;
}
.search-ipt2{
  position: relative;
  width: 910px;
  height: 60px;
  padding-right: 118px;
  background-color: #fff;
  margin: 0 auto;
}
.search-ipt2 input{
  width: 910px;
  height: 60px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  outline: 0
}
.search-ipt2 .btn-so2{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  background-color: #90C31F;
  background-image: url(icon-search2.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer
}
.search-ipt2 .btn-del2{
  position: absolute;
  top: 0;
  right: 60px;
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  background-image: url(icon-del2.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
	display: none;
}
.search-ipt2 input:focus + .btn-del2{
/*	display: block;*/
}
/*导航2*/
.s-nav2-wrap{
  background-color: #eee;
}
.s-nav2{
  width: 1020px;
  height: 55px;
  line-height: 55px;
  margin: 0 auto;
}
.s-nav2 a{
  color: #888;
  margin: 0 20px;
  text-decoration: none
}
.s-nav2 a.active{
  color: #90C31F;
}
.blank-search{
  height: 60px;
}
.search-con{
  width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}
.search-con-left{
  float: left;
  width: 655px;
}
.search-con-right{
  float: right;
  width: 290px;
}

.sc-title{
  color: #666;
  padding-bottom: 20px;
  border-bottom: 1px solid  #000;
}

.bgw{
  background-color: #fff;
}
.pic-info{
  border-bottom: 1px solid  #000;
  overflow: hidden;
  padding: 20px 0;
}
.pic-info .pic01{
  float: left;
  width: 178px;
  height: 112px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pic-info .pic01 em{
  background-color: #90C31F;
  display: block;
  padding: 3px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-size: 11px;
}
.pic-info .info01{
  margin-left: 195px;
  color: #888;
}
.pic-info .info01 h3{
  color: #000;
  font-size: 20px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.pic-info .info01 span{
  display: block;
  font-size: 12px;
  padding: 8px 0;
}
.pic-info .info01 p{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

/*热门标签*/
.hot-tabs h3{
	font-size: 16px;
	padding-bottom: 5px;
	color: #666;
}
.hot-tabs a{
	display: inline-block;
	margin-right: 16px;
	margin-top: 12px;
	border: 1px solid  #90C320;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	padding: 3px 6px;
	color: #666;
	text-decoration: none;
}

/*新闻分类*/
.news-type2{
	margin-top: 35px;
	border: 1px solid  #90C320;
}
.news-type2 h3{
	background-color: #90C320;
	color: #000;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
}
.news-type2 div{
	padding:20px ;
}
.news-type2 a{
	display: inline-block;
	width: 116px;
	font-size: 12px;
	text-decoration: none;
	color: #333;
	margin: 6px 0;
}
.news-type2 a:before{
	content: '';
	margin-right: 9px;
	vertical-align: middle;
	display: inline-block;
	width: 3px;
	height: 3px;
	overflow: hidden;
	background-color: #90C320;
}

.page2{
	text-align: center;
	padding: 30px 0;
}
.page2 a{
	color: #333;
	text-decoration: none;
}








