@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
	height: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
	height: 100%;
  background-image: -webkit-linear-gradient( 90deg, rgb(253,9,106) 0%, rgb(244,48,126) 67%, rgb(235,87,146) 100%);
  font-size: 13px;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input{
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  color: #06f;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:hover {
  color: #000;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
 [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
 height: auto;
}
em, h3 {
  font: inherit;
}
.c01 {
  color: #00f;
}
.tc {
  text-align: center;
}

/*
 ************************女神排行榜************************
*/
/*底部导航*/
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 1.16rem;
	background-color: #FC8C64;
}
nav a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;  /*纵向*/
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	font-size: 11px;
	color: #fff;
	position: relative;
}
nav a:not(:last-child):after{
	content: '';
	position: absolute;
	top: 32%;
	right: 0;
	width: 1px;
	overflow: hidden;
	height: .5rem;
	background-color: #fff;
}
nav a.active{
	color: #fff;
}
nav a i{
	color: #fff;
	font-size: 20px;
	margin-bottom: -.08rem;
}
.blank{
	height: 1.6rem;
}
/*栅格*/
.grid-rank{
	margin: 0 .2rem;
}

.grid-rank .g-header{
  background-color: #fff;
  border-radius: .1rem;
  line-height: .7rem;
  padding: 0 .4rem;
	margin-bottom: .2rem;
	color: #C93D2F;
}
.grid-rank .g-box{
  background-color: #fff;
  border-radius: .1rem;
  padding: .2rem .4rem;
}
.grid-rank .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	text-align: center;
	font-size: 13px;
}
.grid-rank .g-box .row {
	line-height: 0.6rem;
}
.grid-rank .g-box .row:not(:last-child) {
	border-bottom: 1px dashed #C93D2F;
}
.grid-rank .col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
          flex: 0 0 10%;
}
.grid-rank .col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17%;
          flex: 0 0 17%;
}
.grid-rank .col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22%;
          flex: 0 0 22%;
	
}
.avatar-list{
	display: block;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
}

/*排行榜统计*/
.rank-total ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 1rem;
}
.rank-total li{
	position: relative;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;  /*纵向*/
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	color: #fff;
}
.rank-total li span{
	display: block;
	font-size: 12px;
}
.rank-total li:not(:last-child):after{
	content: '';
	position: absolute;
	top: 32%;
	right: 0;
	width: 1px;
	overflow: hidden;
	height: .5rem;
	background-color: #fff;
}
.rank-title {
	margin: 0 .5rem .4rem;
}

/*banner*/
.banner{
	position: relative;
}
.icon-tubiaozhizuomoban-1,
.icon-tubiaozhizuomoban-{
	position: absolute;
	top: .6rem;
	left: .3rem;
	border: 1px solid  #fff;
	background-color: #fff;
	border-radius: 50%;
	font-size: .8rem;
	width: .83rem;
	height: .83rem;
	color:#080403;
	z-index: 9999999;
}
.icon-tubiaozhizuomoban-1:before,
.icon-tubiaozhizuomoban-:before {
    display: block;
    margin-top: -.22rem;
    margin-left: 0px;
}
.icon-tubiaozhizuomoban-{
	top: 1.6rem;
}

/*
 ************************竞赛榜单部口排名************************
*/
/*
 ************************竞赛榜单部口排名************************
*/
.game-bg{
	background-image: url(../images/game-bg.jpg);
}
.game-blank{
	height: 6.35rem;
}
.game-rank .g-box .row:not(:last-child) {
	border-bottom-color: #fff	;
}
.game-rank .g-header{
	color: #fff;
	background: none;
	background-repeat: no-repeat;
	background-image: url(../images/game-header.png);
	background-size: 100% 99%!important;
}
.game-rank .g-box{
	color: #fff;
	background: none;
	background-repeat: no-repeat;
	background-image: url(../images/game-box.png);
	background-size: 100% 100%!important;
}
.game-rank .row{
	color: #fff;
}
.game-rank .col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
  flex: 0 0 55%;
}

/*
 ************************排行榜店铺排名************************
*/

.shop-rank-title{
	color: #fff;
	background-repeat: no-repeat;
	background-image: url(../images/shop-title.png);
	background-size: 100% 100%!important;
	line-height: 1rem;
	margin: 0 1.7rem;
	text-align: center;
	font-size: .32rem;
	font-weight: bold;
}

.shop-rank-title span{
	padding-left: .5rem;
}





