@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
  height: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
  height: 100%;
	background-color: #FD096A;
  background-image: -webkit-linear-gradient( 90deg, rgb(253,9,106) 0%, rgb(244,48,126) 67%, rgb(235,87,146) 100%);
  font-size: 13px;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input{
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  color: #06f;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:hover {
  color: #000;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
 [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
 height: auto;
}
em, h3 {
  font: inherit;
}
.c01 {
  color: #00f;
}
.tc {
  text-align: center;
}

/*
 ************************女神排行榜************************
*/
/*底部导航*/
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 1.16rem;
	background-color: #FC8C64;
}
nav a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;  /*纵向*/
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	font-size: 11px;
	color: #fff;
	position: relative;
}
nav a:not(:last-child):after{
	content: '';
	position: absolute;
	top: 32%;
	right: 0;
	width: 1px;
	overflow: hidden;
	height: .5rem;
	background-color: #fff;
}
nav a.active{
	color: #fff;
}
nav a i{
	color: #fff;
	font-size: 20px;
	margin-bottom: -.08rem;
}
.blank{
	height: 1.6rem;
}
/*栅格*/
.grid-rank{
	margin: 0 .2rem;
}

.grid-rank .g-header{
  background-color: #fff;
  border-radius: .1rem;
  line-height: .7rem;
  padding: 0 .4rem;
	margin-bottom: .2rem;
	color: #C93D2F;
}
.grid-rank .g-box{
  background-color: #fff;
  border-radius: .1rem;
  padding: .2rem .4rem;
}
.grid-rank .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	text-align: center;
	font-size: 13px;
}
.grid-rank .g-box .row {
	line-height: 0.6rem;
}
.grid-rank .g-box .row:not(:last-child) {
	border-bottom: 1px dashed #C93D2F;
}
.grid-rank .col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
          flex: 0 0 10%;
}
.grid-rank .col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17%;
          flex: 0 0 17%;
}
.grid-rank .col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22%;
          flex: 0 0 22%;
	
}
.avatar-list{
	display: block;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
}

/*排行榜统计*/
.rank-total ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 1rem;
}
.rank-total li{
	position: relative;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;  /*纵向*/
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	color: #fff;
}
.rank-total li span{
	display: block;
	font-size: 12px;
}
.rank-total li:not(:last-child):after{
	content: '';
	position: absolute;
	top: 32%;
	right: 0;
	width: 1px;
	overflow: hidden;
	height: .5rem;
	background-color: #fff;
}
.rank-title {
	margin: 0 .5rem .4rem;
}

/*banner*/
.banner{
	position: relative;
}
.icon-tubiaozhizuomoban-1,
.icon-tubiaozhizuomoban-{
	position: absolute;
	top: .6rem;
	left: .3rem;
	border: 1px solid  #fff;
	background-color: #fff;
	border-radius: 50%;
	font-size: .8rem;
	width: .83rem;
	height: .83rem;
	color:#080403;
	z-index: 9999999;
}
.icon-tubiaozhizuomoban-1:before,
.icon-tubiaozhizuomoban-:before {
    display: block;
    margin-top: -.22rem;
    margin-left: 0px;
}
.icon-tubiaozhizuomoban-{
	top: 1.6rem;
}

/*
 ************************竞赛榜单部口排名************************
*/
/*
 ************************竞赛榜单部口排名************************
*/
.game-bg{
	background-image: url(../images/game-bg.jpg);
	background-color: #95023D;
}
.game-blank{
	height: 6.15rem;
}
.game-rank .g-box .row:not(:last-child) {
	border-bottom-color: #fff	;
}
.game-rank .g-header{
	color: #fff;
	background: none;
	background-repeat: no-repeat;
	background-image: url(../images/game-header.png);
	background-size: 100% 99%!important;
}
.game-rank .g-box{
	color: #fff;
	background: none;
	background-repeat: no-repeat;
	background-image: url(../images/game-box.png);
	background-size: 100% 100%!important;
}
.game-rank .row{
	color: #fff;
}
.game-rank .col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
  flex: 0 0 55%;
}

/*
 ************************排行榜店铺排名************************
*/

.shop-rank-title{
	position: relative;
	color: #fff;
	background-repeat: no-repeat;
	background-image: url(../images/shop-title.png);
	background-size: 100% 100%!important;
	line-height: 1rem;
	margin: 0 1.7rem;
	text-align: center;
	font-weight: bold;
}
.shop-rank-title h3{
	font-size: .32rem;
}
.shop-rank-title h3 span{
	padding-left: .5rem;
}

.shop-rank-title label{
	position: absolute;
	top: -0.63rem;
	left: -webkit-calc(50% - .4rem);
	font-size: .4rem;
	text-shadow:0 0 0.6em rgba(249,252,252,.7);
}
.shop-rank-title label:after{
	content: '';
	position: absolute;
	top: 0.1rem;
	left: -0.7em;
	width: .4rem;
	height: .4rem;
	background-image: url(../images/crown.png);
}

.shop-rank-title.sm{
	margin: 0.6rem 2rem 0;
}
.shop-rank-title.sm h3{
	font-size: .26rem;
}
.shop-rank-title.sm label{
  left: -webkit-calc(50% - .3rem);
  font-size: .3rem;
}
.shop-rank-title.sm label:after{
  display: none;
}

/*
 ************************排行榜************************
*/
.top-item-wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: space-between;
	padding: 0 .2rem;
	margin-top: -.4rem;
}
.top-item {
	position: relative;
	-webkit-box-flex: 0;
  -webkit-flex: 0 0 2.1rem;
          flex: 0 0 2.1rem;
	color: #fff;
	font-size: .2rem;
	text-align: center;
}
.top-item i{
	display: block;
	width: 1.68rem;
	height: 1.68rem;
	line-height: 1.68rem;
	background-image: url(../images/top-item.png);
	text-align: center;
	padding: 0 .3rem;
	margin: 0 auto;
}
.top-item span{
	margin-left: .1rem;
}
.top-item-wrap.t4 {
	margin-top: 1.2rem;
}
.top-item-wrap.t4 .top-item{
  -webkit-flex: 0 0 1.68rem;
          flex: 0 0 1.68rem;
	font-size: .16rem;
}
.top-item-wrap.t4 .top-item i{
	width: 1.28rem;
	height: 1.28rem;
	line-height: 1.28rem;
	padding:0 .2rem;
}
.top-item-wrap .top-item em{
	position: absolute;
	top: -0.42rem;
	left: -webkit-calc(50% - .3rem);
	text-align: center;
	color: #fff;
	font-size: .3rem;
	text-shadow:0 0 0.6em rgba(249,252,252,.7);
}
.top-item-wrap.t4 .top-item em{
	position: absolute;
	top: -0.42rem;
	left: -webkit-calc(50% - .18rem);
	display: block;
	width: .36rem;
	height: .36rem;
	background-color: #fff;
	text-align: center;
	color: #f6126c;
	font-size: .24rem;
	border-radius: 50%;
}

.top-item-wrap.t1 {
	justify-content:space-around;
}
.top-item-wrap.t1 .top-item{
  -webkit-flex: 0 0 2.48rem;
          flex: 0 0 2.48rem;
	font-size: .22rem;
}
.top-item-wrap.t1 .top-item:after{
  content: '';
  display: block;
  position: absolute;
  top: -1.23rem;
  left: -1rem;
  width: 4.59rem;
  height: 4.38rem;
  background-image: url(../images/star-bg.png);
  z-index: -1;
}
.top-item-wrap.t1 .top-item i{
	width: 2.1rem;
	height: 2.1rem;
	line-height: 2.1rem;
	padding:0 .4rem;
}

/*
 ************************活动规则************************
*/
.rule-wrap{
	padding: 0 .2rem;
}
.rule{
	background-color: #fff;
	border: 1px dashed #550511;
	border-radius: .05rem;
	padding: .3rem;
	margin-bottom: .2rem;
}
.rule-title{
	width: 3.25rem;
	height: .7rem;
	background-image: url(../images/rule01.png);
	margin: 0 auto;
}
.rule-title.r2{
	background-image: url(../images/rule02.png);
}
.rule-item{
	margin-top: .5rem;
	font-size: .24rem;
}
.rule-item dl{
	margin-top: .08rem;
}
.rule-item dt{
	float: left;
	background-color: #E12670;
	color: #fff;
	text-align: center;
	width: .34rem;
	height: .34rem;
	line-height: .34rem;
	border-radius: 50%;
	border: 1px solid  #fff;
	box-shadow: 0 0 1px #E12670;
}
.rule-item dd{
	margin-left: .5rem;
}

.rule-info{
	font-size: .24em;
	line-height: 1.6;
}
.rule-info h3{
	font-weight: bold;
	font-size: .26rem;
	color: #E12670;
	margin-bottom: .1rem;
	margin-top: .3rem;
}

/*
 ************************投票************************
*/
.btn-lg{
	display: block;
	background-color: #FC8C64;
	margin: 0 .5rem;
	line-height: .76rem;
	border-radius: 0.38rem;
	text-align: center;
	outline: 0;
	font-size: 0.35rem;
	color: #fff;
	font-weight: bold;
	box-shadow: .05rem 0.12rem 0 #C93D2F;
}

.vote-tabs{
	margin: .3rem 1.2rem;
	height: .7rem;
	border-radius: 0.4rem;
	border: 1px solid  #FC8C64;
	overflow: hidden;
}
.vote-tabs ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.vote-tabs li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	line-height: .7rem;
	text-align:center;
	color: #fff;
}
.vote-tabs li.curr{
	background-color: #FC8C64;
}
div[class*="tab-box"] > div:not(:first-child){
	display:none
}
.vote-list{
	margin: 0 .2rem;
}
.vote-list .vote-item{
	background-color: #fff;
	border-radius: .12rem;
	padding: .15rem .4rem;
	margin-bottom: .1rem;
}
.vote-list .vote-item .avatar{
	display: inline-block;
	width: 1.36rem;
	height: 1.36rem;
	border-radius: 50%;
	background-color: #eee;
	vertical-align:middle;
	border: 1px dashed #fb0e6d;
}
.vote-list .vote-item span{
	display: inline-block;
	vertical-align:middle;
	font-size: 13px;
	margin: 0 0 0 .15rem;
}
.vote-list .vote-item span em{
	display: block;
	font-size: 13px;
	margin-top: .15rem;
}
.vote-list .vote-item label{
	float: right;
	font-size: .2rem;
	margin-top: .75rem;
}

/*
 ************************iphone5 小于320************************
*/
@media (max-width: 320px) {
	.vote-list > di.vote-itemv .avatar{
		width: 1.0rem;
		height: 1.0rem;
	}
}




