@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
  background-color: #F5F5F5;
  font-size: .28rem;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input{
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:active {
  color: #333;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
em, h3 {
  font: inherit;
}
h3{
  font-size: .28rem;
}
.tc {
  text-align: center;
}
.c-gray01{
  color: #808080 !important;
}
/* 头部 */
.header{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  height: .88rem;
  color: #fff;
  background:linear-gradient(90deg, #6D87FB, #99C3FF);
  padding: 0 .2rem;
  font-size: .32rem;
}
.header span{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.header a{
  position: relative;
  z-index: 1;
  display: block;
  width: .44rem;
  height: .44rem;
}
.header .icon-back{
  background-image: url(../images/icon-back.png);
}
.header .icon-jia{
  background-image: url(../images/icon-plus-s.png);
  background-size: 90%;
  background-position: center;
}
.header .icon-share{
  background-image: url(../images/icon-share.png);
  background-position: center;
  background-size: 90%;
}
.header .share{
  word-break: keep-all;
  white-space: nowrap;
  color: #fff;
  font-size: .3rem;
  width: .6rem;
  margin-left: .2rem;
}

.main-form{
  padding: 0;
  background-color: #fff;
}
.main-form li{
  padding: .3rem .3rem .3rem .5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  border-bottom: 1px solid #D4D4D4;
}
.main-form li > label{
  width: 1.8rem;
  color: #6D87FB;
}
.main-form li > p{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.main-form li > input{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.main-form.gray li > label{
  color: #333;
}
.main-form li a{
  height: .66rem;
  line-height: .66rem;
  background-color: #6D87FB;
  color: #fff;
  text-align: center;
  border-radius: .33rem;
  padding: 0 .2rem;
}
/* 按钮 */
.btn{
  display: block;
  height: 0.86rem;
  line-height: 0.86rem;
  background-color: #6D87FB;
  border-radius: 0.2rem;
  margin: .2rem;
  color: #fff;
  text-align: center;
}
.btn-full{
  margin: .5rem .8rem;
}
.btn-shadow{
  -webkit-box-shadow: 0 5px 10px rgba(109, 135, 251, 0.36);
  box-shadow: 0 5px 10px rgba(109, 135, 251, 0.36);
}
.btn-text{
  color: #6D87FB !important;
  background-color: transparent !important;
}
.nav-blank{
  height: 1.6rem;
}
/* 导航栏 */
nav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 1rem;
  background-color: #fff;
  box-shadow:0rem 0.04rem 0.08rem 0rem rgba(0,0,0,0.5);
}
nav a{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  text-align: center;
  font-size: .2rem;
  color: #999;
}
nav a i{
  width: .44rem;
  height: .44rem;
}
nav a i.icon-nav01{
  background-image: url(../images/icon-nav01.png);
}
nav a.active{
  color: #6D87FB;
}
nav a i.icon-nav02{
  background-image: url(../images/icon-nav02.png);
}
nav a i.icon-nav03{
  background-image: url(../images/icon-nav03.png);
}
nav a i.icon-nav04{
  background-image: url(../images/icon-nav04.png);
}

/* 打款截图 */
.uploader-box{
  padding: .3rem .6rem;
}
.uploader-box h3{
  color: #6D87FB;
  padding: 0 0 .3rem;
}
/* 上传多张图片 */
.uploader-wrap{
  padding: 0;
  /* overflow: hidden; */
  clear:  both;
}
.uploader-wrap::after{
  content: '';
  display: block;
  clear: both;
}
.uploader-pic li{
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 .15rem .1rem 0;
  border-radius: .2rem;
  background-color: #ccc;
}
.uploader-pic li i:after{
  content: "×";
  position: absolute;
  top: -.1rem;
  right: -.1rem;
  display: block;
  width: .36rem;
  height: .36rem;
  line-height: .36rem;
  color: #fff;
  border-radius: 50%;
  background-color: #2e6cf5;
  font-style: normal;
  text-align: center;
}
.uploader-file {
  position: relative;
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  /* margin: 0 5px; */
  border: 1px dashed rgb(111, 111, 111);
  background-image: url(../images/icon-plus.png);
  background-size: 35px !important;
  /* background-color: #fff; */
  background-position: center center;
  border-radius: .2rem;
}
.uploader-file input[type=file]{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom:  0;
  width: 100%;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* list */
.ag-list{
  padding: .35rem .25rem;
}
.ag-list a{
  display: block;
  background-color: #fff;
  border-radius: .2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  height: .8rem;
  padding: 0 .3rem;
  color: #6D87FB;
  margin-bottom: .25rem;
}
.ag-list a p{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ag-list a::after{
  content: '>';
}
.ag-list a em{
  padding: 0 .28rem;
}
.blank01{
  height: .5rem;
}

/* 居左 */
.avatar-wrap2 {
  padding: .5rem;
  background-color: #fff;
  background-image: url(../images/arrow.png);
  background-size: .32rem .46rem;
  background-position: right center;
  background-origin:content-box;
}
.avatar-wrap2 .avatar {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #6D87FB;
  vertical-align: middle;
}
.avatar-wrap2 span{
  display: inline-block;
  padding-top: 3px;
  padding-left: 3px;
  margin-top: -2px;
  vertical-align: middle;
  font-size: 18px;
}
.avatar-wrap2 span em {
  display: block;
  color: #aaa;
  font-size: 14px;
  font-style: normal;
}
/* list 联系客服 */
.list{
  font-size: .34rem;
  margin-top: .2rem;
}
.list a span{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: .28rem;
}
.list a{
  padding: .3rem .5rem .2rem 0.95rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  background-image: url(../images/arrow.png);
  background-position: right center;
  background-origin: content-box;
  background-size: .32rem .46rem;
}
.list a{
  background-color: #fff;
}
.list a i{
  display: block;
  width: .4rem;
  height: .4rem;
}
.list a .icon-me01{
  background-color: #00f;
  background-image: url(../images/icon-me01.png);
}

/* tabs */
.tabs{
  background-color: #fff;
}
.tabs ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  /* border-bottom: 3px solid rgb(234, 236, 245); */
}
.tabs li{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: .88rem;
  line-height: .88rem;
  text-align: center;
  color: #999999;
  position: relative;
}
.tabs li.curr{
  color: #6D87FB;
}
.tabs li.curr:after{
  content: '';
  display: block;
  height: 0.04rem;
  position: absolute;
  width: .4rem;
  top: 98%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #09ABFF;
}

/* 储值 */
.store-order dl{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: .1rem;
  background-color: #fff;
  padding-left: .7rem;
  padding-right: .4rem;
}
.store-order dt,
.store-order dd{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.store-order dd {
  padding: .2rem 0;
}
.store-order dd p{
  color: #6D87FB;
  padding-top: .03rem;
  padding-bottom: .03rem;
  font-weight: bold;
}
.store-order dd p em{
  margin-left: .1rem;
  font-weight: normal;
}
.store-order dl dt{
  color: #666;
  text-align: right;
  padding-top: .3rem;
  font-size: .2rem;
}

/* 对话框 */
.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(102, 102, 102, .5);
}
.dialog {
  position: fixed;
  z-index: 9999;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: .2rem;
  overflow: hidden;
}
.dialog .dialog-body{
  padding: .5rem;
  text-align: center;
  min-height: 1rem;
  font-size: .32rem;
}
.dialog .dialog-footer{
  text-align: center;
  min-height: .9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #EAEAEA;
  padding-top: .1rem;
  font-size: .32rem;
}
.dialog .dialog-footer .btn{
  margin: 0 auto;
  flex: 0 0 100%;
  background: none;
  color: #6D87FB;
}

/* 收货人 */
.address{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  background-color: #fff;
  margin: .2rem 0 .3rem;
  padding: .2rem .2rem;
  background-image: url(../images/arrow2.png);
  background-position: right center;
  background-origin: content-box;
  background-size: .32rem;
}
.address ul{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #666;
}
.address i{
  width: .45rem;
  height: .55rem;
  background-image: url(../images/location.png);
  margin: 0 .3rem 0 .2rem;
}
/* 商品信息 */
.goods{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: .28rem .6rem .28rem .8rem;
  background-color: #fff;
}
.goods .goods-pic{
  width: 1.8rem;
}
.goods .goods-pic img{
  object-fit: cover;
  height: 1.8rem;
}
.goods .goods-info{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: .2rem;
}
.goods .goods-info dl{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-left: .7rem;
}
.goods .goods-info dl dt{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: .32rem;
}
.goods .goods-info dl dd{
  color: #666;
}
.goods-mark li{
  padding-left: .8rem;
  border-top: 1px solid  #D6D6D6;
  border-bottom: none !important;
}
.goods-mark li > label{
  color: #666 !important;
  width: 1.8rem;
}
.goods-mark span{
  color: #666;
  text-align: right;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: .6rem;
}

/* 支付信息条 */
.paytool{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  background-color: #E6E6E6;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  height: .96rem;
  font-size: .36rem;
  color: #808080;
}
.paytool span{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: .8em;
}
.paytool button{
  height: .96rem;
  width: 2.36rem;
  background-color: #FD5455;
  color: #fff;
  text-align: center;
  border: none;
}
/* 扫码发货 */
.scan{
  background-color: #fff;
  padding: .6rem;
}
.scan h3{
  color: #666;
  padding-top: .3rem;
  padding-bottom: .2rem;
}
.scan ul li{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.scan ul li input[type=text]{
  background-color: #E6E6E6;
  text-align: center;
  border-radius: .2rem;
  height: .66rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.scan ul li a{
  margin-left: .2rem;
  width: .66rem;
  height: .66rem;
  background-image: url(../images/scan.png);
}
.btn2{
  max-width: 2.6rem;
  margin: .5rem auto 0;
}
.ag-box-wrap{
  padding: .6rem .3rem;
}
.ag-box{
  background-color: #fff;
  margin-bottom: .3rem;
  -webkit-box-shadow: 1px 1px 10px rgba(109, 135, 251, 0.18);
  box-shadow: 1px 1px 10px rgba(109, 135, 251, 0.18);
  border-radius: .3rem;
}
.ag-box .title{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  color: #6D87FB;
  padding: .1rem .2rem .1rem .6rem;
  border-bottom: 1px solid  #E5E5E5;
}
.ag-box .title i.arrow{
  width: .32rem;
  height: .32rem;
  background-image: url(../images/arrow2.png);
  margin-left: .3rem;
}
.ag-box .title > div{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ag-box .title > div p{
  color: #666;
  display: inline-block;
  margin-left: .1rem;
}
.ag-box .tit2{
  padding-left: .2rem;
}

.ag-box .box-content{
  padding: .2rem .6rem;
}
.ag-box .bc2{
  padding: .2rem .3rem .2rem .5rem;
}
.ag-box .box-content .box-list li{
  color: #6D87FB;
}
.ag-box .box-content .box-list li em{
  color: #666;
  margin-left: .1rem;
}
.ag-box .box-content .box-list-pic li img{
  width: 1rem;
  height: 1rem;
}
.ag-box .box-content .box-list-pic li{
  display: inline-block;
  margin-right: .1rem;
}

/* checkbox */
.c-box{
  display: inline-block;
  width: .28rem;
  height: .28rem;
  margin-right: .05rem;
  vertical-align: middle;
  margin-bottom: 0;
  background-image: url(../images/check.png);
  background-color: transparent;
}
.c-box:checked{
  background-image: url(../images/checked.png);
}


.agent-info ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
.agent-info ul li:nth-child(2){
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 .2rem;
  color: #666;
}
.agent-info ul li:nth-child(2) em{
  color: #6D87FB;
}
.agent-info ul li:nth-child(1){
  width: 1.14rem;
}
.agent-info ul li:nth-child(1) i.avatar{
  display: block;
  width: 1.14rem;
  height: 1.14rem;
  border-radius: 50%;
  background-color: #6D87FB;
}
.agent-info i.rectange{
  border-radius: 0 !important;
}
.agent-info ul li:nth-child(3){
  text-align: center;
}
.agent-info ul li:nth-child(3) a:nth-child(2){
  color: #6D87FB;
  position: relative;
  display: block;
}
.agent-info ul li:nth-child(3) a:nth-child(2)::after{
  content: '';
  position: absolute;
  top: .4rem;
  left: .2rem;
  right: .2rem;
  height: .03rem;
  background-color: #6D87FB;
}
.agent-info ul li:nth-child(3) span{
  color: #6D87FB;
  display: block;
  width: 1.5rem;
}
.btn3{
  margin: 0 0 .1rem;
  height: .54rem;
  line-height: .54rem;
  width: 1.5rem;
}
/* 代理人工具条 */
.agent-tool{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  background-color: #E6E6E6;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  height: .96rem;
  font-size: .36rem;
  color: #808080;
}
.agent-tool label{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: .8em;
}
.agent-tool button{
  height: .96rem;
  width: 2.36rem;
  background-color: #6D87FB;
  color: #fff;
  text-align: center;
  border: none;
}
/* 收货地址 */
.shipping-address dl{
  background-color: #fff;
  padding: .2rem .6rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: .2rem;
}
.shipping-address dl dd{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #666;
  padding-right: .5rem;
}
.shipping-address dl dd p em{
  margin-left: .3rem;
  color: #999;
}
.shipping-address dl dd span{
  display: block;
  padding: .1rem 0;
}
.shipping-address dl dt a{
  color: #6D87FB;
}
/* 下单 */
.order{
  padding: .35rem;
}
.order ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order ul li{
  flex:0 0 48%;
  background-color: #fff;
  margin-bottom: .35rem;
}
.order ul li p{
  padding: .2rem;
}
.order ul li p label{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.order ul li p label em{
  color: #FD5455;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.order ul li p label a{
  height: .5rem;
  line-height: .5rem;
  width: 1.3rem;
  border-radius: .25rem;
  color: #fff;
  background-color: #FD5455;
  text-align: center;
}
/* 后台管理 */
/* 居左 */
.avatar-wrap3 {
  padding: 5px;
  height: 3rem;
  background: linear-gradient(90deg, rgb(109, 135, 251), rgb(153, 195, 255));
  color: #fff;
  padding: .3rem .5rem;
}
.avatar-wrap3 .avatar {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
}
.avatar-wrap3 span {
  display: inline-block;
  padding-top: 3px;
  padding-left: 3px;
  margin-top: -2px;
  vertical-align: middle;
  font-size: .34rem;
}
.avatar-wrap3 span em {
  display: block;
  font-size: 14px;
  font-style: normal;
}

/* 余额充值等级 */
.total{
  background-color: #fff;
  padding: .5rem 0;
  -webkit-box-shadow: 0 10px 10px rgba(109, 135, 251, 0.12);
  box-shadow: 0 10px 10px rgba(109, 135, 251, 0.12);
  color: #808080;
  margin: -1rem .3rem 0;
  border-radius: .3rem;
}
.total ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.total ul li{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  position: relative;
}
.total ul li:nth-child(2)::after,
.total ul li:nth-child(1)::after{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0.1rem;
  height: 0.6rem;
  width: .03rem;
  background-color: #808080;
}
.total li i{
  display: block;
  width: .45rem;
  height: .45rem;
  margin-bottom: .1rem;
  margin: 0 auto;
}
.total li i.icon-total01{
  background-image: url(../images/total01.png);
}
.total li i.icon-total02{
  background-image: url(../images/total02.png);
}
.total li i.icon-total03{
  background-image: url(../images/total03.png);
}

/* order */
.order-list{
  color: #808080;
  padding: .3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
.order-list a{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: .26rem;
  text-align: center;
  color: #808080;
}
.order-list a i{
  display: block;
  width: .56rem;
  height: .56rem;
  margin-bottom: .1rem;
  margin: 0 auto;
}
.order-list a i.icon-order01{
  background-image: url(../images/order01.png);
}
.order-list a i.icon-order02{
  background-image: url(../images/order02.png);
}
.order-list a i.icon-order03{
  background-image: url(../images/order03.png);
}
.order-list a i.icon-order04{
  background-image: url(../images/order04.png);
}
.order-list a i.icon-order05{
  background-image: url(../images/order05.png);
}

.admin-tabs-wrap{
  background-color: #fff;
  border-radius: .3rem;
  margin: .5rem .3rem 0;
}
/* 管理后台tab */
.admin-tabs{
  background-color: #fff;
}
.admin-tabs ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.admin-tabs li{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: .78rem;
  line-height: .78rem;
  text-align: center;
  color: #333;
  position: relative;
}
.admin-tabs li.curr{
  color: #09ABFF;
}
.admin-tabs li.curr:after{
  content: '';
  display: block;
  height: 0.04rem;
  position: absolute;
  width: .54rem;
  top: 91%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #09ABFF;
}
.admin-tabs-box{
  padding: .3rem;
}
.admin-tabs-other{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.admin-tabs-other a{
  flex:0 0 25%;
  min-width: 1.3rem;
  text-align: center;
  color: #808080;
  font-size: .24rem;
  margin-bottom: .2rem;
}
.admin-tabs-other a i{
  display: block;
  width: .56rem;
  height: .56rem;
  margin-bottom: .1rem;
  margin: 0 auto;
}
.admin-tabs-other a i.icon-other01{
  background-image: url(../images/icon-other01.png);
}
.admin-tabs-other a i.icon-goods01{
  background-image: url(../images/icon-goods01.png);
}
.admin-tabs-other a i.icon-goods02{
  background-image: url(../images/icon-goods02.png);
}
.admin-tabs-other a i.icon-goods03{
  background-image: url(../images/icon-goods03.png);
}
.admin-tabs-other a i.icon-goods04{
  background-image: url(../images/icon-goods04.png);
}
.admin-tabs-other a i.icon-goods05{
  background-image: url(../images/icon-goods05.png);
}
.weixin-logo{
  text-align: center;
  padding-top: .3rem;
}
.weixin-logo img{
  margin: 0 auto;
  width: .6rem;
  height: .6rem;
}
input[type=text]::-webkit-input-placeholder {
  color:#b2b2b2;
}

/* 订单管理 */
.order-box-wrap{
  padding: .3rem .3rem;
}
.order-box{
  background-color: #fff;
  margin-bottom: .3rem;
  -webkit-box-shadow: 1px 1px 10px rgba(109, 135, 251, 0.18);
  box-shadow: 1px 1px 10px rgba(109, 135, 251, 0.18);
  border-radius: .3rem;
}
.order-box .title{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  color: #6D87FB;
  padding: .1rem .2rem .1rem .6rem;
  border-bottom: 1px solid  #E5E5E5;
}
.order-box .title i.arrow{
  width: .32rem;
  height: .32rem;
  background-image: url(../images/arrow2.png);
  margin-left: .3rem;
}
.order-box .title > div{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.order-box .title > div p{
  color: #666;
  display: inline-block;
}
.order-box .box-content{
  padding: .2rem .3rem .2rem .6rem;
}
.order-box .box-content h3{
  color: #FF4848;
  padding-bottom: .1rem;
}

/* 买家已付款 */
.payed-over{
  background-color: #F5F5F5;
  color: #6D87FB;
  font-size: .4rem;
  text-align: center;
  padding: .35rem 0;
}
.payed-over p{
  display: inline-block;
  vertical-align: middle;
}
.payed-over i{
  vertical-align: middle;
  display: inline-block;
  width: 1.48rem;
  height: 1.33rem;
  background-image: url(../images/order-over.png);
}

/* 订单详情 */
.order-info{
  background-color: #fff;
  padding: .3rem .6rem .3rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.order-info img{
  width: 1.56rem;
  height: 1.56rem;
}
.order-info dl{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #666;
  padding: 0 .3rem;
  line-height: 1.6;
}
.order-info dl dd{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.order-info dl dd:nth-child(1){
  font-size: .34rem;
}
.order-info dl span{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.order-info .bianhao{
  color: #808080;
}

/* 订单上传图片 */
.order-upload{
  margin-top: .1rem;
  background-color: #fff;
  padding: .1rem .6rem .3rem;
}
.order-upload h3{
  font-size: .34rem;
  color: #6D87FB;
  padding-bottom: .2rem;
}
.order-upload .pic-info{
  border-radius: .2rem;
  overflow: hidden;
}
.mt10{
  margin-top: .1rem;
}

/* 添加收货地址 */
.icon-center{
  text-align: center;
}
.icon-addr02,
.icon-addr03,
.icon-addr04,
.icon-addr01{
  display: block;
  width: .6rem;
  height: .6rem;
  margin: 0 auto;
}
.icon-addr01{
  background-image: url(../images/icon-addr01.png);
}
.icon-addr02{
  background-image: url(../images/icon-addr02.png);
}
.icon-addr03{
  background-image: url(../images/icon-addr03.png);
}
.icon-addr04{
  background-image: url(../images/icon-addr04.png);
}

/* 搜索 */
.goods-search{
  background-color: #B7B7B7;
  padding: .2rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.goods-search input[type=text]{
  background-color: #fff;
  border: none;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  height: .82rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 .3rem 0 0.8rem;
  background-image: url(../images/search.png);
  background-size: .36rem;
  background-position: .3rem center;
}
.goods-search a{
  display: block;
  background-color: #fff;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  height: .82rem;
  line-height:  .82rem;
  color: #6D87FB;
  width: 1.2rem;
  font-size: .32rem;
  text-align: center;
}

/* 全部分类 */
.goods-category{
  background-color: #fff;
  padding: .3rem .3rem .3rem .6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  border-bottom: 1px solid  #9F9F9F;
}
.goods-category span{
  color: #6D87FB;
  font-size: .32rem;
  width: 2rem;
}
.goods-category span::after{
  content: '';
  display: inline-block;
  width: .36rem;
  height: .29rem;
  background-image: url(../images/caret02.png);
  margin-left: .1rem;
}
.goods-category .caret::after{
  background-image: url(../images/caret.png);
}
.goods-category div{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #808080;
  padding: 0 .2rem;
}
.goods-category i{
  background-image: url(../images/icon-set.png);
  width: .4rem;
  height: .4rem;
}
.goods-category-list li{
  background-color: #fff;
  border-bottom: 1px solid  #9F9F9F;
  padding: .3rem 0;
  color: #6D87FB;
  padding-left: .6rem;
  font-size: .32rem;
}
/* 开关 */
.sm-switch {
  position: relative;
  width: 52px;
  height: 32px;
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: 16px;
  background-color: #DFDFDF;
  transition: background-color .1s, border .1s;
}
.sm-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: #FDFDFD;
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.sm-switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.sm-switch:checked {
  border-color: #78BB05;
  background-color: #78BB05;
}
.sm-switch:checked:before {
  transform: scale(0);
}
.sm-switch:checked:after {
  transform: translateX(20px);
}
