@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 100px;
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
a {
  color: #00f;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:hover {
  color: #000;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
 [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
 height: auto;
}
em, h3 {
  font: inherit;
}
.c01 {
  color: #00f;
}
.tc {
  text-align: center;
}
/*hide and show*/
.hide-mb {
	display: block;
}
.hide-pc {
	display: none;
}
/*覆盖bootstrap*/
.col-md-12,
.col-md-5,
.col-md-7,
.container-fluid,
.container{
  padding-left: 0;
  padding-right: 0;
}
.row{
	margin-right: 0;
	margin-left: 0;
}
@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
}

/*--------------首页--------------*/
.main{
	margin: 0 auto;
	width: 1200px;
}
/*头部*/
.header-wrap {
	background-color: #fff;
	overflow: hidden;
}
.header {
	width: 1200px;
	height: .9rem;
	line-height: .9rem;
	margin: 0 auto;
}
.header .logo {
	float: left;
}
.header-tip{
	float: right;
}
/*导航*/
.nav{
  float: right;
}
.nav li{
  display: inline-block;
  padding: 0 22px;
  text-align: center;
  font-size: 16px;
}
.nav li > a{
  display:block;
  height: 100%;
	color: #2d2523;
}

/*二级导航-下拉菜单*/
.nav-sub{
  position: absolute;
  z-index: 99999;
  display: none;
  border: 1px solid  #ccc;
  background-color: #fff;
  padding: .14rem .2rem;
  min-width: 1.44rem;
  text-align: left;
}
.nav-sub a{
  display:block;
  padding: .08rem 0;
  border-bottom: 1px dashed #ccc;
  line-height: initial;
  font-size: .14rem;
  color: #747474;
}
.nav-sub a:hover{
  color: #F08200;
}
.nav-sub a:last-child{
  border-bottom: none;
}
.nav-sub:before{
  content: '';
  position: absolute;
  top: -.02rem;
  left: 0rem;
  width: .7rem;
  display: block;
  height: 1px;
  background-color: #F08200;
}
/*幻灯片*/
.banner{
  position: absolute;
  z-index: 0;
  top: .9rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eee;
}
.banner-text{
  position: absolute;
  top: 3.2rem;
  left: -webkit-calc(50% - 6.0rem);
  width: auto;
}
/*swiper*/
.swiper01 {
  width: 100%;
  height: 100%;
}
.swiper01 .swiper-slide{
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.swiper01 .swiper-pagination-bullet {
	width: .33rem !important;
	height: .04rem !important;
  border-radius: .02rem !important;
	background: #fff !important;
	margin: 0 .08rem !important;
	opacity: 1;
}
.swiper01 .swiper-button-prev,
.swiper01 .swiper-button-next{
	background-image: url(../images/swiper-next.png);
	width: .4rem;
	height: .4rem;
	right: .3rem;
	background-size:100% !important;
}
.swiper01 .swiper-button-prev{
	left: .3rem;
	background-image: url(../images/swiper-prev.png);
}
.swiper01 .swiper-pagination-bullet-active {
  background-image: -webkit-linear-gradient( -90deg, rgb(48,128,215) 0%, rgb(11,78,168) 100%) !important;
}
.swiper01.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 2.4rem;
}
.footer{
  text-align: center;
  color: #fff;
  background-color: #F08200;
  font-size: .12rem;
  padding: .18rem 0;
}

.footer span{
  margin-left: .5rem;
}
/*--------------关于我们--------------*/
.blank{
	height: 1rem;
}
.banner-sub{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	height: 2.01rem;
	background-size: cover;
	background-position: center center;
	font-size: .36rem;
	color: #fff;
}
/*二级导航*/
.level2-wrap{
	background-color: #222;
}
.level2{
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	-webkit-align-items: flex-start;
	-webkit-box-align: center;
	justify-content:flex-start;
	text-align: center;
	line-height: .52rem;
}
.level2 a{
	flex: 0 0 2rem;
	color: #fff;
}
.level2 a:hover,
.level2 a.active{
	background-color: #F08200;
}

/*公司概况*/
.about-summary{
	position: relative;
}
.about-summary  .as-pic{
}
.about-summary  .as-info h3{
	color: #F08200;
	font-size: .24rem;
	margin-bottom: .3rem;
}
.about-summary .as-info{
	position: absolute;
	top: .85rem;
	left: 4.3rem;
	z-index: 999;
	width: 7.6rem;
	color: #888;
	font-size: .14rem;
	border: 1px solid #CECED3;
	padding: .36rem;
	background-color: #fff;
	background-image: url(../images/as-bg.jpg);
	line-height: 1.83;
}
.as-brand{
	margin: 0 auto .5rem;
	width: 6.9rem;
}
.as-brand h3{
	text-align: center;
	font-size: .24rem;
	color: #F08200;
	margin: .3rem 0;
}
.as-brand ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: space-between;
}

.as-brand ul li{
	flex: 0 0 22%;
	text-align: center;
	color: #888;
	font-size: .14rem;
}
.as-brand ul li span{
	position: relative;
	display: block;
	width: .9rem;
	height: .9rem;
	border-radius: 50%;
	border: 1px solid  #F08200;
	color: #F08200;
	margin: 0 auto .1rem;
	padding-top: .18rem;
}
.as-brand ul li span:after{
	content: '';
	position: absolute;
	top: 75%;
	left: 50%;
	margin-left: -.16rem;
	width: .32rem;
	height: 0.03rem;
	background-color: #F08200;
}
.as-brand ul li.active span{
	border: 1px solid  #F08200;
	background-color: #F08200;
	color: #fff;
}
.as-brand ul li.active span:after{
	background-color: #fff;
}
/*发展历程*/
.ah-wrap{
	background-image: url(../images/ah-bg.png);
	background-repeat: repeat !important;
	padding: .3rem 0 .5rem;
	background-size: initial;
	position: relative;
}
.about-title{
	font-size: .24rem;
	text-align: center;
	margin-top: .6rem;
	margin-bottom: .6rem;
	color: #F08200;
}
.about-title em{
	color: #F08200;
	margin: 0 .1rem;
  font-size: .30rem;
}
.ah-wrap h3.about-title{
  margin: 0 0 .3rem;
  color: #fff;
}
.about-history  ul{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	-webkit-align-items: flex-start;
	-webkit-box-align: start;
	justify-content: space-between;
}
.about-history  ul li{
	position: relative;
	z-index: 9;
	flex: 0 0 23%;
	text-align: left;
	color: #fff;
	font-size: .14rem;
	margin-bottom: .2rem;
}
.about-history ul li span{
	position: relative;
	display: block;
	width: .68rem;
	height: .68rem;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid  #F08200;
	color: #F08200;
	margin: 0 auto .1rem;
	padding-top: .15rem;
	text-align: center;
	font-size: .22rem;
	line-height: 0.9;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.about-history ul li span.oneline{
	line-height: 1.5;
}
.about-history ul li.active{
	color: #F08200;
}
.about-history ul li.active span{
	border: 1px solid  #F08200;
	background-color: #F08200;
	color: #fff;
}
.about-history ul:before,
.about-history ul:after{
	content: '';
	position: absolute;
	top: 0.33rem;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #fff;
	z-index: 1;
}
.about-history ul:after{
	top: .5rem;
}
.about-history ul:after{
	top: 1.9rem;
}
.sp3 .swiper-button-prev,
.sp3 .swiper-button-next,
.sp2 .swiper-button-prev,
.sp2 .swiper-button-next{
	background-image: url(../images/swiper-next.png);
	width: .32rem;
	height: .32rem;
	right: .5rem;
	background-size:100% !important;
}
.sp3 .swiper-button-prev,
.sp2 .swiper-button-prev{
	left: .5rem;
	background-image: url(../images/swiper-prev.png);
}
.one-underline:after{
	content: none !important;
}
/*项目入口*/
.item-wrap{
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  margin-left: -3.15rem;
  width: 6.3rem
}
.items ul{
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
  flex-flow: wrap;
	-webkit-align-items: flex-start;
	-webkit-box-align: start;
	justify-content: space-between;
}
.items li{
  flex: 0 0 .82rem;
  text-align: center;
  color: #fff;
}
.items li a{
  color: #fff;
}
.items li i{
  display: block;
  width: .82rem;
  height: .96rem;
  margin: 0 auto .05rem;
}
.items li:active i.icon-item01,
.items li i.icon-item01{
  background-image: url(../images/icon-item01.png);
}
.items li:active i.icon-item02,
.items li i.icon-item02{
  background-image: url(../images/icon-item02.png);
}
.items li:active i.icon-item03,
.items li i.icon-item03{
  background-image: url(../images/icon-item03.png);
}
.items li:active i.icon-item04,
.items li i.icon-item04{
  background-image: url(../images/icon-item04.png);
}
/*浮动层 */
.widget{
  position: fixed;
  top: 300px;
  right:0;
  display: block;
  width: .48rem;
  background-color: #222222;
  cursor: pointer;
  z-index: 9999999;
}
.widget a{
  position: relative;
  display: block;
  text-align: center;
  height: .48rem;
  line-height: .48rem;
  background-size: .44rem!important;
  background-position: .04rem;
  border-bottom: 1px solid #eee;
}
.widget .icon-w01{
  background-image: url(../images/icon-w01-active.png);
}
.widget .icon-w02{
  background-image: url(../images/icon-w02-active.png);
}
.widget .icon-w03{
  background-image: url(../images/icon-w03-active.png);
}
.widget .icon-w04{
}
.widget .icon-w05{
  background-color: #C9C9CA;
  background-image: url(../images/icon-w05-active.png);
  background-position: .04rem .02rem;
  padding-top: .08rem;
}
.widget .icon-w05:after{
  content: 'TOP';
  color: #fff;
  font-size: .14rem;
}

.widget .rect{
  display: none;
  position: absolute;
  top: -3px;
  left: -180px;
  width: 150px;
  height: auto;
  line-height: normal;
  padding: 23px 0;
  text-align: center;
  background-color: #222;
  color: #fff;  
}
.widget .rect:before{
  content: " ";
  position: absolute;
  top: 3px;
  right: -23px;
  width:0; 
  height:0; 
  border-top:26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 26px solid #222;
}
.widget a:hover .rect{
  display: block;
}
/*企业文化*/
.about-culture{
  background-image: url(../images/ac-bg.jpg);
  background-position: 0.1rem 1rem;
  min-height: 5rem;
  overflow: hidden;
}
.about-culture .ac-title{
  float: left;
  font-size: .4rem;
  color: #F08200;
  font-weight: bold;
}
.about-culture .ac-text{
  float: right;
  width: 6.8rem;
  margin-top: 1rem;
  font-size: .14rem;
  color: #888;
  line-height: 2;
}
.about-culture .ac-text p{
  margin-bottom: .2rem
}
/*国内网络*/
.about-network{
  margin-bottom: .6rem;
}
.about-network h3{
  text-align: left;
  margin-bottom: 0;
}
.about-network .an-sub{
  font-size: .14rem;
  color: #888;
  text-align: left;
}
.about-network .an-bg{
  margin: 0 auto;
}
/*企业荣誉*/
.ah-t2{
  padding-top: 1rem;
  background: #222;
}
.ah-wrap.ah-t2 h3.about-title{
  margin: -.65rem 0 .3rem;
}
.about-honor  ul{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: space-between;
}
.about-honor  ul li{
	flex: 0 0 25%;
	text-align: center;
	color: #fff;
	font-size: .14rem;
	margin-bottom: .5rem;
}
.about-honor  ul li span{
  position: relative;
	display: block;
	width: 2.36rem;
	height: 1.5rem;
	border: .12rem solid  #fff;
	margin: 0 auto .1rem;
  background-size: cover;
  cursor: pointer;
}
.about-honor ul li span:after{
	content: " ";
	position:absolute;
	top:0;
	left:0; 
	right: 0;
	bottom: 0;
	background-image:url(../images/icon-search.png);
  background-color: #f08200 ;
  background-position: center center;
  opacity: 0;
  background-size: .4rem;
  transition: all .6s ease-in-out;
}
.about-honor ul li span:active:after,
.about-honor ul li span:hover:after{
	opacity: .8;
}
   
/*查看大图*/
.gallery-honor{
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
  margin-left: -2.5rem;
  width: 5rem;
  height: 5rem;
	z-index: 1000;
	background-color: #fff;
	padding: .5rem .2rem .2rem; 
	overflow: hidden;
}
.gallery-honor img{
	width: 100%;
}
.gallery-honor label{
	display: block;
	border-top: 1px solid  #f08200;
	color: #888;
	margin-top: .15rem;
	padding-top: .05rem;
	font-size: .24rem;
}
.gallery-honor i.close{
	display: block;
	font-size: .32rem;
	color: #f08200;
	position: absolute;
	top: -.1rem;
	right: .2rem;
	font-style: normal;
  cursor: pointer;
}
.gallery-employee{
  top: .6rem;
}
/*新闻动态*/
.news{
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
	-webkit-align-items: center; 
	-webkit-box-align: center;
	justify-content: flex-start;
  font-size: .14rem;
}
.news a{
  position: relative;
  flex: 0 0 -webkit-calc(33.333% - .28rem);
  margin-right: .3rem;
  margin-bottom: .3rem;
  color: #888;
  padding: .2rem .2rem .6rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.news a:nth-child(3n){
  margin-right: 0;
}
.news a h3{
  color: #f08200;
  font-weight: bold;
  font-size: .16rem;
  margin-bottom: .1rem;
  margin-top: .3rem;
}
.news a span{
  display: block;
  height: 2.3rem;
  overflow: hidden;
  background-color: #eee;
  background-size: cover;
}
.news a i.icon-link{
  position: absolute;
  bottom: .15rem;
  right: .2rem;
  display: block;
  width: .26rem;
  height: .26rem;
  background-image: url(../images/icon-link.png);
}
.bg-news{
	background-color: #F9F9F9;
}
/*翻页*/
.news-page{
  margin: .5rem 0 .8rem;
  text-align: center;
}
.news-page span,
.news-page a{
  display: inline-block;
  width: .3rem;
  height: .3rem;
  line-height: .3rem;
	background-color: #fff;
  border-radius: 50%;
  margin: 0 .03rem;
  text-align: center;
  color: #222;
}
.news-page a:hover,
.news-page .current{
  color: #f08200;
}
.news-page .next,
.news-page .prev{
  text-indent: -999px;
  background-size: .15rem !important;
  background-position: center center;
}
.news-page .prev{
	background-image: url(../images/prev.png);
}
.news-page .next{
	background-image: url(../images/next.png);
}
/*新闻详情*/
.recruit-detail,
.news-detail{
  color: #888;
  padding:.6rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.news-detail .news-title{
  font-size: .16rem;
	color: #f08200;
	text-align: center;
}
.news-detail .news-sub-title{
  font-size: .12rem;
	color: #888;
	text-align: center;
}
.news-detail .news-content{
  padding: .38rem 0;
  font-size: .14rem;
  line-height: 1.8;
	text-align: center;
}
.news-detail .news-content p{
  text-indent: .28rem;
	text-align: left;
}
.news-detail .news-content img{
	clear: both;
	margin: .3rem auto;
}
.btn-news{
	display: block;
	line-height: .46rem;
	background-color: #f08200;
	color: #fff;
	text-align: center;
	font-size: .16rem;
	cursor: pointer;
}
/*人才招聘*/
.recruit-detail{
	padding: .4rem .9rem;
	font-size: .14rem;
  line-height: 1.8;
}
.btn{
	display: block;
	text-align: center;
	width: 2rem;
	line-height: .5rem;
	margin: 0 auto;
	background-color: #F08200;
	color: #fff;
	font-size: .16rem;
}
.bg-w{
	background-color: #fff;
}
/*联系我们*/
.contact{
	background-image: url(../images/contact-bg.jpg);
	min-height: 8rem;
	background-position: center 1rem;
	background-size: 70%;
}
.contact-title{
	color: #888;
	font-size: .24rem;
	margin-bottom: .6rem;
}
.contact-title h3{
	font-size: .4rem;
	color: #f08200;
	display: block;
	padding-bottom: .06rem;
	margin-bottom: .06rem;
	text-align: left;
	font-weight: normal;
	position: relative;
}
.contact-title h3:after{
	content: '';
	height: 1px;
	background-color: #888;
	position: absolute;
	top: 0.7rem;
	left: 0;
	width: 5.9rem;
}
.contact-content{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: wrap;
	-webkit-align-items: flex-start;
	-webkit-box-align: center;
	justify-content:center;
}
.contact-content .cc-item{
	flex: 0 0 50%;
}
.contact-content .cc-item dl{
	margin-bottom: .6rem;
	line-height: 1.8;
	color: #888;
	font-size: .18rem;
}
.contact-content .cc-item dl dt{
	color: #222;
}
/*产品价格*/
.line2{
	line-height: 1.2;
}
.line2 a{
	flex: 0 0 1.7rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	font-size: .16rem;
	height: .52rem;
}
.price h3{
	margin: 0 0 .2rem;
}
.price-content{
	font-size: .14rem;
	text-align: center;
	min-height: 4rem;
}
/*产品服务*/
.service-mar{
	margin: .8rem 0;
}
/*产品服务*/
.service-mar2{
	margin: .2rem 0 .2rem;
}
.service{
	background-color: #464646;
	color: #fff;
	padding-top: .3rem;
}
.mh2{
	min-height: 1rem;
}
.service-padd{
	padding-top: .3rem;
}
.service-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 5.97rem;
	height: 4.5rem;
	background-color: #464646;
	text-align: center;
	color: #fff;
	font-size: .14rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column;
}

.service-box p,
.service-box img,
.service-box h3{
	margin: .2rem 0;
}
.service-pattern{
	position: relative;
	z-index: -1;
	margin-top: 0;
	height: 5.5rem;
	background-image: url(../images/pattern.jpg);
	background-repeat: repeat;
	background-size: 7px;
}
.service-last{
	right: 0;
	margin-left: 6rem;
}
.s-posi{
	position: relative;
}
/*-----------------------mobile 小于820px-----------------------*/
@media (max-width: 820px) {
	html {
		font-size: 50px;
	}
	body{
		font-size: .24rem;
	}
	.header,
	.main{
		width: auto;
	}
	.mb-padd{
		padding: 0 .2rem;
	}
	.mb-padd3{
		padding: 0 .3rem;
	}
  /*hide and show*/
	.hide-mb {
		display: none !important;
	}
	.hide-pc {
		display: block;
	}
	/*产品服务*/
	.service{
		background-color: #6D6D6D;
		margin-bottom: .5rem;
		padding-bottom: .5rem;
		padding-left: .3rem;
		padding-right: .3rem;
	}
	.service .price-content img{
		width: 78%;
	}
	.service-box,
	.s-posi{
		position: static;
	}
	.service-box{
		width: auto;
		background-color: #6D6D6D;
		height: 5.5rem;
		padding-left: .3rem;
		padding-right: .3rem;
		margin-bottom: .5rem;
	}
	.service-box img{
		width: 1.5rem;
	}
	.service-last{
		right: 0;
		margin-left: auto;
	}
	.mh2{
		min-height: 5.5rem;
	}
  /*产品价格*/
	.price-content{
		font-size: .24rem;
	}
  /*联系我们*/
	.contact-title{
		margin-top: .6rem;
	}
	.contact-content .cc-item{
		flex: 0 0 100%;
	}
	.contact-content .cc-item dl{
		font-size: .24rem;
	}
	.level2.line2 a{
		line-height: 1.2;
		padding: .3rem 0;
	}
  /*人才招聘*/
	.recruit-detail{
    box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0);
    border: none;
    padding: .38rem;
 }
	.btn-news{
		margin-bottom: .2rem;
	}
	/*翻页*/
	.news-page {
    margin: .2rem 0 .5rem;
	}
	.news-page span,
	.news-page a{
		width: .6rem;
		height: .6rem;
		line-height: .6rem;
	}
	.news-page .next,
	.news-page .prev{
		background-size: .3rem !important;
	}
	.banner-sub{
		height: 3.88rem;
	}
  /*新闻动态*/
  .news{
    font-size: .24rem;
  }
  .news a{
    flex: 0 0 100%;
    margin-right: 0;
    color: #888;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .news a:nth-child(3){
    margin-right: 0;
  } 
	.news a i.icon-link{
		width: .48rem;
		height: .48rem;
	}
	.news a span{
		height: 4rem;
	}
	.news a h3{
		font-size: .28rem;
	}
	
  /*查看大图*/
  .gallery-honor{
    top: 1.3rem;
    margin-left: -3rem;
    width: 6rem;
    height: auto;
    padding: .4rem .2rem .2rem;
  }
  .gallery-employee{
    top: 4.8rem;
  }
  /*国内网络*/
  .about-network .an-sub,
  .about-network h3{
    text-align: center;
  }
  /*企业文化*/
  .about-title{
    font-size: .32rem;
    margin: .2rem 0;
  }
  .about-culture{
    padding: 0 .38rem;
    margin-bottom: .5rem;
    background-position: center bottom;
  }
  .about-culture .ac-text,
  .about-culture .ac-title{
    float: none;
  }
  .about-culture .ac-text{
    width: auto;
    margin-top: .2rem;
  }
  /*企业荣誉*/
  .about-honor ul li{
    flex: 0 0 50%;
    margin-bottom: .5rem;
  }
  /*项目入口*/
  .item-wrap{
    position: static;
    margin-left: 0;
    width: auto;
    padding: .1rem;
  }
  .items li{
    flex: 0 0 -webkit-calc(50% - .05rem);
    border: 1px solid  #BFBFBF;
    color: #222;
    margin-bottom: .1rem;
    padding: .2rem;
  }
  .items li a{
    color: #222;
  }
  .items li:active a,
  .items li:active{
    color: #fff;
    background-color: #EF8200;
  }
  .items li i.icon-item01{
    background-image: url(../images/icon-item01-mb.png);
  }
  .items li i.icon-item02{
    background-image: url(../images/icon-item02-mb.png);
  }
  .items li i.icon-item03{
    background-image: url(../images/icon-item03-mb.png);
  }
  .items li i.icon-item04{
    background-image: url(../images/icon-item04-mb.png);
  }
  
	/*头部*/
  .header .logo{
    width: 1.5rem;
    margin-left: .3rem;
  }
	/*导航*/
	.nav {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: none;
		width: 100%;
		padding-top: 2.2rem;
		z-index: 9999999999999;
		background-color: rgba(0, 0, 0, 0.9);
	}
  .nav li{
    display: block;
  }
	.nav li a {
		display: block;
		width: 100%;
		line-height: 1rem;
		color: #888;
		text-align: center;
		margin: 0 auto;
		font-size: 14px;
	}
	.nav li.active a {
		color: #fff;
	}
  /*二级导航*/
  .nav-sub{
     opacity: 0 !important;
     display: none !important;
  }
  
	.nav-toggle {
		display: block;
		width: .44rem;
		height: .44rem;
		margin-right: .3rem;
		margin-top: .23rem;
		background-image: url(../images/icon-toggle.png);
	}
  /*幻灯片*/
  .banner{
    position: static;
    height: 6.4rem;
  }
  
  .banner-text{
    position: absolute;
    top: 2.2rem;
    left: .3rem;
    width: 80%;
  }
  .swiper01.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 0.4rem;
  }
  
	/*荣誉*/
  .about-honor ul li span{
    width: 2.8rem;
    height: 1.8rem;
  }
	/*发展历程*/
	.about-history  ul{
		padding: 0 .4rem;
		justify-content: space-between;
	}
	.about-history  ul li{
		flex: 0 0 46%;
		margin-right: 0;
		font-size: .24rem;
	}
	.about-history ul:before,
	.about-history ul:after{
		content: none
	}
	.sp3 .swiper-button-next,
	.sp3 .swiper-button-prev,
	.sp2 .swiper-button-next,
	.sp2 .swiper-button-prev{
		left: .1rem;
		width: .5rem;
		height: .5rem;
	}
	.sp3 .swiper-button-next,
	.sp2 .swiper-button-next{
		left: auto;
		right: .1rem;
	}
  /*公司概况*/
	.about-summary .as-pic{
		padding-left: .6rem;
		padding-right: .7rem;
	}
	.about-summary .as-info{
		position: static;
		width: auto;
		top: 0;
		left: 0;
	}
	.as-brand {
		width: auto;
	}
	.as-brand ul li{
		font-size: .22rem;
	}
	.as-brand ul li span{
		font-size: .3rem;
	}
	/*二级导航*/
	.level2-wrap{
		padding: 0 .8rem;
		background-color: transparent;
		margin-bottom: .2rem;
	}
	.level2 a{
		flex: 0 0 -webkit-calc(33.333% - .1rem);
		color:inherit;
		border: 1px solid  #222;
		margin-right: .1rem;
		margin-top: .2rem;
		font-size: .22rem;
		line-height: .45rem;
	}
	.level2 a:hover,
	.level2 a.active{
		color: #fff;
		border: 1px solid #F08200;
	}
  /*底部*/
	.footer.idx{
		position: static !important;
		background-color: #F08200 !important;
	}
	.footer{
		font-size: .22rem;
		padding: .1rem 0px;
	}
	.footer span{
		margin-left: 0;
	}
}












