@charset "utf-8";
body, html {
	color: #888;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
html{
  font-size: 100px;
}
body{
  font-size: 14px;
}

body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a, nav{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
a {
	color: #888;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
em,h3{
	font:inherit
}
.c01{
	color: #16438c;
}
.tc{
	text-align: center;
}
/*覆盖bootstrap*/
.container{
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
}
/*--------------头部*--------------*/
.header{
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #fff;
}

.header {}
.header .logo{
  float: left;
  width: 1.66rem;
}

/*导航*/
.nav{
  float: left;
	padding-left: 50px;
}
.nav li{
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  background-color: #fff;
}
.nav li > a{
  display:block;
  height: 100%;
	color: #2d2523;
}

/*二级导航*/
.nav-sub-wrap{
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  background-color: #17438C;
}
.nav-sub{
  position: absolute;
  z-index: 99999;
  line-height: 50px;
  display: none;
}
.nav-sub a{
  display: inline-block;
  padding: 0 68px 0 0;
  color: #fff;
}
.nav-sub:before{
  content: '';
  position: absolute;
  top: 0;
  margin-left: 13px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid #fff;
}
/*中英文图标*/
.language{
  float: right;
}
.language li{
  float: left;
  margin-left: .2rem;
}
.language li i{
  font-size: 30px;
  color: #000;
}
.icon-zhongwen{
  color: #16438C !important;
}
/*幻灯片*/
.banner{
  position: absolute;
  z-index: 0;
  top: 0.88rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eee;
}
/*swiper*/
.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.swiper-slide{
  height: 100%;
  background-color: #666;
  background-position: top center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/*项目*/
.item-wrap{
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background-color: #eee;
}
/*-----------------------二级页面-----------------------*/

.m-art [class^=col-md]{
	padding-left: 0;
	padding-right: 0;
}
.banner-sub{
	height: 4rem;
	background-size: cover;
}
.blank{
	height: 50px;
}
/*侧边导航*/
.aside{
	 padding-right: 60px; 
}
.aside .aside-title{
	width: 154px;
	padding-bottom: 6px;
	color: #888;
	background-image: url(../images/aside-line.png);
	background-position: left bottom !important;
	background-size: 100%;
}
.aside .aside-title .icon{
	display: block;
	font-size: 50px;
	margin-bottom: -3px;
}
.aside .aside-title span{
	position: relative;
	line-height: 1.2;
}
.aside .aside-title span em{
	font-size: 16px;
	letter-spacing: 1px;
}
.aside .aside-title span p{
	font-size: 18px;
	color: #312927;
	font-weight: bold;
}
/*二级导航*/
.sub-nav{
	margin-top: 10px;
	width: 154px;
	display: block;
}
.sub-nav li{
	line-height: 50px;
	font-size: 16px;
	padding:0 10px;
	border-bottom: 1px solid  #888;
}
.sub-nav li.active{
	color: #fff;
	background-color: #16438C;
}
.sub-nav li a{
	display: inline-block;
	height: 100%;
	color: #2d2523;
}
.sub-nav li.active a{
	color: #fff;
}


/*文章内容*/
.article-wrap{
	padding: 0 45px;
}
.article-wrap h3{
	font-size: 24px;
	padding: 10px 0;
	overflow: hidden;
}
.article-wrap h5{
	font-size: 18px;
	margin-bottom: 15px;
	text-indent: -8px;
}
.article-wrap p{
	padding: 0 0 10px;
}
.article-wrap h6{
	font-size: 18px;
	line-height: 1.6;
}
.article-wrap h6 span{
	display: block;
	font-size: 16px;
	color: #888;
}
.article{
	margin: 35px 0;
	overflow: hidden;
	text-align:justify;
}
.art-pic{
	padding:60px 0 !important;
}
.article-wrap b.c01{
	padding-right: 16px;
}
.dash-line{
	margin: .4rem 0px;
	height: 1px;
	border-bottom: 1px dashed #D3D3D3;
}

/*底部*/
.footer-wrap{
	overflow: hidden;
	background-color: #16438C;
}
.footer{
	max-width: 1200px;
	padding: 15px 10px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 12px;
}
.footer,
.footer a{
	color: #fff;
}
.footer .f-nav{
	float: left;
}
.footer .f-info{
	float: right;
}
.footer .f-info span{
	padding-left: 20px;
}

/*-----------------------企业文化-----------------------*/
.art-txt{
	float: left;
}
.art-pic-l{
	float: left;
}

/*-----------------------新闻动态-----------------------*/
.article-pr0{
	padding-right: 0;
}
.news-summary-wrap{
	overflow: hidden;
}
.news-pic{
	position: relative;
	float: left;
}
.news-date{
	position: absolute;
	top: 65px;
	right: -90px;
	width: 90px;
	height: 90px;
	line-height: 1.2;
	padding: 12px 0 0 5px;
	font-size: 18px;
	text-align: left;
	color: #fff;
	background-color: #16438C;
}
.news-date em{
	display: block;
	font-size: 30px;
}
.news-summary{
	float: right;
	max-width: 410px;
	line-height: 1.6;
}
.news-summary a{
	color: #16438C;
}
.news-summary h3{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	padding-top: 0;
}
.news-summary p{
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
	padding-bottom: 0;
	line-height: 1.9;
}
.btn-news{
	display: block;
	float: right;
	min-width: 100px;
	height: 30px;
	line-height: 30px;
	padding:0 8px;
	margin:25px auto 0;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	color: #fff !important;
	background-color: #16438C;
}
.news-list{
	padding-top: .6rem;
}
.news-list li{
	padding: .15rem .2rem .15rem .4rem;
	overflow: hidden;
	background-image: url(../images/news-dot01.png);
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: 4px;
}
.news-list li:nth-child(odd){
	background-color: #F2F2F2;
}
.news-list li.active{
	background-color: #16438C;
	background-image: url(../images/news-dot02.png);
}
.news-list li.active span,
.news-list li.active a{
	color: #fff;
}
.news-list li span{
	float: right;
	width: 25%;
	text-align: right;
}
.news-list li a{
	float: left;
	width: 75%;
	padding-right: 10px;
	white-space: nowrap;
	overflow : hidden;
  text-overflow: ellipsis;
}
/*翻页*/
.news-pagination{
	padding: .8rem 0;
	text-align: center;
}
.news-pagination a{
	display: inline-block;
	margin: 0 3px	;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.news-pagination a.active{
	color: #fff;
	background-color: #16438C;
}

/*-----------------------新闻详情页-----------------------*/
.news-detail{
	background-color: #fff;
	border: 1px solid #9a94a4;
	padding: .6rem .8rem 0;
}
.news-detail h1{
	padding-bottom: 10px;
	text-align: center;
	font-size: 24px;
	color: #16438C;
}
.news-detail p{
	text-align:justify;
	line-height: 1.8;
	padding-bottom: 10px;
	color: #888;
}
.news-detail .news-time{
	text-align: center;
	font-size: 20px;
}
.news-detail .pic-center{
	padding: .5rem 0px;
	text-align: center;
}
.detail-back{
	display: block;
	padding: 10px;
	margin-top: -1px;
	font-size: 24px;
	text-align: center;
	background-color: #fff;
	border: 1px solid  #9a94a4;
}

/*-----------------------mobile 小于820px-----------------------*/
@media (max-width: 820px){
  html{
    font-size: 50px;
  }
	.header{
		padding-left: 10px;
		padding-right: 10px;
	}
  .nav-toggle{
    display: block;
    color: #00f;
  }
  .nav{
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
		padding-left: 0;
  }
  .nav li{
    display: block;
    line-height: 35px;
    border-bottom: 1px solid  #cbcbcb;
  }
  .nav li.active,
  .nav li:active{
    background-color: #17438C;
  }
  .nav li.active a,
  .nav li:active a{
    color: #fff;
  }
  
  /*二级导航*/
  .nav-sub,
  .nav-sub-wrap{
     opacity: 0 !important;
     display: none !important;
  }
  
  /*中英文图标*/ 
  .language li i{
    font-size: 20px;
  }
  /*幻灯片*/
  .banner{
    bottom: auto;
    height: 380px;
  }
	
	.blank{
		height: 15px;
	}
	/*侧边导航*/
	.aside{
		padding-right: 0;
		position: relative;
	}
	.aside .aside-title{
		width: 116px;
		background-position: left 43px !important;
		margin-top: 60px;
		margin-left: 30px;
		white-space: nowrap;
	}
	.aside .aside-title .icon{
		display: inline-block;
		font-size: 32px;
		margin-bottom: 0;
	}
	.aside .aside-title span em{
		font-size: 12px;
		display: inline-block;
		padding-top: 2px;
	}
	.aside .aside-title span{
		position: relative;
		display: inline-block;
		line-height: 1.2;
		padding-left: 5px;
		word-break: keep-all;
		white-space: nowrap;
		vertical-align: middle;
	}
	.aside .aside-title span p{
		position: absolute;
		top: -15px;
		left: 5px;
		font-size: 15px;
		color: #312927;
		font-weight: bold;
	}
	/*二级导航*/
	.sub-nav{
		margin-top: -115px;
		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid  #888;
	}
	.sub-nav li{
		float: left;
		width: 25%;
		line-height: 25px;
		font-size: 13px;
		text-align: center;
	}
	.sub-nav li.bnone{
		border-bottom: none;
	}
	/*文章内容*/
	.article-wrap{
		padding: 0 30px;
		margin-top: 52px;
	}
	.article{
		margin: 5px 0;
		font-size: 13px;
	}
	.article-wrap h3{
		font-size: 15px;
	}
	.article-wrap h5{
		font-size: 15px;
	}
	.art-pic{
		padding:25px 0 !important;
	}
	.pic-clear{
		float: none;
		clear: both;
		padding: 30px 0 !important;
		text-align: center;
	}
	.pic-clear img{
		width: 50%;
	}
	.art-txt p{
		padding: 0 0 8px;
	}
	.m-none{
		display: none;
	}
	.article-wrap b.c01{
		display: block;
	}
	/*新闻动态*/
	.btn-news{
		float: none;
	}
	.news-summary h3{
		margin-bottom: 5px;
		padding-top: 10px;
	}
	.news-pic img{
		width: 80%;
		float: right;
	}
	.news-date{
		top: 0;
		right: 0;
		left: 0;
		width: 81px;
		height: 81px;
		font-size: 16px;
	}
	.news-date em{
		display: block;
		font-size: 26px;
	}
	.m-art-list{
		padding-left: 0;
		padding-right: 0;
		margin-top: 10px;
	}
	.m-nav{
		margin-top: -5px;
	}
  /*新闻列表*/
	.news-list li{
		padding: .15rem .2rem .15rem 1rem;
		overflow: hidden;
		background-image: url(../images/news-dot01.png);
		background-position: 30px center;
		background-repeat: no-repeat;
		background-size: 4px;
		font-size: 12px;
	}
	/*新闻详情页*/
	.news-detail{
		border: none;
	}
	.news-detail h1{
		font-size: 14px;
		line-height: 1.4;
	}
	.news-detail .news-time{
		font-size: 12px;
	}
	.pic-center img{
		width: 80%;
	}
  /*底部*/
	.footer{
		text-align: center;
	}
	.footer .f-nav{
		float: none
	}
	.footer .f-info{
		padding-top: 5px;
		font-size: 9px;
	}
	
}
/*-----------------------pc 大于820px-----------------------*/
@media (min-width: 820px){
  .nav-toggle {
     display: none;
  }
  .nav{
    display: block !important;
  }
	/*二级导航*/
	.sub-nav li:after{
		float: right;
		content: '\e602';
		display: inline-block;
		font-family: "iconfont" !important;
		-webkit-font-smoothing: antialiased;
	}
	.pc-none{
		display: none;
	}
  /*二级导航*/
	.sub-nav li a{
		min-width: 100px;
	}
	/*企业文化*/
	.art-pic-r{
		float: left;
		margin-left: 150px;
	}
	/*新闻详情*/
	.bg01{
		background-color: #f2f2f2;
	}
}



















