@charset "utf-8";
html {
/*
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul,li{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  min-width: 906px;
  padding: 0;
  margin: 0;
  color: #404040;
  background-color: #F9F7FA;
  font-size: 14px;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto
}
a {
  color: #404040;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:hover{
  color: #1764CB;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: 12px;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
/*
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
*/
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
 [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
 height: auto;
}
em, h3 {
  font: inherit;
  padding: 0;
  margin: 0;
}
.c01 {
  color: #1764CB;
}
.c02 {
  color: #eb6111;
}
.tc {
  text-align: center !important;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
/*----------------首页----------------*/
.bg-idx{
  background-color: #000;
  height: 100%;
}
/*头部*/
.header-wrap{
  height: 73px;
  background-color: #fff;
  border-bottom: 1px solid  #EEE;
}
.header{
  height: 73px;
  width: 906px;
  margin: 0 auto;
  font-size: 12px;
}
.header .logo{
  float: left;
  margin-top: 12px;
}
.header .nav{
  float: right;
  margin-top: 30px;
}
.header .nav li{
  float: left;
  margin: 0 15px;
}


/*导航*/
.nav-before{
  margin-top: 30px;
  margin-left: 111px;
  float: left;
}
.nav-before a{
  display: block;
  float: left;
  margin: 0 12px;
}

/*导航-登录后*/
.nav-admin{
  float: left;
  margin-top: 30px;
}
.nav-admin li{
  float: left;
  margin: 0 10px;
}
.nav-admin li > a:hover,
.nav-admin li > a{
  color: #fff;
}
.oem2,
.oem1{
  padding:2px 8px;
  background-color: #EB6111;
  border-radius: 2px;
  color: #fff;
  text-align: center;
}
.oem2{
  color: #fff;
  background-color: #888888;
  
}
.signOut,
.signIn{
  margin-top: 30px;
  float: right;
}
/*下拉菜单*/
.drop-down{
  display: block;
  padding: 2px 5px;
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.drop-down:hover div{
  display: block;
}
.drop-down i{
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../images/drop-down.png);
  margin-left: 5px;
}
.drop-down div{
  display: none;
  position: absolute;
  top: 23px;
  left: -1px;
  width: 65px;
  padding: 9px 9px;
  background-color: #fff;
  border: 1px solid  #ddd;
}
.drop-down div a{
  display: block;
  padding: 5px 0;
}
.drop-down div a:hover{
  color: #EB6111;
}
/*banner*/
.banner-wrap{
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-position: center top;
  background-size: auto
}
.banner{
  width: 906px;
  margin: 0 auto;
  min-height: 500px;
  color: #fff;
  text-align: left;
  line-height: 2.8
}
.banner h3{
  font-size: 30px;
  padding: 150px 0 30px 0;
}
.banner p{
 margin: 0;
 padding: 0;
}

/*----------------注册页----------------*/

.main{
  width: 906px;
  margin: 20px auto 0;
}
/*表单*/
.f-box{
  border: 1px solid  #eee;
  background-color: #fff;
  margin-top: 30px;
  padding-bottom: 20px;
}
.f-box h3{
  font-size: 16px;
  color: #EB6111;
  border-bottom: 1px solid  #eee;
  height: 35px;
  padding: 15px 0 0 25px;
}
.f-box .cont{
  padding: 30px;
  text-align: center;
}

/*输入框、按钮*/
.ipt{
  width: 258px;
  height: 30px;
  line-height: 30px;
  border: 1px solid  #A0A0A0;
  padding: 0 5px;
  border-radius: 2px;
}
.ipt.sm{
  width: 111px;
}
.ipt.mini{
  width: 39px;
}
.ipt.rmb{
  background-image: url(../images/rmb.png);
  background-position: 5px center;
  background-size: 12px;
  padding-left: 20px;
}
.btn{
  margin: 0 auto;
  width: 240px;
  height: 40px;
  line-height: 40px;
  background-color: #EB6111;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
.btn:hover{
  color: #fff;
}
.btn.sm{
  width: 108px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
}
.btn.mini{
  width: 45px;
  height: 32px;
  line-height: 32px;
}
.btn.alink{
  display: block;
}
.texta{
  width: 158px;
  border: 1px solid  #A0A0A0;
  padding: 5px;
  border-radius: 2px;
}
/*表格*/
.t-table{
  text-align: center;
}
.t-table table{
  margin: 0 auto;
  table-layout: fixed
}
.t-table td{
  padding: 10px 0;
  text-align: left;
}
.t-table .t-title{
  width: 108px;
  padding-right: 10px;
  text-align: right;
  word-break: break-all
}
.t-table .td-padd{
  padding-top: 50px;
  text-align: center;
}

/*下拉框*/
.sel{
  width: 258px;
  height: 30px;
  height: auto\0;
  padding-top:5px\0;
  padding-bottom:5px\0;
  line-height: 30px;
  padding-left: 3px;
  border: 1px solid  #A0A0A0;
  background-image: url(../images/select.png);
  background-position: 96% center;
  border-radius: 2px;
}
.multi-sel .sel{
  width: 81px;
  width: 85px \0;
  margin-right: 3px;
}
.sel.sm{
  width: 118px;
}
/*底部*/
.footer{
  text-align: center;
  padding: 50px 0;
  font-size: 12px;
}
.padd-ckb{
  padding-left: 130px !important;
}
/*多选框*/
.check:checked,
.check{
	background-image:url(../images/check.png);
	background-repeat:no-repeat;
}
.check {
	width: 16px;
	height: 16px;
	cursor: pointer;
	vertical-align: middle;
	outline: 0;
	-webkit-appearance:none;
}
.check{
	background-position: 0 0;
}
.check:checked{
	background-position: 0 -16px;
}


/*----------------登录----------------*/
.bgw{
  background-color: #fff;
}
.login-wrap{
  width: 906px;
  height: 500px;
  margin: 0 auto;
  background-image: url(../images/login-bg.png);
  background-position: 0 50px;
  background-size: 555px auto
}
.login{
  width: 260px;
  height: 310px;
  padding: 20px;
  border: 1px solid  #A0A0A0;
  background-color: #fff;
  float: right;
  margin-top: 35px;
}
.login .lg-tab{
  overflow: hidden;
}
.login .lg-tab li{
  float: left;
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
  width: 42%;
  cursor: pointer;
}
.login .lg-tab li.line{
  border-right: 1px solid  #a0a0a0;
}
.login .lg-tab li.curr{
  color: #EB6111;
}
.login .lg-con{
  padding-top: 25px;
}
.login .lg-con li{
  padding: 8px 0;
  margin: 0;
}
.login .lg-con .inb .btn{
  width: 100%;
}
.login .lg-con .forget label{
  float: left;
}
.login .lg-con .forget a{
  float: right;
}
.login .ipt{
  background-size: 22px;
  background-position: 10px center;
  padding-left: 40px;
  width: 210px;
}
.login .lg01{
  background-image: url(../images/icon-login01.png);
}
.login .lg02{
  background-image: url(../images/icon-login02.png);
}
.login .lg03{
  background-image: url(../images/icon-login03.png);
}

/*图片验证码*/
.auth-wrap{
  position: relative;
}
.auth-code{
  position: absolute;
  top: 12px;
  right: 5px;
  width: 108px;
  height: 20px;
  background-color: #fff;
}
.auth-code a{
  color: #888;
}
.auth-code a{
  color: #888;
  margin-left: 8px;
}
.pic-bd{
  float: left;
  border: 1px solid  #A0A0A0;
}

/*忘记密码*/
.login-psw-wrap{
  width: 906px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
.login-psw{
  width: 263px;
  margin: 70px auto 0;
}
.login-psw h3{
  color: #EB6111;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}
.login-psw li{
  padding: 6px 0;
  width: 273px;
}
.login-psw li.inb .btn{
  width: 100%;
}

/*图片展示*/
.pic-show{
  width: 906px;
  margin: 10px auto 0;
  overflow: hidden;
}
.pic-show a{
  width: 218px;
  height: 370px;
  display: block;
  float: left;
  margin-right: 8px;
  border: 1px solid  #eee;
  background-color: #fff;
}
.pic-show a:hover{
  border: 1px solid  #eb6111;
  color: inherit;
}

.pic-show h3{
  padding: 10px;
  color: #eb6111;
  font-size: 20px;
  font-weight: bold;
}
.pic-show p{
  padding: 0 10px;
}
.pic-show i{
  height: 16px;
  display: block;
  background-image: url(../images/icon-fav.png);
  background-position: 0 -16px;
  margin-top: 10px;
  margin-left: 10px;
  font-style: normal;
  padding-left: 20px;
  font-size: 12px;
}
.pic-show i.faved{
  background-position: 0 0;
}
.btn-wrap{
  text-align: center;
  padding: 30px 0;
}
.last-pic{
  margin-right: 0 !important;
}

/*线框表格*/
.bd-table{
	text-align: center;
}
.bd-table table{
	margin: 0 auto;
}
.bd-table th{
	background-color: #eee;
	font-weight: normal;
}
.bd-table th,
.bd-table td{
	border: 1px solid  #A0A0A0;
	text-align: left;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.bd-table .bd-tc{
	padding-left: 0;
	text-align: center !important;
}

.tiny td{
	padding: 5px 0;
}
/*向导*/
.guide{
	margin: 25px auto;
	width: 668px;
	height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 16px;
}
.g01{
  background-image: url(../images/guide-bg01.png);
}
.g02{
  background-image: url(../images/guide-bg02.png);
}
.g03{
  background-image: url(../images/guide-bg03.png);
}
.guide li{
	float: left;
	width: 222px;
	text-align: center;
	height: 36px;
}
.wine-custom{
	padding-left: 10px !important;
}
.wine-custom img{
	border: 1px solid  #a0a0a0;
}
.tdtc th,
.tdtc td{
	text-align: center !important;
	padding-left: 0;
}
.bgn{
	background-color: #fff !important;
	width: 55px;
}
.bgn a{
	color: #eb6111;
}
.bd-table h3{
	text-align: left;
	padding: 3px 0;
	border: none;
	margin: 0 auto;
	height: auto;
}

.total-price{
	width: 906px;
	margin: 0 auto;
	padding: 10px 0 20px;
}
.total-price ul{
	float: right;
}
.total-price li{
	float: left;
	padding-left: 50px;
}
.total-price li span{
	color: #eb6111;
	font-weight: bold;
}

/*我的订单*/
.order-title{
  overflow: hidden;
  margin-bottom: 10px;
}
.order-title > span{
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
}
.order-table{
  background-color: #fff;
  border: 1px solid  #eee;
}
.order-table th{
  background-color: #FBFBFB;
  border-bottom: 1px solid  #eee;
  font-weight: normal;
}
.order-table th,
.order-table td{
  padding: 8px 15px;
  text-align: left;
}

.order-box{
  background: none;
  border: none;
}
.order-footer{
  padding: 15px 15px;
  text-align: right;
  background-color: #fff;
}
.order-footer span{
  color: #eb6111;
  font-size: 14px;
  font-weight: bold;
}
.order-wrap{
  margin-bottom: 20px;
}

.btn-search{
  position: absolute;
  top: 1px;
  right: 12px;
  width: 18px;
  height: 18px;
  background-image: url(../images/search.png);
  cursor: pointer;
}

/*update 20170605*/

.swiper01 {
	width: 100%;
	height: 92%;
}
.swiper01 .swiper-slide {
	position: relative;
	height: 100%;
	background-position: top center;
	background-repeat: no-repeat !important;
	background-size: cover !important;
  
}
.swiper01 .swiper-pagination-switch{
	width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background: #fff !important;
  margin: 5px !important;
  opacity: 1;
  display: inline-block;
  filter:alpha(opacity=50);
  opacity: .5
}
.swiper01 .swiper-active-switch{
  filter:alpha(opacity=100);
  opacity: 1
}
.sp1 {
  position: absolute;
  bottom:30px !important;
  left: 50%;
  margin-left: 30px;
}







