@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #000;
	background-color: #FDFDFD;
  font-size: 13px;
  line-height: 1.6;
  font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input{
  background-repeat: no-repeat; 
  background-size: 100%;
}
a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:active {
  color: #000;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
 [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
 height: auto;
}
em, h3 {
  font: inherit
}
.c01 {
  color: #00f;
}
.tc {
  text-align: center;
}
/*banner*/
/*swiper*/
.swiper01 {
	width: 100%;
  background-color: #eee;
}
.swiper01 .swiper-pagination-bullet {
	width: 8px !important;
	height: 8px !important;
	background: #b28d8c !important;
	border: 0 solid #fff !important;
	margin: 3px !important;
	opacity: 1;
  border-radius: 2px;
}
.swiper01 .swiper-pagination-bullet-active {
	background: #78b0ff !important;
}
/*导航栏*/
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 0.98rem;
	background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(63, 101, 157, 0.53);
}
nav a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column; /*纵向*/
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	text-align:center;
	font-size: 13px;
	color: #333;
}
nav a i{
	width: 34px;
	height: 34px;
}
nav a i.icon-nav01{	
	background-image: url(../images/icon-nav01.png);
}
nav a i.icon-nav02{	
	background-image: url(../images/icon-nav02.png);
}
nav a i.icon-nav03{	
	background-image: url(../images/icon-nav03.png);
}
nav a i.icon-nav04{	
	background-image: url(../images/icon-nav04.png);
}
nav a.active i.icon-nav01{
	background-image: url(../images/icon-nav01-active.png);
}
nav a.active i.icon-nav02{
	background-image: url(../images/icon-nav02-active.png);
}
nav a.active i.icon-nav03{
	background-image: url(../images/icon-nav03-active.png);
}
nav a.active i.icon-nav04{
	background-image: url(../images/icon-nav04-active.png);
}
.nav-blank{
	height: 1.5rem;
}

/*分类*/
.wanxin-swiper{
  background-color: #fff;
  margin-bottom: 10px;
}
.swiper08 .swiper-wrapper{
  padding-bottom: 10px;
  background-color: #fff;
}
.swiper08 .swiper-pagination{
  bottom: 0px !important;
}
.swiper08 .swiper-pagination-bullet {
  background-color: #666;
	opacity: 1;
  border-radius: 2px;
}
.swiper08 .swiper-pagination-bullet-active {
	background-color: #78B0FF;
}
.nav-wanxin{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 15px 0 0;
	background-color: #fff;
	height: 2.6rem;
}
.nav-wanxin a{
	flex: 0 0 25%;
	text-align: center;
	font-size: 12px;
	color: #000;
}
.nav-wanxin a i{
	display: block;
	width: 32px;
	height: 32px;
	margin: 3px auto 0;
	vertical-align: middle;
}
.nav-wanxin a i.icon-wanxin01{
	background-image: url(../images/icon-wanxin01.png);
}
.nav-wanxin a i.icon-wanxin02{
	background-image: url(../images/icon-wanxin02.png);
}
.nav-wanxin a i.icon-wanxin03{
	background-image: url(../images/icon-wanxin03.png);
}
.nav-wanxin a i.icon-wanxin04{
	background-image: url(../images/icon-wanxin04.png);
}
.nav-wanxin a i.icon-wanxin05{
	background-image: url(../images/icon-wanxin05.png);
}
.nav-wanxin a i.icon-wanxin06{
	background-image: url(../images/icon-wanxin06.png);
}
.nav-wanxin a i.icon-wanxin07{
	background-image: url(../images/icon-wanxin07.png);
}
.nav-wanxin a i.icon-wanxin08{
	background-image: url(../images/icon-wanxin08.png);
}

.blank{
  height: .3rem;
}

/*hot*/
.hot-title{
  text-align: center;
  padding: .2rem 0px;
  color: #666;
  font-size: 15px;
}

.hot-title i{
  display: inline-block;
  width: .38rem;
  height: .28rem;
  background-image: url(../images/hot.png);
  margin-right: .1rem;
  vertical-align: middle;
}
/*热销产品*/
.promotion-box{
  border-radius: .2rem;
  background-color: #fff;
  box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
  overflow: hidden;
}
.promotion-box a{
  float: left;
  width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; /*纵向*/
  padding: .3rem;
}
.promotion-box a:first-child{
  height: 4rem;
  border-right: 1px solid  #E0E3E5;
}

.promotion-box a:nth-child(2){
  height: 2rem;
  border-bottom: 1px solid  #E0E3E5;
}

.wx-container{
  padding: 0 .15rem;
}
.pro-ad{
  display: block;
  height: 2.7rem;
  background-size: cover;
}

/*商品列表*/
.product-list{
  clear: both;
  width: 100%;
  overflow: hidden;
  border-radius: .2rem;
}
.product-list a{
  float: left;
  width: -webkit-calc( 50% - .2rem);
  margin-right: 0.2rem;
  margin-bottom: 0.3rem;
  padding-bottom: .2rem;
  border-radius: .1rem;
  min-height: 5.2rem;
  background-color: #fff;
  box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
}
.product-list a:nth-child(2n){
  margin-right: 0;
}
.product-list h3{
  display: block;
  padding: .05rem .15rem;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;        

}
.product-list span{
  display: block;
  color: #A2A2A2;
  text-align: right;
  padding: .05rem .15rem;
}
.product-list span em{
  float: left;
  color: #FF3E00;
  font-size: 20px;
  line-height: 21px;
}
.product-list span em:first-letter{
  font-size: 14px;
}
.product-list .space-pro{
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.product-list .baoyou{
  float: left;
}

.baoyou{
  font-size: 12px;
  border-radius: .1rem;
  border: 1px solid  #FFB40C;
  color: #FFB40C;
  display: inline-block;
  text-align: center;
  width: .67rem;
  height: .3rem;
  line-height: .25rem;
  font-style: normal;
}

.btn-prod{
  display: block;
  border-radius: .2rem;
  background-color: #4BE336;
  color: #fff;
  box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
  text-align: center;
  line-height: .56rem;
  width: 50%;
  margin: 0 auto;
}

.city-search{
  height: 1rem;
  line-height: 1rem;
  background-color: #F6F6F6;
  border-bottom: 1px solid  #B1B8BF;
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  padding: .15rem .3rem;
}
.city-search .back2{
  display: block;
  width: .28rem;
  height: .7rem;
  background-image: url(../images/icon-back02.png);
  margin-top: .15rem;
}
.city-search input{
  border-radius: .1rem;
  height: .7rem;
  line-height: .7rem;
  background-color: #E6E6E6;
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  background-image: url(../images/icon-search.png);
  background-size: .36rem .36rem;
  background-position: .3rem center;
  margin-left: .6rem;
  padding-left: 0.7rem;
}

.city-top{
  padding: .3rem;
  font-size: 15px;
}
.city-top h3{
  color: #666;
}
.city-top p{
  display: block;
  padding: .3rem 0;
}
.city-top p{
  display: block;
  padding: .3rem 0;
}
.city-top ul{
  padding-top: .3rem;
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}
.city-top li{
	flex: 0 0 -webkit-calc(33.333% - .25rem);
  border-radius: .1rem;
  height: .6rem;
  line-height: .55rem;
  margin-right: .25rem;
  margin-bottom: .2rem;
  text-align: center;
  border: 1px solid  #E2E2E2;
  background-color: #fff;
}
.city-top li:nth-child(3n){
	margin-right: 0;
}

.city-list h3{
  color: #3C9EFA;
  font-size: 18px;
  padding-left: .3rem;
  padding-top: .2rem;
  padding-bottom: .1rem;
  border-bottom: 1px solid  #DADDE0;
}
.city-list li{
  height: .92rem;
  line-height: .92rem;
  background-color: #fff;
  border-bottom: 1px solid  #DADDE0;
  padding: 0 .3rem;
  font-size: 18px;
}
.city-list li:active{
  background-color: #eee;
}

.charactor{
	position: absolute;
	top: 1.2rem;
	right: .02rem;
	width: .5rem;
	font-size: 12px;
}

.charactor a{
	display: block;
	text-align: center;
	color: #3C9EF9;
}

.mine-top{
	background-image: url(../images/mine-top-bg.png);
	background-position: center bottom;
	height: 3.5rem;
	background-color: #3C9EFA;
	color: #fff;
}
.mine-top ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.mine-top ul li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	text-align: center;
}
.mine-top ul li p{
	display: block;
	margin-top: 1.4rem;
	line-height: 1.2;	
}
/*头像居中**/
.avatar-wrap{
	padding-top: .2rem;
	text-align: center;
	color: #fff;
}
.avatar-wrap .avatar{
	display: block;
  width: 1.3rem;
  height: 1.3rem;
	margin: 0 auto;
	background-color: #eee;
	border-radius: 50%;
}
.avatar-wrap span{
	display: block;
	margin-top:0;
	line-height: 1.2;	
}

.order-container{
	padding: 0 .2rem;
}

.order-manager{
	border-radius: .2rem;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
	height: 2.4rem;
	padding: .3rem;
	color: #666;
	margin-top: -1rem;
}
.order-manager h3 i{
	width: .36rem;
	height: .36rem;
	display: inline-block;
	vertical-align: -.1rem;
	background-image: url(../images/order-manager.png);
	margin-right: .1rem;
}
.order-manager h3 a{
	float: right;
	color: #B7B6B6;
}
.order-manager a{
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}
.order-manager > div{
	padding-top: 0.3rem;
}
.order-manager a i{
	width: .6rem;
	height: .6rem;
	display: block;
	margin: 0 auto .05rem;
}
.order-manager a i.icon-om01{
	background-image: url(../images/icon-om01.png);
}
.order-manager a i.icon-om02{
	background-image: url(../images/icon-om02.png);
}
.order-manager a i.icon-om03{
	background-image: url(../images/icon-om03.png);
}
.order-manager a i.icon-om04{
	background-image: url(../images/icon-om04.png);
}
.order-item a{
	display: block;
	border-radius: .2rem;
	background-color: #fff;
	background-position: right center;
	background-image: url(../images/order-arrow.png);
	background-size: .32rem;
	padding: .2rem .3rem;
	background-origin: content-box;
	margin-top: .2rem;
	box-shadow: 0px 1px 3px 0.6px rgba(131, 178, 222, 0.3);
}

.order-item a:active{
	background-color: #efefef;
}
.order-item i{
	display: inline-block;
	width: .48rem;
	height: .48rem;
	vertical-align: -.12rem;
	margin-right: .1rem;
}

.order-item .icon-oi01{
	background-image: url(../images/icon-oi01.png);
}
.order-item .icon-oi02{
	background-image: url(../images/icon-oi02.png);
}
.order-item .icon-oi03{
	background-image: url(../images/icon-oi03.png);
}
.order-item .icon-oi04{
	background-image: url(../images/icon-oi04.png);
}
.order-item .icon-oi05{
	background-image: url(../images/icon-oi05.png);
}
.order-item .icon-oi06{
	background-image: url(../images/icon-oi06.png);
}

/*头部*/
.header{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	height: 1rem;
	color: #fff;
	background-color: #608BF4;
	padding: 0 .2rem;
	font-size: 18px;
}
.header span{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	text-align: center;
}
.header a{
	display: block;
	width: .44rem;
	height: .44rem;
}
.header a:last-child{
	width: .6rem;
}
.header .icon-back{
	background-image: url(../images/icon-back.png);
	margin-right: .16rem;
}
.header .icon-info{
	background-image: url(../images/icon-info.png);
	width: .44rem !important;
}
.header .share{ /*用于文字*/
	word-break: keep-all;
	white-space: nowrap;
	/* padding-right: 16px; */
	color: #fff;
	font-size: 16px;
	width: .6rem;
}

.btn{
	display: block;
	width: 1.9rem;
	height: .6rem;
	line-height: .55rem;
	background-color: #4BE336;
	color: #fff;
	border-radius: .1rem;
	text-align: center;
}
.btn-group {
	text-align: center;
}
.btn-group .btn{
	margin: 0 .2rem;
	display: inline-block;
}

/*address none*/
.address-none{
	width: 4rem;
	height: 3rem;
	margin: 1.5rem auto 0;
	text-align: center;
	color: #A2A2A2;
	font-size: 15px;
}
.address-none img{
	margin: 0 auto;
	width: 80%;
}

/*address add*/
.address-add{
	border-radius: .2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
}
.address-add li{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	padding: .2rem .3rem;
	border-bottom: 1px solid  #ECEEF0;
}
.address-add li div{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.address-add li i{
	display: inline-block;
	width: .4rem;
	height: .4rem;
	vertical-align: middle;
	margin-right: .3rem;
}
.address-add li span{
	display: inline-block;
	color: #268BEA;
}
.address-add li input[type=text]{
	width: 100%;
	border: none;
	height: .6rem;
	font-size: 15px;
}
.address-add li .icon-addr01{
	background-image: url(../images/icon-addr01.png);
}
.address-add li .icon-addr02{
	background-image: url(../images/icon-addr02.png);
}
.address-add li .icon-addr03{
	background-image: url(../images/icon-addr03.png);
}
.address-add li .icon-addr04{
	background-image: url(../images/icon-addr04.png);
}
.address-add li .icon-addr05{
	background-image: url(../images/icon-addr05.png);
}

.btn-default{
	display: block;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-color: #4BE336;
	color: #fff;
	border-radius: .2rem;
	text-align: center;
}

.dropdown{
	position:relative;
}
.dropdown > div{
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:99999;
	background: #fff;
	padding:.1rem 0 0;
	border-bottom: 1px solid  #E1E4E6;
}
.btn-union-wrap{
	text-align: center;
	padding: .2rem .2rem;
	border-top: 1px solid  #E0E3E5;
}
.btn-union{
	width: 3.26rem;
	height: .8rem;
	line-height: .8rem;
	border: none;
	border-radius: .1rem;
	display: inline-block;
	margin: 0 .1rem;
	font-size: 15px;
	color: #fff;
}
.btn-union.primary{
	background-color: #268BEA;
}
.btn-union.default{
	background-color: #E2E2E2;
	color: #A2A2A2;
}
/*分类category*/
.category{
	position:relative;	
	z-index: 2;
}
.category-tabs{
	height:.7rem;
	overflow:hidden;
	background: #fff;
	border-bottom: 1px solid  #E0E3E5;
}
.category-tabs li{
	float:left;
	width:33.3%;
	height: .7rem;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	color:#fff;
	color: #666;
}
.category-tabs li.active{
	color: #531C59;
}
.category-tabs li i{
	width:.16rem;
	height:.14rem;
	display:inline-block;
	margin-left:5px;
	background-image: url(../images/drop02.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.category-tabs li.active i{
	background-image: url(../images/drop01.png);
}


.dropdown-mask{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.0;
	z-index: 1;
}

/*商家列表*/
.shop-show{
	
}
.shop-show a{
	padding: .3rem;
	border-bottom: 1px solid  #E0E3E5;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background: #fff;
}
.shop-show ul{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	margin-left: .3rem;
}
.shop-show span{
	display: block;
	padding: 0 0;
	color: #A2A2A2;
}
.shop-show span em{
	margin-left: .1rem;
}
.shop-show p{
	color: #A2A2A2;
}
.shop-show .shop-logo{
	width: 1.28rem;
	display: block;
}
.shop-show li h3{
	font-size: 18px;
}
.shop-show li h3 .icon-price{
	width: .36rem;
	height: .36rem;
	background-image: url(../images/icon-prize.png);
	display: inline-block;
	vertical-align: -.01rem;
	margin-left: .01rem;
}

.star{
	display: inline-block;
	width: 1.25rem;
	height: .25rem;
	background-image: url(../images/star.png);
	background-position: 0 -1.25rem;
	vertical-align: -.03rem;
}
.star.s1{
	background-position: 0 -1rem;
}
.star.s2{
	background-position: 0 -.75rem;
}
.star.s3{
	background-position: 0 -.5rem;
}
.star.s4{
	background-position: 0 -.25rem;
}
.star.s5{
	background-position: 0 0;
}

/*区域*/
.union-sort{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.union-sort .sort-box{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	border-right: 1px solid  #E0E3E5;
}
.union-sort .sort-box:last-child{
	border: none;
}
.union-sort .sort-box li{
	padding: 0 .2rem;
	border-bottom: 1px solid  #E0E3E5;
	font-size: 18px;
	color: #666666;
	min-height:1.12rem;
	line-height:1.12rem;
}
.union-sort .sort-box li{
	padding: 0 .2rem;
	border-bottom: 1px solid  #E0E3E5;
	font-size: 18px;
	color: #666666;
	min-height:1.12rem;
	line-height:1.12rem;
}
.union-sort .sort-box li:last-child{
	border-bottom: none;
}
.union-sort .sort-box li.active{
	color: #268BEA;
}
.union-sort .sort-box li label{
	min-height:1.12rem;
	line-height:1.12rem;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
}
.union-sort .sort-box li span{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	text-align: left;
}
.union-sort .sort-box li input[type=checkbox]{
	display: block;
	float: right;
	width: .31rem;
	height: .31rem;
	background-image: url(../images/check01.png);
}
.union-sort .sort-box li input[type=checkbox]:checked{
	background-image: url(../images/check01.png);
	background-position: 0 -.31rem;
}
.union-sort .sort-box li input[type=checkbox]:checked + span{
	color: #268BEA;
}

/*订单列表*/
.order{
	border-radius: .2rem;
	background-color: #fff;
	box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
	margin-bottom: .2rem;
}
.order .order-hd{
	font-size: 11px;
	color: #666;
	padding: .2rem;
	border-bottom: 1px solid  #F2F2F2;
}
.flex{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.order .order-hd a{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	margin-left: .5rem;
}
.order .order-hd label{
	float: right;
}
.order .coupon{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 12px;
	padding: .1rem .2rem;
}
.order .coupon label{
	display: block;
	width: .67rem;
	height: .3rem;
	border: 1px solid  #FE2641;
	border-radius: .1rem;
	text-align: center;
	line-height: 1.1;
	margin-right: .2rem;
	margin-top: .02rem;
	color: #FE2641;
}
.order .coupon span{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}

.order .order-bd{
	border-bottom: 1px solid  #F2F2F2;
	padding: .2rem .2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.order .order-bd .order-check{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /*左对齐*/
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; /*纵向*/
	width: 0.38rem;
	margin-right: .5rem;
}
.order .order-bd .order-pic{
	width: 1.26rem;
}
.order .order-bd .order-info{
	padding-left: .3rem;
	font-size: 12px;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	line-height: 1.4;
}
.order .order-bd .order-info h3{
	color: #333;
}
.order .order-bd .order-info span{
	font-size: 10px;
	color: #666;
}
.order .order-bd .order-info p{
	color: #FE2641;
}
.order .order-bd .order-info p em{
	float: right;
	color: #666;
}
.order .order-ft{
	text-align: right;
	padding: .1rem .2rem;
}
.order .order-ft a{
	display: inline-block;
	width: 1.1rem;
	height: .42rem;
	line-height: .42rem;
	text-align: center;
	font-size: 10px;
	border-radius: .1rem;
	margin: 0 .05rem;
}
.order .btn-cancel{
	border: 1px solid #595959;
	color: #666;
}
.order .btn-pay{
	border: 1px solid #268BEA;
	color: #268BEA;
}
/*购物车*/
.order .order-bd .order-pic2{
	width: 2rem;
}
.order .order-bd .order-pic2 img{
	border-radius: .1rem;
}
.order .order-bd .order-info2{
	padding-left: .3rem;
	font-size: 13px;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	line-height: 1.4;
}
.order .order-bd .order-info2 h3{
	color: #333;
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;   
}
.order .order-bd .order-info2 span{
	color: #A2A2A2;
	font-size: 12px;
	display: block;
	padding: 0 0 .05rem;
}
.order .order-bd .order-info2 .price{
	padding-top: .1rem;
	color: #FE2641;
}
.order .order-bd .order-info2 .price em{
	float: left;
	font-size: 18px;
}
.order .order-bd .order-info2 .price p{
	float: right;
}
/*订单 底部弹出菜单*/
.mask{
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.actionSheet{
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateY(100%);
	-webkit-transition: -webkit-transform .3s;
	background-color: #ddd;
}
.actionSheet h3{
	font-size: 18px;
	color: #000;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid  #E0E3E5;
	line-height: 1.2;
	padding: .05rem;
}
.actionSheet h3 span{
	display: block;
	font-size: 12px;
	color: #666;
}
.actionSheet .cell{
	padding: .2rem .4rem;
	text-align: left;
	border-bottom: 1px solid  #ececec;
	background-color: #fff;
	color: #000;
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	font-size: 16px;
}
.actionSheet .cell i{
	display: block;
	width: .6rem;
	height: .6rem;
	margin-right: .3rem;
	margin-top: .05rem;
}
.actionSheet .cell .icon-pay01{
	background-image: url(../images/icon-pay01.png);
}
.actionSheet .cell .icon-pay02{
	background-image: url(../images/icon-pay02.png);
}
.actionSheet .cell .icon-pay03{
	background-image: url(../images/icon-pay03.png);
}
.actionSheet .cell .icon-pay04{
	background-image: url(../images/icon-pay04.png);
}
.actionSheet .cell .icon-pay05{
	background-image: url(../images/icon-pay05.png);
}
.actionSheet .cell em{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	line-height: 1.2;
}
.actionSheet .cell em b{
	display: block;
	font-size: 11px;
	color: #666;
	font-weight: normal;
}
.actionSheet .cell input[type=radio]{
	display: block;
	width: .36rem;
	height: .36rem;
	background-color: transparent;
}
.actionSheet .cell input[type=radio]:checked{
	background-image: url(../images/radio.png);
}
.actionSheet .cell:active{
	background-color: #eee;
}
.actionSheet a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: inherit;
	background-color: #fff;
}
.actionSheet.show{
	-webkit-transform: translateY(0);
}
.actionSheet a.action-cancel{
	background-color: #278BE9;
	color: #fff;
}

.welcome-title{
	color: #A2A2A2;
	padding: 0.2rem 0 .1rem .1rem;
}

.address-add .bank{
	position: absolute;
	top: 1.1rem;
	left: 0rem;
	right: 0rem;
	background: #fff;
  box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41)
}
.address-add .bank > div{
	border-bottom: 1px solid  #ECEEF0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	font-size: 16px;
	padding: .2rem .3rem;
}
.address-add .bank > div i{
	width: .48rem;
	height: .48rem;
	margin-right: 0.2rem;
}
.address-add .bank > div i.icon-bank01{
	background-image: url(../images/icon-bank01.png);
}
.address-add .bank > div i.icon-bank02{
	background-image: url(../images/icon-bank02.png);
}
.address-add .bank > div i.icon-bank03{
	background-image: url(../images/icon-bank03.png);
}
.address-add .bank > div i.icon-bank04{
	background-image: url(../images/icon-bank04.png);
}
.address-add .bank > div i.icon-bank05{
	background-image: url(../images/icon-bank05.png);
}
.address-add .bank > div i.icon-bank06{
	background-image: url(../images/icon-bank06.png);
}
.address-add .bank b{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	font-weight: normal;
	line-height: 1.4;
}

.checkbox{
	display: block;
	width: .38rem;
	height: .38rem;
	background-image: url(../images/check.png);
}

.checkbox:checked{
	background-image: url(../images/check.png);
	background-position: 0 -.38rem;
}

/*spinner数量加减*/
.spinner{
	overflow: hidden;
}
.spinner a{
	display: inline-block;
	width: .5rem;
	height: .44rem;
	text-indent: 999px;
	vertical-align: middle;
	margin: 0 0 0.05rem;
	border: 1px solid #c2c2c2;
	border-top-left-radius: .1rem;
	border-bottom-left-radius: .1rem;
	background-size: .3rem;
	background-position: center;
}
.spinner a.DisDe,
.spinner a.Decrease{
	background-image: url(../images/icon-decrease.png)
}
.spinner a.Increase{
	background-image: url(../images/icon-increase.png);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: .1rem;
	border-bottom-right-radius: .1rem;
	background-color: #fff;
}
.spinner input{
	display: inline-block;
	width: .7rem;
	height: .44rem;
	/* margin: 0 5px; */
	text-align: center;
	color: #808080;
	background-color: #fff;
	border-radius: 0;
	border: 1px solid  #C2C2C2;
	border-left: none;
	border-right: none;
}

/*提交订单*/
.order-bar{
	position: fixed;
	bottom: 1rem;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 44px;
	background-color: #FDFDFD;
	border-top: 1px solid #E6E6E6;
}
.order-bar > div{
	padding: .1rem;
}
.order-bar > div em{
	color: #FE2641;
}
.order-bar a{
	width: 95px;
	line-height: 44px;
	text-align: center;
	background-color: #531C59;
}

/*购物车-列表*/
.order-bar.choose dl{
	webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding: 0 15px 0 10px;
}
.order-bar.choose dl dt {
	float: left;
	padding-top: 10px;
	font-size: 12px;
}
.order-bar.choose dl dt .checkbox{
	display: inline-block;
}
.order-bar.choose dl dt input[type=checkbox]{
	vertical-align: middle;
	margin: 3px 6px 7px 0;
}
.order-bar.choose dl dd {
	float: right;
	padding-top: 5px;
	text-align: right;
}
.order-bar.choose dl dd em{
	display: block;
	font-size: 12px;
}


/*******************购物车编辑********************/
.order-bar.choose a.del-car{
	background-color: #E22B42;
	color: #fff;
}
.order-show .product-del{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	width: 50px;
	margin:-5px -12px -5px 0;
	color: #fff;
	background-color: #FF4443	;
}
.btn-order-del{
  display: none;
  width: .8rem;
  margin-left: .1rem;
  background-color: #E22B42;
  color: #fff;
  text-align: center;
}

/*商品列表*/
.prod-search{
  height: 1rem;
  line-height: 1rem;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: .2rem .1rem;
}
.prod-search .icon-back03{
  display: block;
  width: .6rem;
  height: .6rem;
  background-image: url(../images/icon-back03.png);
}
.prod-search .icon-humburg{
  display: block;
  width: .6rem;
  height: .6rem;
  background-image: url(../images/icon-humburg.png);
}
.prod-search input{
  border-radius: .6rem;
  height: .6rem;
  line-height: .6rem;
  background-color: #E6E6E6;
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  background-image: url(../images/icon-search.png);
  background-size: .36rem .36rem;
  background-position: .3rem center;
  /* margin-left: .6rem; */
  padding-left: 0.7rem;
}

/*产品tabs*/
.prod-tabs ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.prod-tabs li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	width:0%;/*必须有*/
	height:.82rem;
	line-height: .82rem;
	text-align:center;
	color: #333;
	background-color: #fafafa;
}
.prod-tabs li.curr{
	color: #FF6400;	
	border-bottom: 2px solid  #FF6400;
}


/*产品详情*/
/*swiper02*/
.swiper02 {
	width: 100%;
  background-color: #eee;
}
.swiper02 .swiper-pagination-bullet {
	width: 8px !important;
	height: 8px !important;
	background: #fff !important;
	border: 1px solid #ddd !important;
	margin: 3px !important;
	opacity: 1;
  border-radius: 8px;
}
.swiper02 .swiper-pagination-bullet-active {
	background: #FFC602 !important;
}


.product-title{
 padding: .2rem;
 background-color: #fff;
}
.product-title h3{
  color: #333;
  line-height: 1.4;
  padding-bottom: .1rem;
}

.product-title dl{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.product-title dl dt{
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  line-height: 1.2;
}
.product-title dl dt p{
  font-size: 16px;
  color: #FF6400;
}
.product-title dl dt label,
.product-title dl dt p em{
  font-size: 10px;
  color: #999;
}
.product-title dl dt p em{
  text-decoration: line-through
}
.product-title dl dd{
  display: block;
  color: #999;
  font-size: 10px;
}
.product-title dl dd em{
  font-size: 10px;
  color: #FF6400;
}

.prod-detail-item{
  border-top: 1px solid  #EEE;
  padding: 0 .2rem;
  background-color: #fff;
}
.prod-detail-item li{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid  #EEE;
  padding: .2rem 0;
}
.prod-detail-item li em{
  min-width: 1rem
}
.prod-detail-item li span{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.prod-detail-item li i.liarrow{
  display: block;
  width: .4rem;
  height: .4rem;
  background-image: url(../images/liarrow.png);
}
.prod-bg{
  background-color: #F1F1F1;
}

/*评论*/
.comment-list{
  margin-top: .2rem;
  background-color: #fff;
}
.comment-list h3{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  height: .66rem;
  line-height: .66rem;
  padding: 0 .2rem;
  border-bottom: 1px solid  #F8F8F8;
}
.comment-list h3 span{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.comment-list h3 p em{
  color: #FF6400;
}
.comment-list dl{
  padding: .2rem;
  border-bottom: 1px solid #F7F7F7;
}

.comment-list dl dt{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.comment-list dl dt span{
  width: .55rem;
  height: .55rem;
  border-radius: 50%;
  margin-right: .1rem;
}
.comment-list dl dt p{
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  line-height: 1.2;
}
.comment-list dl dt p b{
  font-size: 13px;
}
.comment-list dl dt p em{
  display: block;
  font-size: 8px;
  color: #999;
}
.comment-list dl dt .vip-star{
  display: block;
  width: 1rem;
  height: .16rem;
  margin-top: .1rem;
  background-image: url(../images/vip-star.png);
  background-size: 100%;
}

.vip-star.s1{
	background-position: 0 0;
}
.vip-star.s2{
	background-position: 0 -.16rem;
}
.vip-star.s3{
	background-position: 0 -.32rem;
}
.vip-star.s4{
	background-position: 0 -.48rem;
}
.vip-star.s5{
	background-position: 0 -.64rem;
}
.comment-list dl dd{
  padding: .2rem 0;
  color: #666;
  font-size: 10px;
}

.btn-comment-all{
  text-align: center;
  padding:0 0 .1rem;
}
.btn-comment{
  display: block;
  width: 1.26rem;
  height: .42rem;
  border-radius: .42rem;
  text-align: center;
  border: 1px solid  #FF6400;
  color: #FF6400;
  font-size: 10px;
  margin: 0 auto;
  background-color: #fff;
}

/*购物导航栏*/
.mall-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 44px;
	background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(63, 101, 157, 0.53);
}
.mall-bar a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	flex-direction:column; /*纵向*/
	font-size: 10px;
	color: #333;
	line-height: 1.2;
}
.mall-bar a i{
	width: .44rem;
	height: .44rem;
}
.mall-bar a i.icon-mall01{	
	background-image: url(../images/icon-mall01.png);
}
.mall-bar a i.icon-mall02{	
	background-image: url(../images/icon-mall02.png);
}
.mall-bar a i.icon-mall03{	
	background-image: url(../images/icon-mall03.png);
  position: relative;
}
.mall-bar a:nth-child(4){
  color: #fff;
  background-color: #E22B42;
  width: 20%;
  flex: auto;
}
.badge {
  position: absolute;
  top: 0px;
  right: -.16rem;
  width: .32rem;
  height: .32rem;
  line-height: .32rem;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #E22B42;
  font-style: normal;
  font-weight: normal;
}

.mine-set{
  position: absolute;
  top: .3rem;
  right: .3rem;
  display: block;
  background-image: url(../images/mine-set.png);
  width: .5rem;
  height: .5rem;
}

/*店铺头部*/
.shop-header{
  height: 2.27rem;
  padding: 1.18rem .2rem .1rem;
  background-image: url(../images/shop-header.jpg);
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.shop-header .shop-logo{
  width: .8rem;
  height: .8rem;
}
.shop-header .shop-name{
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  margin-left: .2rem;
}
.shop-header .shop-name p{
  font-size: 10px;
}
.shop-header .shop-name p em{
  margin-left: .2rem;
}
.shop-header .shop-fav{
  display: block;
  width: 1.18rem;
  height: .44rem;
  border-radius: .08rem;
  background-color: #FF2150;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: .2rem;
}
.shop-header .shop-fav i{
  width: .28rem;
  height: .22rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: .1rem;
  background-image: url(../images/shop-fav.png);
}

/*店铺tabs*/
.shop-tabs ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  height: .84rem;
  border-bottom: 1px solid  #EFEFEF;
}
.shop-tabs li{
  position: relative;
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  height: .84rem;
  padding-top: .05rem;
  text-align:center;
  color: #999;
  background-color: #fff;
}
.shop-tabs li.curr{
	color: #FF2150;	
	border-bottom: 1px solid  #FF2150;
}
.shop-tabs li:after{
	content: '';
  display: block;
  position: absolute;
  right: 0;
  top: .1rem;
  bottom: .1rem;
  width: 1px;
  background-color: #E9E9E9;
}
.shop-tabs li:last-child:after{
  display: none;
}
.shop-tabs li .icon-shop01{
	display: block;
  width: .32rem;
  height: .32rem;
	background-image: url(../images/icon-shop01.png);
  margin: 0 auto;
}
.shop-tabs li p{
	display: block;
  height: .32rem;
}
.shop-info-container{
  background-color: #fff;
  padding: .2rem;
  border-bottom: 1px solid  #E6E6E6;
}

.shop-credit{
  padding: .2rem 0;
  border-bottom: 1px solid  #E6E6E6;
}
.shop-credit ul{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.shop-credit li{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  font-size: 12px;
  color: #666;
}
.shop-credit li:nth-child(2){
  padding: 0 .3rem;
}
.shop-credit li *{
  display: inline-block;
  vertical-align: middle;
}
.shop-credit li em{
  margin: 0 .06rem;
  color: #FF2150;
}
.shop-credit li i{
  color: #fff;
  background-color: #FF2150;
  width: .28rem;
  line-height: .28rem;
  font-size: 12px;
  font-style: normal;
  text-align: center;
}

.shop-time{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  padding: .2rem 0;
  border-bottom: 1px solid  #E6E6E6;
}
.shop-time:last-child{
  border-bottom: none;
}
.shop-time label{
  width: 1.11rem;
}
.shop-time span{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  padding: 0 .25rem;
}
.shop-time .icon-phone{
  width: .36rem;
  height: .36rem;
  background-image: url(../images/icon-phone.png);
  display: block;
}


/*分销中心*/
.sale-bg{
  background-image: url(../images/sale-bg.png);
  background-color: #ECF1FF;
  background-position: 0 1rem;
}

.sale-header{
  padding: .5rem 0 0;
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  color: #fff;
}
.sale-header > div{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
}
.sale-header p,
.sale-header h3{
  font-size: 15px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(62, 102, 198, 0.6);
}
.sale-header p{
  font-size: 24px;
}
.btn-pick{
  display: block;
  width: 1.2rem;
  height: .4rem;
  line-height: 1.1;
  border: 1px solid  #fff;
  text-align: center;
  color: #fff;
  font-size: 15px;
  border-radius: .1rem;
  margin: .3rem 0 0 .3rem;
}

.sale-bonus ul{
  margin-top: .6rem;
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.sale-bonus ul li{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(62, 102, 198, 0.6);
  opacity: .9;
}
.sale-bonus ul li p{
  font-size: 18px;
}

/*我的团队*/
.sale-item{
  border-radius: .2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 12.22px 0.78px rgba(131, 178, 222, 0.41);
  padding: .3rem;
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}
.sale-item a{
  flex: 0 0 50%;
  text-align: center;
  position: relative;
}
.sale-item a:nth-child(2):after{
  content: '';
  width: 1px;
  position: absolute;
  top: .2rem;
  bottom: .2rem;
  left: 0;
  background-color: #E0E3E5;
}
.sale-item a i{
  display: block;
  margin: 0 auto;
  width: .88rem;
  height: .88rem;
}
.sale-item a i.icon-sale01{
  background-image: url(../images/icon-sale01.png);
}
.sale-item a i.icon-sale02{
  background-image: url(../images/icon-sale02.png);
}
.sale-item a i.icon-sale03{
  background-image: url(../images/icon-sale03.png);
}
.sale-item a i.icon-sale04{
  background-image: url(../images/icon-sale04.png);
}
.sale-item a i.icon-sale05{
  background-image: url(../images/icon-sale05.png);
}
.sale-item a i.icon-sale06{
  background-image: url(../images/icon-sale06.png);
}
.sale-item a h3{
  font-size: 15px;
  color: #000;
  line-height: 1.4;
}
.sale-item a p{
  font-size: 12px;
  color: #666;
}
.sale-container{
  padding: .3rem;
}

.sale-line{
  position: relative;
}
.sale-line:after{
  content: '';
  width: 1px;
  position: absolute;
  top: .5rem;
  bottom: .5rem;
  left: 50%;
  background-color: #E0E3E5;
}
.sale-line:before{
  content: '';
  height: 1px;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 50%;
  background-color: #E0E3E5;
}
.sale-line a:nth-child(2):after{
  display: none;
}
.sale-line a{
  margin-bottom: .6rem;
}

.sale-line a:nth-child(3),
.sale-line a:nth-child(4){
  margin-bottom: 0;
}
/*sale list*/
.sale-list li{
  border-bottom: 1px solid #E1E4E6;
  background-color: #fff;
  padding: .2rem .35rem;
}
.sale-list li h3{
  font-size: 15px;
}
.sale-list li div{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.sale-list li div label{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  color: #666;
  text-align: right;
}
.sale-list li div span{
  display: block;
  padding-right: .2rem;
  font-size: 12px;
}
.sale-list li div span em{
  color: #F60909;
}

/*分销订单*/
.sale-list-tabs{
	border-bottom: 1px solid  #E2E4E6;
}
.sale-list-tabs ul{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.sale-list-tabs li{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	height:.7rem;
	line-height: .7rem;
	text-align:center;
	color: #666;
	background-color: #fff;
}
.sale-list-tabs li.curr{
	color: #268BEA;	
	border-bottom: 2px solid #268BEA;
}

/*分销津贴*/
.sale-bonus-header{
  background-color: #608BF4;
  padding: .5rem 0;
  color: #fff;
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(62, 102, 198, 0.6);
}
.sale-bonus-header h3{
  font-size: 30px;
}

/*分销项目*/
.sale-bonus-item ul li{
  background-color: #fff;
  padding: .25rem;
  border-bottom: 1px solid  #E0E3E5;
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  font-size: 15px;
}
.sale-bonus-item ul li i{
  display: block;
  width: .6rem;
  height: .6rem;
}
.sale-bonus-item ul li .icon-bonus01{
  background-image: url(../images/icon-bonus01.png);
}
.sale-bonus-item ul li .icon-bonus02{
  background-image: url(../images/icon-bonus02.png);
}
.sale-bonus-item ul li .icon-bonus03{
  background-image: url(../images/icon-bonus03.png);
}
.sale-bonus-item ul li .icon-bonus04{
  background-image: url(../images/icon-bonus04.png);
}
.sale-bonus-item ul li p{
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  font-size: 18px;
  padding-left: .25rem;
}

/*津贴说明*/
.bonus-pop{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.bonus-pop .bonus-pop-body{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4.8rem;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: .2rem;
  overflow: hidden;
}
.bonus-pop .bonus-pop-body h3{
  padding: 1.39rem 0 .1rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #268BEA;
  background-image: url(../images/bonus-pop.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 4.1rem auto;
}
.bonus-pop .bonus-pop-body ul{
  padding: .4rem;
}
.bonus-pop .bonus-pop-body ul li{
  background-image: url(../images/bonus-dot.png);
  background-position: 0 .15rem !important;
  background-size: .06rem;
  padding-left: .2rem;
  color: #666;
}

.bonus-pop .bonus-pop-body button{
  border: none;
  width: 100%;
  border-top: 1px solid  #DDD;
  line-height: .8rem;
  color: #268BEA;
  text-align: center;
  font-size: 16px;
}

/*积分详情*/
.sale-score li{
  border-bottom: 1px solid #E1E4E6;
  background-color: #fff;
  padding: .25rem .35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.sale-score li i{
  display: block;
  width: .68rem;
  height: .68rem;
  border-radius: 50%;
  margin-right: .2rem;
}
.sale-score li h3{
  font-size: 15px;
  -webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
  line-height: 1.1;
}
.sale-score li h3 p{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
.sale-score li h3 label{
  font-size: 12px;
  color: #666;
}
.sale-score li span{
  display: block;
  color: #F60909;
  font-size: 15px;
  margin-top: .2rem;
}







